<div class="singleRow">
  <form id="coupon-form">
    <label for="coupon">
      Enter A Coupon Code
    </label>
    <input type="text" id="coupon" name="coupon">
    <button type="submit">
      APPLY
    </button>
    <div class="msg" style="display: none;margin-top:5px"></div>
  </form>
</div>
<script type="text/javascript">
  $('#coupon-form').on('submit', function(e) {
      e.preventDefault();
      $.ajax({
          url: 'index.php?route=extension/total/coupon/coupon',
          type: 'post',
          data: 'coupon=' + encodeURIComponent($('#coupon-form input[name=\'coupon\']').val()),
          dataType: 'json',
          beforeSend: function(){
              $('#coupon-form .msg').hide();
          },
          success: function(json) {
              $('.alert-dismissible').remove();

              if (json['error']) {
                  $('#coupon-form .msg').removeClass('text-success');
                  $('#coupon-form .msg').addClass('text-danger');
                  $('#coupon-form .msg').html(json['error']);
                  $('#coupon-form .msg').show(100);
              }
              else if(json['success']){
                  $('#coupon-form .msg').removeClass('text-danger');
                  $('#coupon-form .msg').addClass('text-success');
                  $('#coupon-form .msg').html(json['success']);
                  $('#coupon-form .msg').show(100);
              }

          },
          error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
      });
  });
</script>

