
@font-face {
  font-family: 'Raleway-Medium';
  src: url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),  url('Raleway-Medium.woff') format('woff'), url('Raleway-Medium.ttf')  format('truetype'), url('Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
