$red: #FF0000;
$dark-gray: #101010;
$border-color: rgba(112, 112, 112, 0.2);
p {
  z-index: 9;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  z-index: 9;
  align-self: center;
}

body {
  section {
    &:first-of-type {
      margin-top: 30px;
    }
  }
}

.model {
  display: none;
  //.row {
  //  width: 100%;
  //}
}

.myContainer {
  max-width: 1220px;
  margin: 0 auto;
  width: 90vw;
}

.darkGray {
  color: $dark-gray;
}

img {
  width: 100%;
}

.logo {
  width: 73px;
  height: 25px;
}

.subData {
  background-color: $red;
  padding: 0 28px;
  height: 60px;
  justify-content: space-around;
  > li {
    display: inline-block;
    font-size: 11px;
    color: #fff;
    text-align: center;
    font-family: 'realway-semibold';
    &:nth-child(2) {
      margin: 0 46px;
    }
  }
  img {
    width: 20px;
  }
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  > .myContainer {
    margin: 0;
    height: 120px;
    width: 100vw;
  }
  .whiteBg, .subData {
    width: 100vw;
    padding: 0 7.5vw;
  }
  .whiteBg {
    display: none;
    height: 60px;
    background-color: #fff;
    justify-content: space-between;
  }
  .navLinks {
    display: none;
    padding: 0 29px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    li {
      display: inline-block;
      text-align: center;
      min-width: 8px;
      font-size: 16px;
      position: relative;
      a {
        display: block;
        box-sizing: content-box;
        padding: 0 10px;
      }
      &:hover, &.active {
        &:after {
          content: "";
          position: absolute;
          bottom: -9px;
          left: 46%;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background-color: $red;
        }
      }
    }
  }
  .subData {
    position: relative;
  }
  .search {
    margin: 0 35px;
    display: none;
    img {
      width: 21px;
      height: 21px;
    }
  }
  .navIcon {
    display: block;
  }
}

.subDataImage {
  height: 20px;
  width: fit-content;
  //margin-bottom: 10px;
  margin: 0 auto 10px;
  position: relative;
}

.itemNumbers {
  position: absolute;
  right: -12px;
  top: 1px;
  background-color: #fff;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  color: red;
  border: 1px solid red;
  font-size: 10px;
  font-family: 'realway-semibold';
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  &:hover {
    color: inherit;
  }
}

.half {
  width: 100%;
  float: left;
}

.threeCols {
  width: calc(100% / 3);
}

.homeSlider {
  background-color: $dark-gray;
  min-height: 487px;
  margin-top: 0 !important;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  position: relative;
  .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #fff;
    padding-bottom: 25px;
    .mainText {
      padding-bottom: 5px;
      margin-bottom: 15px;
    }
    .after {
      &:after {
        width: 20%;
        height: 3px;
      }
    }
  }
  .bgImg {
    position: absolute;
    width: 100%;
    right: 0;
    top: 36%;
    img {
      height: 100px;
    }
    &.left {
      display: none;
      left: -34%;
      right: auto;
    }
  }
  .half {
    &:first-child {
      text-align: center;
    }
    img {
      width: 274px;
    }
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    text-align: left;
    bottom: 0px;
  }
  .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .swiper-pagination-bullet-active {
    background-color: $red;
  }
  .subText {
    font-family: 'realway-medium';
  }
}

.tabSection {
  background-color: #fff;
  padding-top: 0;
  .myContainer {
    width: 100%;
  }
  .catContaienr {
    .ui-selectmenu-button.ui-button {
      justify-content: center !important;
      background-color: $red !important;
      color: #fff !important;
      &:hover, &:focus, &:active {
        color: #fff !important;
      }
      .ui-icon {
        background-image: url("../images/down2.png") !important;
      }
    }
  }
  .commonTabs .ui-tabs-nav a {
    color: #fff !important;
  }
  .type {
    display: flex;
    align-items: center;
    padding: 30px 0 0;
    a {
      padding: 0 15px;
      width: 50%;
      text-align: center;
      color: #000;
      &:first-child {
        border-right: 1px solid $border-color;
      }
    }
  }
  .changedSelect {
    border: none;
    margin-top: 0;
    background: $red url(../images/down2.png) no-repeat calc(100% - 30px) !important;
    color: #fff;
    option {
      color: $red;
      background-color: #fff;
    }
  }
}

.tabs {
  z-index: 9;
  //display: none;
  ul {
    line-height: 85px;
    display: flex;
    justify-content: space-around;
    background-color: $red;
    li {
      a {
        color: #fff !important;
        font-size: 16px;
        font-family: 'realway-bold';
      }
      &.ui-state-active {
        position: relative;
        &:after {
          position: absolute;
          content: "";
          border-width: 8px;
          border-style: solid;
          border-color: transparent transparent white transparent;
          bottom: -1px;
          left: calc(50% - 4px);
        }
      }
    }
  }
  .tabsContent {
    padding: 30px 0;
    font-size: 16px;
    color: #000;
    width: 90vw;
    margin: 0 auto;
    font-family: 'realway-bold';
    select {
      font-family: 'realway-bold';
      color: #000;
    }
    button {
      font-family: 'realway-bold';
      color: #fff;
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border: none;
  color: black;
  padding: 0 20px;
  height: 20px !important;
}

.singleTab {
  .formBorder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid $border-color;
  }
  form, .vehicleForm {
    padding: 0;
    a {
      display: inline-block;
      width: calc(100% / 3);
      margin: 20px 0;
      padding: 0 24px;
      &:not(:last-child) {
        border-right: 1px solid $border-color;
      }
      &:focus {
        box-shadow: none;
      }
    }
    button {
      font-size: 18px;
      border: none;
      background-color: $red;
      color: #fff;
      height: 60px;
      width: 100%;
      margin-top: 20px;
    }
  }
}

#vehicle {
  a {
    span {
      &:first-child {
        display: none;
      }
    }
    i {
      display: inline-block;
      margin: 4px 0;
      color: $red;
    }
  }
}

#partNo, #number {
  .vehicleForm {
    position: relative;
  }
  input {
    height: 60px;
    font-size: 16px;
    font-family: 'realway-bold';
  }
  ::-webkit-input-placeholder {
    color: #000;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border: none;
  background: transparent url(../images/down2.png) no-repeat calc(100% - 10px) !important;
  color: #fff;
  font-size: 16px !important;
  font-family: 'realway-bold';
  padding: 0 33px;
}

option {
  color: #000;
  border: 1px solid $dark-gray;
}

.opacityDiv {
  z-index: 99;
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
}

.borderedText {
  display: flex;
  flex-wrap: wrap;
  .mainText {
    line-height: 1.2;
    width: 235px;
    p {
      display: inline-block;
      margin-bottom: 30px;
      font-family: 'realway-medium';
      &:after {
        width: 118px;
        height: 2px;
        bottom: -17px;
      }
    }
    h1 {
      padding-right: 18px;
      margin-bottom: 12px;
      color: $dark-gray;
    }
  }
  .subText {
    max-width: 100%;
  }
}

.chooseUs {
  .imgContainer {
    margin-top: 50px;
  }
  img {
    margin-top: 50px;
  }
  .borderedText {
    > p {
      &:first-of-type {
        font-family: 'realway-medium';
      }
      &:last-of-type {
        padding: 27px;
        background-color: #fff;
        font-family: 'realway-medium';
      }
    }
  }
}

.commonBtn {
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 19px 5px;
  background-color: $red;
  margin-bottom: 23px;
  border: none;
}

.bgText {
  .subTxt {
    font-family: 'realway-regular';
  }
}

.shopByBrand {
  min-height: 195px;
  background-size: cover;
  display: flex;
  align-items: center;
  //padding-bottom: 24px;
  h1 {
    padding: 20px 0;
    margin-bottom: 60px;
  }
  .bgText {
    justify-content: space-between;
    h1 {
      width: auto;
    }
  }
  .twoButtons {
    float: right;
    width: 100%;
    z-index: 9;
    align-self: center;
  }
  .basic {
    a {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      color: $red;
      height: 60px;
      width: 100%;
      &:hover {
        background-color: $red;
        color: #fff;
      }
    }
  }
  .cats {
    .ui-selectmenu-button.ui-button {
      padding: 0 20px!important;
    }
  }
}

.twoButtons {
  a {
    font-family: 'realway-bold';
    text-transform: uppercase;
    font-size: 18px;
    width: 183px;
  }
}

.singleModel {
  width: 100%;
}

.popular {
  display: flex;
  flex-wrap: wrap;
  margin: 38px -10px 0;
  .singleModel {
    margin: 0 10px 20px;
    text-align: center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top;
    .imgContainer {
      height: 144px;
      background-position: bottom;
    }
    img {
      height: 105px;
      margin-top: 70px;
      width: auto;
    }
    .carDesc {
      padding-bottom: 42px;
      p {
        color: red;
        font-size: 22px;
        font-family: 'realway-bold';
        &:first-child {
          font-size: 26px;
          margin-top: 50px;
          color: #000;
          font-family: 'realway-medium';
        }
      }
    }
  }
  .commonBtn {
    font-family: 'realway-bold';
    color: #fff;
    margin: 30px 0 0;
    font-size: 18px;
  }
}

.smallText {
  margin-top: 30px;
  font-family: 'realway-medium';
}

.swiper-button-prev, .swiper-button-next {
  &:focus {
    outline: none;
  }
}

.shopByCategory {
  background-color: $dark-gray;
  padding-bottom: 33px;
  .categories {
    padding: 40px 0 50px;
    flex-wrap: wrap;
    .swiper-slide {
      padding: 16px;
      background-color: #fff;
      .categoryDescription {
        align-self: center;
        border-left: 1px solid $border-color;
      }
    }
  }
  .swiper-button-prev, .swiper-button-next {
    background-image: none;
    color: $red;
    top: auto;
    bottom: 10px;
  }
  .swiper-button-prev {
    left: calc(50% - 43px);
  }
  .swiper-button-next {
    right: calc(50% - 43px);
  }
  .swiper-button-disabled {
    color: #fff;
    opacity: 1;
  }
  .bgText {
    min-height: 90px;
    h1 {
      margin-top: 20px;
    }
    .imgContainer {
      height: 70px;
      top: 20px;
    }
  }
}

.accessories {
  padding: 40px 0;
  .ui-selectmenu-button.ui-button {
    justify-content: center !important;
  }
  .commonTabs > .ui-selectmenu-button.ui-button, .commonTabs > .ui-selectmenu-button.ui-button:hover {
    background-color: $red !important;
    color: #fff !important;
    margin-top: 20px;
    .ui-icon {
      background-image: url("../images/down2.png") !important;
    }
  }
  .forTabs .ui-selectmenu-button.ui-button, .forTabs .ui-selectmenu-button.ui-button:hover {
    background-color: #fff !important;
    margin-bottom: 20px;
    color: #000 !important;
  }
  .myContainer {
    overflow: hidden;
  }
  .commonTabs .ui-tabs-nav a {
    color: #fff !important;
  }
  .accessoriesForMobile {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 22px 0;
    p {
      font-size: 18px;
      font-family: 'realway-bold';
    }
  }
  .commonTabs {
    padding: 0;
    .row {
      margin-bottom: 50px;
    }
    ul {
      &.secondList {
        background-color: #fff;
        padding: 35px 0;
        margin-bottom: 50px;
        justify-content: space-around;
        a {
          color: $dark-gray;
          &:hover {
            color: $red;
          }
        }
      }
      &.firstList {
        padding: 0;
        height: 60px;
        background-color: $red;
        margin: 50px 0 0;
        display: flex;
        justify-content: center;
        li {
          align-self: center;
          padding: 20px 0;
          &:first-child {
            margin-right: 110px !important;
          }
          &.ui-state-active {
            position: relative;
            &:after {
              position: absolute;
              content: "";
              border-width: 10px;
              border-style: solid;
              border-color: transparent transparent white transparent;
              bottom: -1px;
              left: calc(50% - 8px);
            }
          }
          a {
            color: #fff;
          }
        }
      }
      li {
        display: inline-block;
        font-family: 'realway-semibold';
        font-size: 16px;
        &.ui-state-active {
          color: $red;
        }
      }
    }
    .commonBtn {
      color: #fff;
      font-family: 'realway-bold';
      font-size: 18px;
    }
  }
  #accessoryTab {
    ul {
      display: none;
    }
  }
  .mainImage, .subImage {
    position: relative;
    margin-bottom: 20px;
    &:hover {
      .mainImgDescription {
        display: block;
      }
    }
  }
  .mainImgDescription {
    display: none;
    padding: 12px 16.5px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    p {
      color: $dark-gray;
      &:first-child {
        font-size: 18px;
        color: $red;
        padding-bottom: 11px;
        margin-bottom: 14px;
        border-bottom: 1px solid $border-color;
      }
      &:last-child {
        font-size: 14px;
        font-family: 'realway-bold';
      }
    }
  }
}

.accessory {
  width: calc(100% - 20px);
  margin: 0 10px;
}

.mainImage {
  height: 389px;
  overflow: hidden;
}

.subImage {
  height: 389px;
  overflow: hidden;
  &:first-child {
    margin-bottom: 20px;
  }
}

.bgText {
  position: relative;
  min-height: 110px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 6px;
  color: #fff;
  h1 {
    z-index: 9;
    width: 100%;
    color: #fff;
    align-self: center;
  }
  .imgContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    padding: 6px 0;
    background-clip: content-box;
    background-color: $dark-gray;
    &:after {
      margin: -6px 0;
      bottom: 6px;
    }
    &:before {
      top: 1px;
    }
    img {
      min-width: 100%;
      min-height: 100%;
      width: auto;
    }
  }
  .imgWrapper {
    height: calc(100% - 40px);
    overflow: hidden;
    margin: 15px 0;
  }
}

.accessoriesSection {
  min-height: 100%;
  .twoButtons {
    text-align: center;
    margin-top: 20px;
    a {
      margin: 20px auto;
    }
  }
  .text {
    background-color: #fff;
    padding: 25px;
    font-family: 'realway-medium';
  }
}

.hover {
  &:hover {
    color: $red;
  }
}

.aroundFooter {
  padding-top: 40px;
  overflow: hidden;
}

footer {
  background-color: $dark-gray;
  padding: 30px 0;
  position: relative;
  .footerContent {
    width: 129px;
    margin: 0 auto;
  }
  .top {
    position: relative;
    margin-bottom: 50px;
  }
  .footerItem {
    color: #fff;
    margin-bottom: 40px;
    .logo {
      width: 90px;
      height: 31px;
    }
    .head {
      font-size: 17px;
      font-family: 'realway-medium';
      margin-bottom: 15px;
      span {
        &:after {
          height: 2px;
          bottom: -11px;
        }
      }
      &:after {
        width: 65px;
        height: 3px;
      }
    }
    .description {
      font-size: 12px;
      font-family: 'realway-semibold';
      a {
        display: block;
        margin-bottom: 14px;
      }
      span {
        display: inline-block;
      }
    }
  }
  .bottom {
    font-size: 10px;
    height: 53px;
    position: absolute;
    width: 100%;
    bottom: 0;
    .myContainer {
      width: 100%;
    }
    .copyRight {
      font-family: 'realway-bold';
      height: 53px;
      background-color: #fff;
      width: calc(100% - 170px);
      float: left;
      padding: 20px;
    }
    .leaveMsg {
      height: 53px;
      background-color: $red;
      width: 100%;
      float: left;
      font-family: 'realway-bold';
      a {
        padding: 20px 26px;
      }
    }
    a {
      margin-right: -20px;
      color: #fff;
    }
  }
}

.scroll {
  position: absolute;
  right: 0;
  top: -52px;
  display: inline-block;
  padding: 8px 15px;
  font-size: 25px;
  background-color: $red;
  color: #ffff;
  line-height: 1;
}

.sectionTitle {
  padding: 23px 0;
  color: #101010;
  text-align: center;
}

.mainButton {
  background-color: #fff;
  color: $red!important;
  font-family: 'realway-bold';
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  &:hover, .active {
    background-color: $red;
    color: #fff!important;
  }
}

.commonMargin {
  margin-bottom: 60px;
}

.accessoryText {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  color: #000;
  line-height: 1.8;
  font-family: 'realway-medium';
}

.marginBottom90 {
  margin-bottom: 50px;
}

.policyContent {
  padding: 30px 40px;
  background-color: #fff;
  font-family: 'realway-medium';
  .after {
    font-size: 18px;
    margin-bottom: 12px;
    &:after {
      width: 63px;
      height: 3px;
      background-color: $red;
    }
  }
  .content {
    line-height: 1.8;
    font-size: 16px;
  }
  .singlePolicy {
    margin-bottom: 20px;
    &.different {
      p {
        margin-bottom: 30px;
      }
    }

  }
  .fbi {
    span {
      &:first-child {
        font-size: 18px;
        font-family: 'realway-bold';
      }
      &:last-child {
        font-size: 16px;
        font-family: 'realway-medium';
      }
    }
  }
}

.registerStyle {
  width: 100%;
  background-color: #fff;
  padding: 19px 29px;
  .form-group {
    margin-bottom: 20px !important;
    input {
      height: 60px;
      border: 1px solid $border-color;
      border-radius: 0;
      font-size: 16px;
      font-family: 'realway-bold';
    }
  }
}

.signing {
  display: flex;
  flex-wrap: wrap;
  .register {
    align-self: flex-start;
    font-size: 16px;
    margin-bottom: 20px;
    p {
      margin-bottom: 30px;
    }
    button {
      font-size: 16px;
      border: none;
      color: #fff;
      font-family: 'realway-bold';
      margin-bottom: 20px;
    }
    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
    input[type=checkbox] {
      opacity: 0;
      cursor: pointer;
      position: absolute;
    }
    .loginBtn {
      text-align: center;
    }
  }
}

.required {
  input {
    padding-left: 25px;
  }
  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
  }
}

.padding-rem {
  padding: 0 0.75rem !important;
}

.requiredSelect {
  margin-bottom: 20px;
  select {
    padding: 0 24px;
    color: #000;
  }
  .star {
    font-size: 28px;
    font-family: 'realway-bold';
    left: 12px;
    top: 17px;
    z-index: 99;
  }
}

.inCorrect {
  display: block;
  font-family: 'realway-medium';
  font-size: 12px;
  color: $red;
  margin-bottom: 15px;
}

.required label {
  z-index: 99;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 15px;
  top: 18px;
  font-size: 16px;
  font-family: 'realway-bold';
  padding-left: 8px;
}

.required label:before {
  position: absolute;
  content: '*';
  top: -2px;
  left: -4px;
  color: red;
  font-size: 28px;
}

.checkBox {
  margin-top: 20px;
  display: block;
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  font-family: 'realway-medium';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  span {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #C1C1C1;
  }
  input:checked ~ .checkMark:after {
    position: absolute;
    content: "";
    width: 9px;
    height: 5px;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    top: 4px;
    left: 3px;
    transform: rotate(-35deg);
  }
}

.form-group {
  margin-bottom: 0 !important;
}

.searchText {
  font-family: 'realway-regular';
  p {
    &:first-child {
      font-size: 24px;
    }
    &:last-child {
      font-size: 14px;
    }
  }
}

.form-control {
  border: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.customerInfo {
  padding: 18px 18px 18px 10px;
  order: 2;
  p {
    font-size: 24px;
    margin-bottom: 18px;
  }
  input[type=radio] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
  }
  .checkBox {
    margin-bottom: 18px;
    label {
      font-size: 16px;
    }
  }
  .shippingAddress {
    margin: 25px 0 20px;
    font-size: 16px;
    border-top: 1px solid $border-color;
    .title {
      font-family: 'realway-bold';
      display: inline-block;
      margin-top: 8px;
      margin-bottom: 20px;
    }
    .checkBox {
      margin: 0 0 20px;
      align-self: center;
      font-family: 'realway-regular';
    }
  }
  select {
    margin-bottom: 20px;
    width: 100%;
    height: 60px !important;
    border: 1px solid rgba(112, 112, 112, 0.2);
    background: white url(../images/downBlack.png) no-repeat calc(100% - 20px) !important;
    color: rgba(0, 0, 0, 0.2);
    font-family: 'realway-bold';
    option {
      color: #000;
    }
  }
  .vin {
    margin-bottom: 27px;
    border-top: 1px solid $border-color;
    padding-top: 20px;
    .width-50 {
      width: calc(50% - 34px);
      input {
        margin-bottom: 0;
      }
    }
    .or {
      width: 25px;
      align-self: center;
      margin-bottom: 20px;

      span {
        align-self: center;
        font-family: 'realway-bold';
        font-size: 16px;
      }
    }
  }
  .vinText {
    font-size: 16px;
  }

  textarea {
    height: 155px;
    padding: 15px;
    font-size: 16px;
  }
}

.cartData {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  .title {
    font-size: 16px;
    font-family: 'realway-bold';
  }
  .mainButton {
    font-size: 14px;
  }
  .subTotal span{
    font-size: 14px!important;
  }
  .singleRow {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
      padding: 20px 0;
    }
    > div {
      width: 50%;
    }
    .details {
      display: flex;
      span {
        text-align: center;
        display: block;
        width: calc(100% / 3);
      }
    }
    span {
      font-size: 10px;
      font-family: 'realway-medium';
    }
    p {
      font-size: 14px;
      font-family: 'realway-bold';
      margin-bottom: 10px;
      i {
        margin-right: 10px;
      }
    }
    .grid {
      width: calc(100% + 20px);
    }
    button {
      border: 1px solid $border-color;
      margin-top: 20px;
      width: 100%;
    }

    form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      font-size: 16px;
      font-family: 'realway-medium';
      label, button {
        width: 25%;
      }
      input {
        height: 60px;
        width: calc(50% - 40px);
        margin: 0 20px;
        border: 1px solid $border-color;
      }
      button {
        margin-top: 0;
        height: 60px;
        color: #fff;
        background-color: $red;
        font-size: 14px;
        font-family: 'realway-bold';
      }
    }
  }
  input[type="radio"] {
    display: none;
  }
  .checkBox {
    margin-top: 10px;
    span {
      top: 2px;
    }
    label {
      font-size: 16px;
      font-family: 'realway-regular';
    }
  }
  .shippingMethod {
    > div {
      &:first-of-type {
        width: calc(55% - 20px);
        margin: 10px;
      }
    }
    .total {
      width: 100%;
      margin: 10px;
      span {
        font-size: 14px;
        font-family: 'realway-regular';
        &:first-of-type {
          width: 100px;
          margin-right: 10px;
        }
      }
    }
  }
}

textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2) !important;
  color: #000;
}

textarea {
  width: 100%;
  border: 1px solid rgba(112, 112, 112, 0.2);
  font-family: 'realway-bold';
}

.rightCart {
  width: 100%;
}

.shoppingCart {
  background-color: #fff;
  min-height: 136px;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  p {
    font-size: 16px;
    font-family: 'realway-bold';
  }
}

.submitCart {
  padding: 18px 15px 32px 15px;
  background-color: #fff;
  margin-bottom: 38px;
  font-family: 'realway-medium';
  .commonBtn {
    font-size: 16px;
    font-family: 'realway-bold';
    color: #fff;
    margin: 20px 0 !important;
    width: 183px;
  }
  .ip {
    margin-bottom: 20px;
  }
  .note {
    font-size: 11px;
  }
}

.grid {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
  .width-50 {
    width: calc(50% - 20px);
    margin: 0 10px;
  }
}

.width-25 {
  width: calc(25% - 20px);
  margin: 0 10px;
}

.width-75 {
  width: calc(75% - 20px);
  margin: 0 10px;
}

.returnPolicy {
  background-color: #fff;
  padding: 22px;
  p {
    margin-bottom: 30px;
    font-family: 'realway-medium';
    &:first-child {
      font-size: 24px;
      padding-bottom: 10px;
      &:after {
        width: 62px;
        background-color: $red;
        height: 2px;
        bottom: 0;
      }
    }
    &:not(:first-child) {
      font-size: 18px;
    }
  }
}

.results {
  .shopByBrand {
    .selectCategory {
      margin: 0 0 20px;
    }
  }
  .bgText {
    .grid {
      background-color: transparent;
      margin: 20px 0;
      color: #fff;
      width: 100%;
      z-index: 9;
      .width-50 {
        align-self: center;
        &:first-of-type {
          padding-bottom: 32px;
        }
      }
    }
  }
  .cats {
    align-self: flex-start;
  }
  .searchResults {
    margin-top: 60px;
    font-family: 'realway-bold';
    font-size: 14px;
    .singleModel {
      padding: 20px;
      text-align: left;
      margin-bottom: 20px;
    }
    .resultData {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(16, 16, 16, 0.1);
      .searchImgContainer {
        width: 50%;
        img {
          height: 110px;
          margin-top: 0;
        }
      }
      .description {
        width: 50%;
        p {
          font-size: 14px;
          &:first-child {
            color: $red;
            font-size: 18px;
          }
        }
      }
    }
    .prices {
      padding: 20px 0;
      span {
        &:last-child {
          color: $red;
        }
      }
    }
  }
  .selectCategory {
    width: 100%;
  }
  .commonBtn {
    width: 100%;
    margin: 20px 10px 0;
  }
}

.resultBtns {
  display: flex !important;
  flex-wrap: wrap;
  margin: 0 -10px;
  .searchResultBtn {
    width: 100%;
    margin: 0 10px;
    font-size: 14px;
    &:not(:last-child) {
      width: calc((100% / 2) - 20px);
      margin-bottom: 20px;
      font-size: 16px;
    }
  }
}

.searchResultBtn {
  height: 40px;
  font-size: 13px;
  font-family: 'realway-bold';
  color: $red;
  border: 1px solid $border-color;
  background: #fff;
  flex-grow: 1;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &:hover {
    background: $red;
    color: #fff;
  }
}

.selectCategory {
  display: inline-block;
  width: 50%;
  &:last-child {
    margin-left: -4px;
    select {
      border-left: 2px solid $border-color;
    }
  }
  .form-group {
    padding: 20px 0;
    background-color: #fff;
  }
  select {
    width: 100%;
    background: white url(../images/down.png) no-repeat calc(100% - 20px) !important;
    color: #000;
  }
}

.responsive {
  .width-50 {
    width: 100%;
  }
}

.itemDetails {
  .width-32 {
    .ui-selectmenu-button.ui-button {
      border-top: 1px solid $border-color;
      padding: 0 20px;
      &:hover, &:focus, &:active {
        border-top: 1px solid $border-color !important;
      }
      > span {
        font-family: 'realway-semibold' !important;
      }
    }
  }
  .changeVehicle {
    display: block;
    width: 100%;
    height: 60px;
    background-color: $red;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: 'realway-medium';
    padding: 15px;
  }
  .pageHead {
    font-size: 18px;
    font-family: 'realway-medium';
    margin-bottom: 30px;
  }
  .itemImage {
    text-align: center;
    margin-bottom: 30px;
    div {
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      height: 160px;
    }
    img {
      max-width: 300px;
      margin-top: 80px;
    }
    p {
      text-align: center;
      font-size: 30px;
      font-family: 'realway-medium';
      margin-top: 60px;
    }
    span {
      font-size: 24px;
      font-family: 'realway-bold';
      color: $red;
    }
  }
  .commonTabsDiff {
    ul {
      font-size: 16px;
      font-family: 'realway-semibold';
      li {
        padding: 20px !important;
        border-top: 1px solid rgba(112, 112, 112, 0.1) !important;
        color: $dark-gray;
        &.ui-tabs-active {
          color: $red !important;
        }
      }
      a {
        &:hover {
          color: $red;
        }
      }
    }
  }
  .width-32 {
    width: 100%;
    margin: 0 10px 20px;
    background-color: #fff;
    align-self: flex-start;
  }
  .width-68 {
    //width: 100%;
    width: calc(100% - 20px);
    margin: 0 10px;

    > div {
      background-color: #fff;
      padding: 20px;
    }

    .head {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 20px;
      .left {
        display: flex;
        flex-wrap: wrap;
        font-family: 'realway-medium';
        p {
          width: 100%;
          font-size: 24px;
          color: #000;
        }
        span {
          font-size: 14px;
          margin-bottom: 20px;
          font-family: 'realway-semibold';
        }
      }
      .right {
        width: 100%;
        p {
          font-size: 18px;
          font-family: 'realway-medium';
          margin-bottom: 10px;
        }
      }
      select {
        height: 50px !important;
        width: 100%;
        color: #000;
        background: #fff url(../images/down.png) no-repeat calc(100% - 10px) !important;
        padding: 0 14px;
      }
      .ui-selectmenu-button.ui-button, .ui-selectmenu-button.ui-button:focus, .ui-selectmenu-button.ui-button:active, .ui-selectmenu-button.ui-button:hover {
        border: 1px solid $border-color !important;
        padding: 0 20px!important;
        &.ui-selectmenu-button-open {
          border-bottom: none !important;
        }
      }
    }
  }
  .changedSelect {
    margin: 0 !important;
    color: #000;
    background: #fff url(../images/downBlack.png) no-repeat calc(100% - 10px) !important;
  }
}

.tabTitle {
  display: none;
}

.details2 {
  .head {
    .left {
      width: 100% !important;
    }
  }
  .moreDetails {
    color: #000;
    font-size: 18px;
    font-family: 'realway-medium';
    .detailsHead {
      font-family: 'realway-bold';
      margin-bottom: 20px;
      font-size: 18px;
    }
  }
}

.allCategories {
  .singleCategory {
    display: flex;
    padding: 20px 0;
    align-items: center;
    font-size: 18px;
    color: $dark-gray;
    &:last-child {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      margin-bottom: 20px;
    }
    &:not(:last-child) {
      border-top: 1px solid $border-color;
    }
    img {
      width: 80px;
      margin-right: 20px;
    }
  }
}

.edition {
  .head {
    border-bottom: 1px solid $border-color;
  }
  .grid {
    padding-top: 30px;
    margin-bottom: 10px;
  }
  .mainButton {
    font-size: 16px;
    border: 1px solid $border-color;
    width: calc((100% / 2) - 20px);
    margin: 10px;
  }
  p {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.singleItemActions {
  padding: 20px 0 0;
  font-size: 16px;
  font-family: 'realway-bold';
  margin: 0 -10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  button {
    height: 60px;
    background-color: #fff;
    color: $red;
    margin: 0 10px 20px 10px;
    border: 1px solid rgba(112, 112, 112, 0.2);
    width: calc(50% - 20px);
    &:hover {
      background: $red;
      color: #fff;
    }
    &:last-child {
      &:nth-child(odd) {
        width: 100%;
      }
    }
  }
}

.singleDetails {
  border-top: 1px solid rgba(16, 16, 16, 0.1);
  .singleItemDesc {
    padding: 40px 0 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-family: 'realway-semibold';
    //align-items: center;
    color: $dark-gray;
    border-bottom: 1px solid rgba(16, 16, 16, 0.1);
    > span {
      display: inline-block;
      margin-bottom: 20px;
    }
    .imgContainer {
      width: 50%;
      > img {
        max-width: 270px;
      }
    }
    .itemData {
      width: 50%;
      font-size: 14px;
      font-family: 'realway-bold';
      p {
        margin-bottom: 20px;
      }
      span {
        display: block;
      }
      .itemName {
        font-size: 18px;
        font-family: 'realway-bold';
      }
      .changePlace {
        p {
          font-size: 14px;
          font-family: 'realway-bold';
          &.newPrice {
            color: $red;
          }
        }
      }
      .scrollContainer {
        position: relative;
        &:after {
          position: absolute;
          content: "";
          background-color: rgba(112, 112, 112, 0.1);
          height: 100%;
          width: 2px;
          right: -18px;
          top: 0;
        }
      }
    }
  }
}

.subImages {
  margin: 20px -15px;
  .subImgContainer {
    width: calc((100% / 3) - 30px);
    margin: 0 15px;
    flex: 1;
    align-self: flex-start;
  }
}

.partDetails {
  .singleItemDesc {
    padding: 20px 0;
    border-bottom: none;
  }
  .imgContainer {
    width: 100% !important;
    margin-bottom: 20px;
    border-bottom: 1px solid $border-color;
    span {
      &:first-of-type {
        display: inline-block;
        width: 48%;
      }
    }
    > img {
      width: calc(50% - 30px);
      max-width: initial !important;
      margin-right: 30px;
    }
  }
  .forOpacity {
    width: 100% !important;
    .itemData {
      width: 100%;
      .scrollContainer {
        > div {
          display: flex;
          flex-wrap: wrap;
          > div {
            width: 50%;
            &:first-of-type {
              display: flex;
              flex-wrap: wrap;
              p {
                width: 100%;
              }
              span {
                align-self: flex-end;
              }
            }
          }
        }
      }

      p {
        margin-bottom: 0 !important;
      }
    }
  }
  .resultBtns {
    width: 100% !important;
    margin: 20px -5px 0;
    button {
      margin: 0 5px 10px;
    }
    .searchResultBtn {
      font-size: 16px!important;
    }
  }
  .changedSelect {
    font-family: 'realway-semibold';
    padding: 0 20px;
  }
}

.partDetails2 {
  .width-32 {
    .ui-selectmenu-button.ui-button {
      border-top: none !important;
      &:hover, &:focus, &:active {
        border-top: none !important;
      }
      > span {
        font-family: 'realway-bold' !important;
      }
    }
  }
  .singleItemDesc {
    padding: 20px 0;
  }
  .tabTitle {
    border: none;
  }
  ul {
    padding: 0 !important;
  }
  .singleDetails {
    .singleItemActions {
      justify-content: flex-start;
    }
  }
  .moreDetails {
    .detailsHead {
      margin-bottom: 10px;
      color: $red;
      font-size: 24px;
      font-family: 'realway-medium';
    }
    .subText {
      font-size: 18px;
    }
  }
  .imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .changedSelect {
    border-top: none;
  }
}

.contactUs {
  .borderedText {
    margin-top: 18px;
    display: block;
    margin-bottom: 28px;
    .after {
      margin-bottom: 26px;
      color: $dark-gray;
      &:after {
        width: 75px;
        height: 2px;
        background-color: $red;
      }
    }
    .desc {
      font-family: 'realway-medium';
    }
  }
  .shopByBrand, .contactWrapper {
    align-items: flex-start;
    h1 {
      padding: 0 !important;
    }
    .borderedText {
      width: 100%;
      z-index: 9;
      //margin-bottom: 0 !important;
      color: #fff !important;
      .after {
        color: #fff !important;
        align-self: center;
        &:after {
          width: 0;
        }
      }
      .wrapper {
        span {
          font-size: 24px;
        }
      }
    }
  }
  .registerStyle {
    width: 100%;
    margin-bottom: 20px;
  }
  .requiredSelect {
    .star {
      top: 3px;
    }
  }
  textarea {
    height: 100px;
    margin-bottom: 20px;
    position: relative;
    padding: 10px 27px;
    &:before {
      position: absolute;
      content: '*';
      top: 0;
      left: 0;
    }
  }
  button {
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-family: 'realway-bold';
  }
  .wrapper {
    width: 100%;
  }
  .connection {
    margin-top: 43px;
  }
  i {
    margin-right: 20px;
  }
  .mapWrapper {
    margin-top: 20px;
    p {
      display: none;
    }
    #googleMap {
      height: 500px;
    }
  }
}

.orders {
  .commonTabs {
    &.selectBorder.catContaienr {
      > .ui-selectmenu-button.ui-button {
        background-color: #fff !important;
        color: $red;
        font-family: 'realway-semibold';
        border: none!important;
        margin: 20px 0;
        padding: 0 20px;
        &:focus, &:active, &:hover {
          color: $red !important;
        }
        > span {
          font-family: 'realway-semibold';
        }
      }
    }
    ul {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-family: 'realway-semibold';
      padding: 40px;
      background-color: #fff;
      li {
        color: $dark-gray;
        display: inline-block;
        &.ui-tabs-active {
          color: $red !important;
        }
      }
    }
  }
  .orderStatus {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    span {
      margin-bottom: 20px;
      width: 100%;
      font-size: 18px;
      font-family: 'realway-bold';
    }
    .form-group {
      width: 100%;
      &.vinNo {
        position: relative;
        input {
          border: 1px solid rgba(112, 112, 112, 0.2);
          height: 60px;
          margin-bottom: 0;
        }
      }
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 60px;
      background-color: $red;
      border: none;
      color: #fff;
      width: 60px;
      text-align: center;
    }
  }
  .tableHeader {
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;
    p {
      margin-bottom: 20px;
      line-height: 1;
      font-size: 18px;
      font-family: 'realway-bold';
    }
    span, a {
      font-size: 16px;
      font-family: 'realway-bold';
    }
  }
  .totalOrders {
    input[type="radio"] {
      display: none;
    }
    .checkBox {
      display: inline-block;
    }
    table {
      margin: auto;
      border-collapse: collapse;
      overflow-x: auto;
      display: block;
      max-width: 100%;
      tr {
        height: 60px;
      }
    }

    th, td {
      min-width: 134px;
      vertical-align: middle;
      border-bottom: 1px solid $border-color;
      font-size: 16px;
      font-family: 'realway-semibold';
      &:nth-child(1) {
        min-width: 235px;
      }
      &:nth-child(2) {
        min-width: 235px;
      }
    }
  }
  .compose {
    color: $red;
    font-family: 'realway-bold' !important;
    margin-right: 12px;
  }

  #messageCenter {
    th {
      &:nth-child(1) {
        min-width: 637px;
      }
    }
  }
  #garage {
    .tableHeader {
      padding: 0 0 20px;
      border: none;
    }
  }
  .messageContent {
    display: none;
    background: #fff;
    padding: 50px 40px;
    .messageHeader {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $border-color;
      p {
        font-size: 24px;
        font-family: 'realway-medium';
        margin-bottom: 20px;
      }
      .subHead {
        span {
          font-size: 16px;
          &:first-of-type {
            font-family: 'realway-bold';
          }
          &:last-of-type {
            font-family: 'realway-semibold';
          }
        }
      }
    }
    input[type="file"] {
      width: 100%;
      font-size: 16px;
      font-family: 'realway-semibold';
    }

    .receiver {
      font-family: 'realway-semibold';
      margin-left: 10px;
    }
  }
  .orderBtn {
    color: #fff;
    margin-top: 20px;
    font-family: 'realway-bold';
    display: inline-block;
    width: 185px;
    font-size: 16px;
  }
  .commonPadding {
    font-family: 'realway-bold';
    font-size: 16px;
    padding: 20px !important;
    background: #fff;
  }
  #settings {
    padding: 50px 30px !important;
    background-color: #fff;
    p {
      margin-bottom: 24px;
      font-size: 24px;
      font-family: 'realway-bold';
    }
    .ui-selectmenu-button.ui-button {
      margin-bottom: 20px;
    }
    select {
      margin-bottom: 20px;
      width: 100%;
      height: 60px !important;
      border: 1px solid rgba(112, 112, 112, 0.2);
      background: white url(../images/downBlack.png) no-repeat calc(100% - 20px) !important;
      color: rgba(0, 0, 0, 0.2);
      font-family: 'realway-bold';
      option {
        color: #000;
      }
    }
  }

  /*repeated*/
  input[type="text"], input[type="password"], textarea {
    height: 60px;
    border: 1px solid $border-color;
    border-radius: 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'realway-bold';
  }
  textarea {
    height: 343px;
  }
  ::-webkit-file-upload-button {
    background: transparent;
    border: none;
    color: $red;
    font-family: 'realway-bold';
    font-size: 16px;
  }
  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
  }
  /*repeated*/

  .vinContainer {
    p {
      margin-bottom: 20px;
      font-size: 18px;
      font-family: 'realway-bold';
    }
  }
}

.selectBorder {
  &.catContaienr .ui-selectmenu-button.ui-button {
    border: 1px solid $border-color;
    color: rgba(0, 0, 0, 0.2);
    &:hover, &:active, &:focus {
      border: 1px solid $border-color !important;
    }
    &.ui-selectmenu-button-open {
      border-bottom: none !important;
    }
  }
}

.catContaienr .ui-button .ui-icon {
  background-image: url("../images/downBlack.png") !important;
  padding-top: 25px;
}

.catContaienr .ui-selectmenu-button.ui-button {
  height: 60px !important;
  padding: 0 26px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  //&:hover {
  //  color: rgba(0, 0, 0, 0.2) !important;
  //}
  > span {
    width: auto;
    display: inline-block;
    margin-bottom: 0 !important;
    padding-right: 0 !important;
    font-size: 16px !important;
    font-family: 'realway-bold';
  }
  .ui-icon {
    width: 16px;
  }
}

.garageBlock {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $border-color;
  &:not(:last-of-type) {
    padding: 20px 0;
  }
  &:last-of-type {
    padding-top: 20px;
  }
  .text {
    display: flex;
    align-self: center;
    width: 100%;
    font-size: 16px !important;
    font-family: 'realway-medium';
    margin: 0 0 20px;
    span {
      margin-right: 20px;
    }
    p {
      display: inline-block;
      font-size: 16px !important;
    }
  }
  .actions {
    align-self: center;
    width: 100%;
    font-size: 16px;
    button {
      border: 1px solid $border-color;
      float: left;
      width: 100%;
    }
  }
}

header {
  .cart {
    padding: 15px 0;
    .cartLink {
      position: relative;
      &:before {
        display: none;
        position: absolute;
        content: "";
        left: calc(50% - 10px);
        bottom: -7px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent white transparent;
      }
    }
    &:hover {
      .cartLink {
        &:before {
          display: block;
        }
      }
      .cartPopup {
        display: block;
      }
    }
  }
}

.cartPopup {
  display: none;
  background-color: #fff;
  position: absolute;
  width: 100vw;
  top: 100%;
  right: 0;
  font-size: 14px;
  font-family: 'realway-bold';
  color: #000;
  text-align: left;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  z-index: 99;
  .first {
    padding: 20px;
    position: relative;
  }
  p {
    font-size: 16px;
  }
  .head {
    border-bottom: 1px solid $border-color;
    p, span {
      padding-bottom: 10px;
    }
    span {
      display: inline-block;
      font-family: 'realway-semibold';
      font-size: 14px;
    }
  }
  .actions {
    padding: 20px 0;
    border-bottom: 1px solid $border-color;
    p {
      margin-bottom: 20px;
      width: 100%;
      float: left;
    }
    div {
      display: flex;
      float: right;
    }
    button {
      min-width: 90px;
      margin-bottom: 20px;
      padding: 10px;
      border: none;
      background-color: $red;
      color: #fff;
      min-height: 40px;
      font-size: 16px;
      flex-grow: 1;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
    p {
      text-align: left;
      width: 190px;
      margin-bottom: 0;
    }
  }
  .moreBtns {
    padding-top: 10px;

    i {
      margin-right: 12px;
    }
    a:last-child {
      float: right;
    }
  }
  &.garage {
    transform: translate(0);
    .head {
      padding: 15px 0;
      border-top: 1px solid rgba(112, 112, 112, 0.2);
      .checkBox {
        display: inline-block;
        float: left;
        margin-top: 0;
        input {
          display: none;
        }
      }
    }
    .actions {
      border-bottom: none;
      padding: 20px 0 0;
      div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.popupOpened {
  transition: 1.5s;
  i {
    transform: rotate(180deg);
  }
}

.messagePopup {
  transition: 0.5s;
  width: 170px;
  float: left;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  .msgPopupContent {
    width: 100%;
    float: left;
    padding: 44px 14px 20px;
    background-color: #fff;
    font-family: 'realway-bold';
    font-size: 16px;
    color: #000;
    p {
      word-break: break-word;
      margin-bottom: 65px;
      font-size: 16px;
      font-family: 'realway-semibold';
    }
  }
  input, textarea {
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  textarea {
    height: 65px;
  }
  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
  }
  button {
    width: 100%;
    color: #fff;
  }
}

.differentColor {
  color: #656565;
}

.yearsContent {
  display: none;
}

.breadcrumb {
  background-color: transparent !important;
}

.commonPopup {
  width: 100%;
  min-height: 100%;
  z-index: 999;
  background-color: #F7F7F7;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  .popupContainer {
    font-size: 16px;
    font-family: 'realway-bold';
    .popupHeader {
      width: 100%;
      color: #fff;
      height: 74px;
      background: $red;
      padding: 23px 30px;
    }
    .popupContent {
      background-color: #fff;
      padding: 50px 30px;
      .header {
        display: inline-block;
        font-size: 24px;
        font-family: 'realway-medium';
        margin-bottom: 50px;
        &.differentMargin {
          margin-bottom: 20px;
        }
        i {
          margin-right: 20px;
          color: $red;
        }
      }
      button {
        font-family: 'realway-black';
        font-size: 16px;
        margin-left: 20px;
      }
      &.popup2 {
        width: 100%;
        a {
          border: 1px solid $border-color;
        }
        .commonBtn {
          margin-left: 0;
          float: none;
        }
      }
    }
    .itemAdded {
      .header {
        margin-bottom: 20px;
      }
      img {
        width: 150px;
        margin-right: 50px;
      }
      .itemContainer {
        margin-bottom: 40px;
      }
      .data {
        font-family: 'realway-bold';
        display: inline-block;
        font-size: 16px;
        p {
          color: $red;
          font-size: 16px;
        }
        span {
          font-size: 14px;
          display: block;
        }
      }
      p {
        font-size: 16px;
      }
    }
    .selectBox {
      width: 100%;
      padding: 20px 15px;
      border: 1px solid $border-color;
      display: inline-block;
      margin-bottom: 20px;
      span {
        width: 49%;
        display: inline-block;
        &:last-of-type {
          border-left: 1px solid $border-color;
          text-align: right;
        }
      }
    }
    .allYears, .Edition {

      .row, .grid {
        > div {
          min-width: 16.6%;
        }
      }
      a {
        border: 1px solid $border-color;
        //min-width: 165px;
        margin: 0 10px 20px;
      }
    }
    button {
      color: #fff;
      float: right;
      width: 100%;
    }
  }
  .special {
    .mainButton {
      border: 1px solid $border-color;
      float: left;
      width: 230px;
      justify-content: center;
      align-self: center;
      margin-right: 20px;
    }
  }
}

.popupMargin {
  display: flex;
  flex-direction: column;
  .buttons {
    order: 2;
    margin-top: 20px;
  }
  button {
    &:first-child {
      margin-left: 60px !important;
    }
  }
}

.notFound {
  min-height: 100vh;
  align-items: center;
  display: flex;
  .notFoundImg {
    margin-bottom: 30px;
    p {
      margin-bottom: 60px;
      font-size: 32px;
      font-family: 'realway-bold';
    }
    img {
      width: 50%;
      margin-top: -38px;
    }
  }
  span {
    margin-top: 20px;
    display: block;
  }
  button {
    margin-top: 40px;
    font-size: 16px;
    font-family: 'realway-bold';
  }
  &.server {
    .serverContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      font-size: 25px;
    }
    span {
      font-size: 14px;
    }
  }
}

.singleHead {
  display: block;
  &.opened {
    .bars {
      i {
        display: none;
      }
    }
  }
}

.responsiveMenu.openResponsive {
  opacity: 1;
  visibility: visible;
}

.responsiveMenu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  .menuContainer {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
  }
  .myContainer {
    padding: 0 7.5vw;
    width: 100vw;
  }
  .searchForm {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    i {
      font-size: 24px;
    }
  }
  form {
    padding: 20px 0;
    input {
      border: navajowhite;
      font-size: 24px;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      background: transparent;
      border: none;
    }
  }
  ::-webkit-input-placeholder {
    color: #000;
  }
  .mainList {
    padding: 42px 0;
    font-size: 30px;
    li {
      margin-bottom: 42px;
    }
  }
  .subData {
    position: absolute;
    width: 100%;
    bottom: 60px;
    a {
      font-size: 11px;
      font-family: 'realway-semibold';
    }
    img {
      padding-bottom: 0;
    }
  }
}

.bars {
  display: inline-block;
  position: relative;
  height: 18px;
  width: 20px;
  &.transform {
    &:after {
      bottom: 8px;
      left: -3px;
      transform: rotate(-45deg);
      transition: 0.5s;
    }
    &:before {
      top: 7px;
      left: -2px;
      transform: rotate(45deg);
      transition: 0.5s;
    }
  }
  i {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #000;
    margin-top: 8px;
  }
  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background-color: #000;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  &:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transition: 0.5s;

  }
}

body {
  section {
    &:first-of-type {
      padding-top: 150px;
      margin-top: 0;
    }
  }
}

.categoryDescription {
  p {
    font-size: 16px;
    font-family: 'realway-medium';
  }
  &:hover {
    color: $red;
  }
}

.allYears, .Edition {
  //.row {
  //  width: 100%;
  //}
  a {
    font-size: 18px;
  }
}

.signingHeader {
  font-size: 24px;
  color: $dark-gray;
}

.loadingContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  .imgContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  img {
    width: 230px;
  }
  .loadingBar {
    height: 3px;
    background-color: $red;
    width: 50%;
    float: left;
  }
  p {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    font-size: 54px;
    font-family: 'realway-semibold';
  }
}

.changedSelect {
  border-top: 1px solid $border-color;
  color: $red;
  width: 100%;
  height: 60px !important;
  margin-top: 30px;
  background: #fff url(../images/down.png) no-repeat calc(100% - 10px) !important;
}

.forTabs {
  > div {
    &:not(:first-of-type) {
      display: none;
    }
  }
}

.accessories {
  .commonTabs {
    > .changedSelect {

      background: $red url(../images/down2.png) no-repeat calc(100% - 40px) !important;
      font-size: 16px;
      color: #fff;
      option {
        color: $red;
        background-color: #fff;

      }
    }
    .forTabs {
      .changedSelect {
        color: #000;
        font-size: 18px !important;
        font-family: 'realway-bold';
        border: 1px solid rgba(#707070, 0.2);
        background: #fff url(../images/downBlack.png) no-repeat calc(100% - 40px) !important;
        margin: 0 0 25px;
      }
    }
  }
}

.scrollable {
  .head {
    border-bottom: 1px solid $border-color;
  }
  .singleItemDesc {
    .itemData {
      padding-right: 0 !important;
    }
  }
}

.partDetailsContainer {
  .width-32 {
    .ui-selectmenu-button.ui-button {
      border-top: 1px solid $border-color;
      &:hover, &:focus, &:active {
        border-top: 1px solid $border-color !important;
      }
    }
  }
  .moreDetails {
    font-family: 'realway-medium';
  }
}

@media screen and (max-width: 481px) {
  .cartData {
    .singleRow {
      form {
        label, input, button {
          width: 100%;
          margin: 0 0 20px;
        }
      }
    }
  }
  .differentBox {
    span {
      font-size: 14px !important;
    }
  }
  .searchResults {
    .resultData {
      .searchImgContainer {
        width: 100% !important;
      }
    }
  }

  .singleDetails {
    .singleItemDesc {
      .imgContainer {
        width: 100%;
      }
      .itemData {
        width: 100%;
      }
    }
  }
  .singleTab {
    .vehicleForm {
      a {
        padding: 0 10px;
      }
    }
  }
  .customerInfo {
    .vin {
      .width-50 {
        width: 100%;
      }
      .or {
        width: 100%;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cartPopup {
    &.garage {
      .first {
        padding: 40px 20px;
      }
    }
  }
  .scrollable {
    .itemName {
      color: $red !important;
    }
  }

  .cartPopup {
    &.garage {
      .actions {
        margin: 0 -10px;
        button {
          width: calc(50% - 20px);
          flex-grow: 0;
          margin: 0 10px;
          &:nth-child(1) {
            order: 2;
          }
          &:nth-child(2) {
            width: 100%;
            margin-bottom: 20px;
            order: 1;
          }
          &:nth-child(3) {
            order: 3;
          }
        }
      }
    }
  }

  .allYears, .Edition {
    .row, .grid {
      justify-content: center;
      > div {
        min-width: 50% !important;
      }
    }

    .row {
      > div {
        &:nth-child(odd) {
          &:last-child {
            width: 100% !important;
            max-width: 100% !important;
            flex: 0 0 100%;
          }
        }
      }
    }

  }

  .bgText {
    p {
      font-size: 14px;
    }
  }

  .contactWrapper {
    .bgText .imgWrapper {
      height: calc(65% - 40px);
      overflow: hidden;
      margin: 0px 0;
    }
    .connection {
      p {
        font-size: 18px;
        font-family: 'realway-semibold';
      }
    }
  }

  .singleDetails {
    .singleItemDesc {
      border-bottom: none;
      padding-bottom: 0 !important;
      .imgContainer {
        align-self: flex-start;
        > img {
          max-width: 143px;
        }
      }
      .changePlace {
        width: calc(90vw - 40px);
        margin: 35px auto 0;
        float: right;
        div {
          padding-top: 20px;
          border-top: 1px solid rgba(16, 16, 16, 0.1);
        }
        p {
          display: inline-block;
          margin-bottom: 0;
          &.oldPrice {
            float: left;
          }
          &.newPrice {
            float: right;
          }
        }
      }
    }
  }

  .contactUs {
    .required {
      label {
        position: relative;
        top: 0;
        left: 0;
        padding-right: 0;
        color: #000;
        margin-bottom: 20px;
        display: block !important;
        &:before {
          content: '';
        }
      }
    }
  }

  .shopByBrand {
    background-color: #101010;
    .after {
      top: -12px;
      &:after {
        height: 0;
      }
      &:before {
        top: 2px;
        height: 4px;
      }
    }
    .bgText {
      .imgContainer {
        height: 90px;
      }
      .imgWrapper {
        height: 100%;
        margin: 0;
      }
    }
  }
}

.lightText {
  display: none !important;
  font-size: 10px;
  font-family: 'realway-semibold';
  color: rgba(16, 16, 16, 0.5);
}

.pt-20 {
  padding-top: 20px;
}

@media screen and (min-width: 769px) {
  .cartData {
    .singleRow {
      span {
        font-size: 16px;
      }
      p {
        font-size: 18px;
      }
      form {
        button {
          font-size: 16px;
        }
      }
    }
    .subTotal span{
      font-size: 16px!important;
    }
    .mainButton {
      font-size: 16px;
    }
    .shippingMethod {
      .total {
        width: calc(45% - 20px);
      }
    }
  }
  .partDetailsContainer {
    .singleDetails {
      .changePlace {
        .oldPrice {
          font-size: 18px !important;
          font-family: 'realway-semibold' !important;
        }
        .newPrice {
          font-size: 18px !important;
        }
      }
    }
  }
  //.cats .selectCategory:first-of-type .ui-selectmenu-button.ui-button {
  //  border-right: 6px solid $border-color;
  //}
  //.cats .selectCategory:first-of-type .ui-button:hover, .cats .selectCategory:first-of-type .ui-button:focus {
  //  border-right: 6px solid $border-color !important;
  //}

  .imgContainer {
    .lightText {
      display: block !important;
      margin-left: 20px;
    }
  }
  .itemData {
    .lightText {
      display: inline !important;
    }
  }
  .tabTitle {
    border-top: 1px solid $border-color;
    padding: 20px;
    text-align: center;
    display: block;
    font-size: 16px;
    font-family: 'realway-bold';
  }

  .subImages {
    .subImgContainer {
      width: calc((100% / 4) - 20px);
      margin: 0 10px;
    }
  }
  .partDetails2 {
    .width-32 {
      padding: 20px 0;
    }
    .changePlace {
      p {
        font-size: 18px !important;
      }
    }
    .corePrice {
      font-family: 'realway-semibold' !important;
    }
    .moreDetails {
      .detailsHead {
        margin-bottom: 20px;
        color: #000;
      }
    }
  }
  .partDetails {
    .head {
      .left {
        width: 100% !important;
      }
    }
    .singleItemDesc {
      .imgContainer {
        margin-bottom: 0;
        border-bottom: none;
        width: 50% !important;
        padding-right: 40px;
        > img {
          max-width: 270px;
          width: 100%;
        }
        span {
          width: 100%;
          &:first-of-type {
            display: block;
            margin-bottom: 15px;
          }
        }
      }
      .forOpacity {
        width: 50% !important;
      }
      .itemData {
        align-self: flex-start;
        padding-left: 0 !important;
        .scrollContainer {
          > div {
            display: block;
            padding: 0 20px !important;
            > div {
              width: 100%;
              display: block;
            }
          }
        }
        p {
          margin-bottom: 20px !important;
        }
      }
    }
  }
  .edition {
    .mainButton {
      width: calc((100% / 3) - 20px);
    }
  }
  .garageBlock {
    .text {
      font-size: 24px !important;
      width: calc(36% - 12px);
      margin: 0 20px 0 0;
      p {
        font-size: 24px !important;
      }
    }
    .actions {
      width: 65%;
      margin: 0 -10px;
      button {
        width: calc((100% / 3) - 20px);
        margin: 0 10px;
      }
    }
  }

  .itemNumbers {
    right: -15px;
    top: 3px;
    width: 20px;
    height: 20px;
  }
  .tabSection {
    padding-top: 5px;
    .myContainer {
      width: 90vw;
    }
  }

  .singleTab {
    form, .vehicleForm {
      a {
        margin: 16px 0;
      }
      button {
        font-size: 16px;
        margin-top: 0px;
      }
    }
  }

  #vehicle {
    a {
      span {
        &:first-child {
          display: inline;
        }
      }
    }
  }

  .popupContainer {
    .popupContent {
      &.popup2 {
        display: flex;
        justify-content: space-between;
        div {
          display: flex;
          .mainButton {
            min-width: 240px;
          }
        }
      }
    }
  }
  .popupMargin {
    display: block;
  }
  .commonPopup {
    .popupContainer {
      .selectBox {
        width: 100%;
        padding: 20px 36px;
      }
      button {
        width: 156px;
      }
    }
  }
  .cartPopup {
    width: 532px;
    font-size: 16px;
    top: 85%;
    right: 20px;
    transform: translate(50%);
    .actions {
      p, button {
        margin-bottom: 0;
      }
    }
    .moreBtns {
      a {
        width: auto;
        &:first-child {
          float: left;
        }
        &:last-child {
          float: right;
        }
      }
    }
    &.garage {
      right: auto;
      left: 0;
    }
  }
  .messagePopup {
    width: 32%;
  }
  .bgText {
    .subTxt {
      font-family: 'realway-medium';
    }
  }
  .signingHeader {
    font-family: 'realway-medium';
  }
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 48px;
  }
  .twoButtons {
    a {
      font-size: 16px;
    }
  }

  .searchText {
    p {
      &:first-child {
        font-size: 48px;
      }
      &:last-child {
        font-family: 'realway-medium';
        font-size: 18px;
      }
    }
  }

  .allYears, .Edition {
    a {
      font-size: 16px;
    }
  }

  .categoryDescription {
    p {
      font-size: 24px;
    }
  }

  .returnPolicy {
    padding: 44px 94px;
  }

  .notFound {
    .notFoundImg {
      p {
        margin-bottom: 0;
        font-size: 60px;
      }
    }
    &.server {
      img {
        width: 179px;
      }
      p {
        font-size: 60px;
      }
      .serverContent {
        margin: 0 40px;
      }
      span {
        font-size: 18px;
      }
    }
  }

  .accessoriesSection {
    .twoButtons {
      display: flex;
      justify-content: center;
      a {
        margin: 0 0 0 20px;
      }
    }
  }
  .itemDetails {
    .width-32 {
      width: calc(32% - 20px);
    }
    .width-68 {
      width: calc(68% - 20px);
      > div {
        padding: 40px;
      }
      .head {
        .left {
          width: 70%;
          span {
            margin-bottom: 0;
            font-size: 18px;
            font-family: 'realway-medium';
          }
        }
        .right {
          width: 30%;
        }
      }
    }
  }

  .details2 {
    .head {
      .left {
        p {
          margin-bottom: 20px;
        }
      }
    }
    .moreDetails {
      .detailsHead {
        font-family: 'realway-medium';
        font-size: 24px;
      }
    }
  }
  .singleItemActions {
    button {
      width: calc((100% / 3) - 20px) !important;
    }
  }

  .singleDetails {
    .singleItemDesc {
      font-size: 18px;
      font-family: 'realway-medium';
      .imgContainer {
        border-right: 1px solid rgba(16, 16, 16, 0.1);
      }
      .itemData {
        padding-left: 90px;
        font-size: 18px;
        font-family: 'realway-semibold';
        .itemName {
          font-size: 30px;
        }
        .changePlace {
          font-size: 18px;
          .oldPrice {
            font-family: 'realway-semibold';
            margin-top: 20px;
          }
          .newPrice {
            font-family: 'realway-bold';
            color: $red;
          }
        }
      }
    }
  }

  .chooseUs {
    .borderedText {
      //  for Backend
      > p {
        &:first-of-type {
          padding-left: 18px;
          width: 64%;
        }
      }
      .mainText {
        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .subData {
    li {
      font-size: 16px;
    }
  }
  .results {
    .shopByBrand {
      .selectCategory {
        margin: 0 -4px 0;
      }
    }
    .bgText {
      .grid {
        .width-50 {
          padding-bottom: 0;
        }
      }
    }
    .cats {
      align-self: flex-start;
    }
    .selectCategory {
      width: 50%;
    }
    .searchResults {
      .resultData {
        .description {
          p {
            &:first-child {
              font-size: 16px;
            }
          }
        }
      }
      .commonBtn {
        width: 183px;
        margin: 0 auto;
      }
    }
  }

  .accessory {
    width: calc((100% - 60px) / 3);
    margin: 0 10px;
  }

  .shopByBrand {
    .bgText {
      .imgContainer {
        height: 100%;
      }
    }
    h1 {
      padding: 0;
      margin-bottom: 0;
    }
    .twoButtons {
      margin-right: 100px;
      a {
        &:first-child {
          margin-bottom: 0;
          margin-right: 20px;
        }
      }
    }
    .basic {
      display: flex;
      a {
        width: 185px;
        margin-bottom: 0;
      }
    }
  }

  .commonPopup {
    .special {
      .mainButton {
        width: 320px;
      }
    }
  }
  .orders {
    .orderStatus {
      padding: 26px 40px;
    }
    .commonPadding {
      padding: 40px !important;
    }
    #settings {
      padding: 50px 100px !important;
      p {
        font-family: 'realway-medium';
      }

    }
    .orderStatus {
      .form-group {
        margin-bottom: 0 !important;
        width: calc(50% - 10px);;
        &.vinNo {
          margin-left: 20px;
        }
      }
      span {
        margin-bottom: 0;
        font-size: 24px;
        font-family: 'realway-medium';
        padding-right: 60px;
      }
    }
    .fileContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .messageContent {
      button {
        margin-top: 0;
      }
    }

    .tableHeader {
      p {
        margin-bottom: 0;
        font-size: 24px;
        font-family: 'realway-medium';
      }
    }
    .vinContainer {
      p {
        font-size: 24px;
        font-family: 'realway-medium';
      }
    }
  }
  .vinContainer {
    display: flex;
    p {
      margin-right: 75px;
    }
    form {
      flex-grow: 1;
    }
  }

  .contactUs {
    .borderedText {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      margin-top: 0;
      .after {
        max-width: 330px;
        //padding-right: 25px;
        line-height: 1;
        margin-bottom: 0;
        &:after {
          display: none;
        }
      }
      .desc {
        border-left: 2px solid $red;
        width: calc(100% - 330px);
        padding-left: 20px;
      }
      .wrapper {
        display: flex;
        flex-wrap: wrap;
        span {
          font-size: 48px !important;
        }
      }
    }
    .registerStyle {
      margin-bottom: 50px;
    }
    .connection {
      font-family: 'realway-medium';
      margin-top: 20px;
    }
    .mapWrapper {
      margin-top: 50px;
      p {
        margin: 50px 0;
        text-align: center;
        display: block;
        font-size: 48px;
      }
    }
    .contactWrapper {
      .borderedText {
        margin-top: 50px;
        padding-right: 100px;
      }
    }
  }

  .responsive {
    .width-50 {
      width: calc(50% - 20px);;
    }
  }

  .mainImage {
    height: 600px;
  }

  .subImage {
    height: 290px;
  }

  .accessories {
    padding: 50px 0 70px;

    .accessoriesForMobile {
      display: none;
    }
    #accessoryTab {
      ul {
        display: flex;
      }
    }
    .mainImgDescription {
      padding: 22px 37px;
      p {
        &:first-child {
          font-size: 24px;
          padding-bottom: 15.5px;
          margin-bottom: 22.5px;
          &:last-child {
            font-size: 18px;
            font-family: 'realway-medium';
          }
        }
        &:last-child {
          font-size: 18px;
          font-family: 'realway-medium';
        }
      }
    }
    .commonBtn {
      margin-top: 30px;
    }
    .commonBtn {
      font-size: 16px !important;
    }
  }

  .submitCart {
    padding: 50px 100px;
  }

  .customerInfo {
    p {
      font-size: 24px;
      font-family: 'realway-medium';
    }
    .shippingAddress {
      display: flex;
      justify-content: space-between;
      border-top: none;
      border-bottom: 1px solid $border-color;
      .title {
        margin-top: 0;
        font-size: 24px;
        font-family: 'realway-medium';
      }
    }
    .vin {
      margin-bottom: 20px;
      .or {
        span {
          font-family: 'realway-medium';
          font-size: 14px;
        }
      }
    }
    textarea {
      height: 96px;
    }
  }
  .loginBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .registerStyle {
    padding: 50px 103px;
  }

  .signing {
    .register {
      p {
        font-family: 'realway-medium';
        font-size: 24px;
      }
      a {
        font-size: 16px;
        font-family: 'realway-bold';
      }
      label {
        font-size: 16px;
      }
    }
  }

  .marginBottom90 {
    margin-bottom: 90px;
  }

  .popular {
    margin: 50px -10px 0;
    .singleModel {
      .carDesc {
        p {
          font-size: 24px !important;
        }
      }
    }
    .commonBtn {
      font-size: 16px;
    }
  }

  .policyContent {
    padding: 50px;
    .after {
      font-size: 24px;
    }
    .content {
      font-size: 18px;
    }

    .singlePolicy {
      &:nth-child(2) {
        .content {
          p {
            margin-bottom: 0 !important;
          }
        }
      }
    }
    .fbi {
      margin: 43px 0 0;
      span {
        font-size: 24px;
        font-family: 'realway-medium';
        &:first-child {
          padding-right: 10px;
          margin-right: 12px;
          border-right: 2px solid $red;
        }
      }
    }
  }

  .commonMargin {
    margin-bottom: 83px;
  }

  .scroll {
    top: -125px;
    padding: 26px 31px;
  }

  .bgText {
    min-height: 189px;
    .imgContainer {
      height: 100%;
    }
    .imgWrapper {
      height: 100%;
      margin: 0;
    }
  }
  .accessoryText {
    margin-top: 30px;
  }
  body {
    section {
      &:first-of-type {
        padding-top: 170px;
        margin-top: 0;
      }
    }
  }
  header {
    position: fixed;
    .cart {
      position: relative;
      .cartLink {
        &:before {
          bottom: -5px;
          left: 50%;
        }
      }
    }
    .logo {
      width: 90px;
      height: 31px;
      margin: 0 35px;
    }
  }

  .homeSlider {
    padding: 170px 0 60px 0 !important;
    .bgImg {
      top: 34%;
    }
    .swiper-slide {
      .mainText {
        padding-bottom: 15px;
        margin-bottom: 25px;
      }
    }
  }

  .tabs {
    margin-top: -42px;
    display: block;
    .formBorder {
      width: calc(100% - 60px);
    }
    .tabsContent {
      width: 100%;
      button {
        width: 60px !important;
      }
    }
    .threeCols {
      width: calc(100% / 3);
    }
  }

  .borderedText {
    .mainText {
      width: 36%;
      h1 {
        border-right: 2px solid $red;
      }
      p {
        &:after {
          display: none;
        }
      }
    }
    .subText {
      padding-left: 18px;
      width: 64%;
    }
  }
  .shopByCategory {
    padding-bottom: 90px;
    .bgText {
      min-height: 180px;
      h1 {
        margin-top: 0px;
      }
      .imgContainer {
        height: 100%;
        top: 0px;
      }
    }
    .swiper-button-prev, .swiper-button-next {
      bottom: 90px;
    }
    .categories {
      padding: 40px 0 140px;
    }
  }
  .shopByBrand {
    .twoButtons {
      width: auto;
    }
  }

  .commonBtn {
    width: 185px;
    margin-bottom: 0 !important;
  }

  .singleModel {
    width: calc((100% - 40px) / 2);
    margin: 0 10px 26px;
  }

  footer {
    padding: 85px 0;
    &:before {
      position: absolute;
      content: "";
      top: -4px;
      left: 0;
      width: 58%;
      height: 4px;
      background-color: $red;
    }
    .footerContent {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .footerItem {
      margin-bottom: 0;
      width: 182px;
      .description {
        font-size: 16px;
      }
      .head {
        font-size: 24px;
        margin-bottom: 25px;
        &:after {
          width: 85px;
        }
      }
    }
    .bottom {
      height: 85px;
      font-size: 16px;
      .myContainer {
        width: 90vw;
      }
      .copyRight {
        height: 85px;
        padding: 30px 0 30px 60px;
      }
      .leaveMsg {
        height: 85px;
        a {
          padding: 30px 50px;
        }
      }
    }
  }
  .sectionTitle {
    padding: 50px 0;
  }
}

@media screen and (min-width: 992px) {
  .tabs {
    .type {
      padding: 0;
    }
  }
  .commonPopup {
    .popupContainer {
      .selectBox {
        width: 465px;
        margin-left: 50px;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 1260px) {
  .contactUs {
    .shopByBrand {
      .borderedText {
        margin: 0;
      }
    }
    .connection {
      display: flex;
      justify-content: space-between;
      p {
        display: inline-block;
      }
    }
  }
  .responsiveMenu {
    opacity: 0 !important;
    visibility: hidden !important;
  }
  .singleHead {
    display: none;
  }
  .orders {
    .orderStatus {
      span {
        width: auto;
      }
      .form-group {
        min-width: 290px;
        width: calc(27% - 10px);
        &.vinNo {
          max-width: 600px;
          margin-left: 20px;
          flex: 1;
        }
      }
    }

  }
  .customerInfo {
    order: 1;
  }

  .rightCart {
    order: 2;
    width: calc(42% - 10px)
  }

  .half {
    width: 50%;
    float: left;
  }

  .homeSlider {
    height: 914px;
    padding-top: 120px;
    .swiper-slide {
      align-items: center;
      padding-bottom: 0;
    }
    .bgImg {
      width: 50%;
      top: calc(50% - 33px);
      img {
        height: 200px;
      }
      &.left {
        display: block;
      }
    }
    .half {
      img {
        width: 100%;
      }
      &:first-child {
        order: 2;
      }
      &:last-child {
        order: 1;
      }
    }
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 55px;
    }
    .subText {
      width: 60%;
    }
  }
  header {
    .whiteBg {
      display: flex;
      width: 75%;
      height: inherit;
      justify-content: space-around;
      padding: 0;
    }
    .myContainer {
      margin: 0 auto;
      height: 125px;
      display: flex;
      width: 90vw;
      padding: 0;
      flex-wrap: nowrap;
    }
    .subData {
      position: relative;
      width: auto;
      height: inherit;
      padding: 0 28px;
      img {
        width: 29px;
      }
      .subDataImage {
        height: 30px;
      }
    }
    .navLinks, .search {
      display: block;
    }
    .navIcon {
      display: none;
    }
    .cart {
      position: initial;
      .cartLink {
        &:before {
          bottom: -15px;
        }
      }
    }
  }

  .cartPopup {
    right: 20px !important;
    transform: translate(0) !important;
    left: auto !important;
  }
  .singleModel {
    width: calc((100% - 60px) / 3);
  }

  .registerStyle {
    width: calc(58% - 10px);
    &.register {
      width: calc(50% - 10px);
    }
    &:first-child {
      margin-right: 20px;
    }
  }

  .signing {
    .register {
      margin-bottom: 0;
      p {
        margin-bottom: 20px;
      }
    }
  }
  .shopByBrand {
    .twoButtons {
      margin-right: 209px;
    }
  }
}

@media screen and (min-width: 1440px) {
  header {
    .navLinks {
      padding: 0 38px;
      li {
        min-width: 103px;
      }
    }
    .search {
      margin: 0 37px;
    }
    .logo {
      margin: 0 42px;
    }
  }
}

// jquery ui Change style

.ui-widget.ui-widget-content {
  border: none;
  background-color: transparent;
}

.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: 0;
  border: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 0;
  padding-bottom: 0;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0 !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none;
  background-color: transparent;
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
}

.ui-selectmenu-button.ui-button {
  width: 100% !important;
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 16px;
  font-family: 'realway-bold';
  padding: 0 30px;
}

.ui-button:active, .ui-button:hover, .ui-button:focus, .ui-state-active, .ui-widget-content .ui-state-active {
  color: #000 !important;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.ui-button .ui-icon {
  background-image: url(../images/down.png) !important;
}

.ui-icon-triangle-1-s {
  background-position: 0 !important;
}

.ui-menu-item {
  padding: 10px 0;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-family: 'realway-bold';
}

.ui-menu-item:hover .ui-state-active {
  color: $red !important;
}

//
//.ui-menu-item:first-of-type {
//  border-top: 1px solid $border-color;
//}

.ui-menu-item:not(:last-of-type) {
  border-bottom: 1px solid $border-color;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: inherit;
}

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
  margin: 0 !important;
}

.ui-selectmenu-menu .ui-menu .ui-menu-item:first-of-type, .ui-selectmenu-menu .ui-menu .ui-menu-item:first-of-type {
  border-top: 1px solid $border-color;
}

.ui-selectmenu-menu .ui-menu::-webkit-scrollbar {
  display: none;
}

.ui-selectmenu-menu .ui-menu {
  max-height: 227px;
  background: #fff;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: transparent $border-color $border-color $border-color !important;
  padding: 0 20px;
}

.commonTabs {
  &.ui-widget.ui-widget-content {
    border: none !important;
  }
  .forTabs .ui-tabs-panel {
    padding: 0 !important;
  }
  .ui-tabs-nav li {
    border: none !important;
    background-color: transparent !important;
  }
  .ui-tabs-nav a {
    color: inherit !important;
  }
  .ui-tabs .ui-tabs-panel {

  }
}

.ui-menu .ui-menu-item-wrapper {
  padding: 0 !important;
}

.ui-selectmenu-menu .opacityDiv {
  height: 50px;
}

.ui-widget.ui-widget-content {
  &.twoSidesBorder {
    border-right: transparent!important;
    border-left: transparent!important;
  }
}

.ui-widget.ui-widget-content {
  &.noBorder {
    border:  none!important;
  }
}

.opacityDiv {
  &.two {
    height: 40px;
    width: 99%;
    bottom: 2px;
    left: 4px;
  }
}

.formToHide {
  display: none;
  position: absolute;
  top: -8px;
  width: 100%;
  left: 0;
  caret-color: $red;
  input {
    height: 42px;
    padding: 20px;
    font-size: 16px;
    font-family: 'realway-regular';
    color: #000;
    &:focus {
      outline: none!important;
      box-shadow: none!important;
    }
  }
  ::-webkit-input-placeholder {
    color: #000;
  }
}