p {
    z-index: 9;
    font-size: 16px;
}

h1 {
    font-size: 24px;
    z-index: 9;
    align-self: center;
}

body section:first-of-type {
    margin-top: 30px;
}

.model {
    display: none;
}

.myContainer {
    max-width: 1220px;
    margin: 0 auto;
    width: 90vw;
}

.darkGray {
    color: #101010;
}

img {
    width: 100%;
}

.logo {
    width: 73px;
    height: 25px;
}

.subData {
    background-color: #FF0000;
    padding: 0 28px;
    height: 60px;
    justify-content: space-around;
}

.subData > li {
    display: inline-block;
    font-size: 11px;
    color: #fff;
    text-align: center;
    font-family: 'realway-semibold';
}

.subData > li:nth-child(2) {
    margin: 0 46px;
}

.subData img {
    width: 20px;
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
}

header > .myContainer {
    margin: 0;
    height: 120px;
    width: 100vw;
}

header .whiteBg, header .subData {
    width: 100vw;
    padding: 0 7.5vw;
}

header .whiteBg {
    display: none;
    height: 60px;
    background-color: #fff;
    justify-content: space-between;
}

header .navLinks {
    display: none;
    padding: 0 29px;
    border-left: 1px solid rgba(112, 112, 112, 0.2);
    border-right: 1px solid rgba(112, 112, 112, 0.2);
}

header .navLinks li {
    display: inline-block;
    text-align: center;
    min-width: 8px;
    font-size: 16px;
    position: relative;
}

header .navLinks li a {
    display: block;
    box-sizing: content-box;
    padding: 0 10px;
}

header .navLinks li:hover:after, header .navLinks li.active:after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 46%;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #FF0000;
}

header .subData {
    position: relative;
}

header .search {
    margin: 0 35px;
    display: none;
}

header .search img {
    width: 21px;
    height: 21px;
}

header .navIcon {
    display: block;
}

.subDataImage {
    height: 20px;
    width: fit-content;
    margin: 0 auto 10px;
    position: relative;
}

.itemNumbers {
    position: absolute;
    right: -12px;
    top: 1px;
    background-color: #fff;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    color: red;
    border: 1px solid red;
    font-size: 10px;
    font-family: 'realway-semibold';
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    color: inherit;
}

.half {
    width: 100%;
    float: left;
}

.threeCols {
    width: calc(100% / 3);
}

.homeSlider {
    background-color: #101010;
    min-height: 487px;
    margin-top: 0 !important;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.homeSlider .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #fff;
    padding-bottom: 25px;
}

.homeSlider .swiper-slide .mainText {
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.homeSlider .swiper-slide .after:after {
    width: 20%;
    height: 3px;
}

.homeSlider .bgImg {
    position: absolute;
    width: 100%;
    right: 0;
    top: 36%;
}

.homeSlider .bgImg img {
    height: 100px;
}

.homeSlider .bgImg.left {
    display: none;
    left: -34%;
    right: auto;
}

.homeSlider .half:first-child {
    text-align: center;
}

.homeSlider .half img {
    width: 274px;
}

.homeSlider .swiper-container-horizontal > .swiper-pagination-bullets {
    text-align: left;
    bottom: 0px;
}

.homeSlider .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.2);
}

.homeSlider .swiper-pagination-bullet-active {
    background-color: #FF0000;
}

.homeSlider .subText {
    font-family: 'realway-medium';
}

.tabSection {
    background-color: #fff;
    padding-top: 0;
}

.tabSection .myContainer {
    width: 100%;
}

.tabSection .catContaienr .ui-selectmenu-button.ui-button {
    justify-content: center !important;
    background-color: #FF0000 !important;
    color: #fff !important;
}

.tabSection .catContaienr .ui-selectmenu-button.ui-button:hover, .tabSection .catContaienr .ui-selectmenu-button.ui-button:focus, .tabSection .catContaienr .ui-selectmenu-button.ui-button:active {
    color: #fff !important;
}

.tabSection .catContaienr .ui-selectmenu-button.ui-button .ui-icon {
    background-image: url("../images/down2.png") !important;
}

.tabSection .commonTabs .ui-tabs-nav a {
    color: #fff !important;
}

.tabSection .type {
    display: flex;
    align-items: center;
    padding: 30px 0 0;
}

.tabSection .type a {
    padding: 0 15px;
    width: 50%;
    text-align: center;
    color: #000;
}

.tabSection .type a:first-child {
    border-right: 1px solid rgba(112, 112, 112, 0.2);
}

.tabSection .changedSelect {
    border: none;
    margin-top: 0;
    background: #FF0000 url(../images/down2.png) no-repeat calc(100% - 30px) !important;
    color: #fff;
}

.tabSection .changedSelect option {
    color: #FF0000;
    background-color: #fff;
}

.tabs {
    z-index: 9;
}

.tabs ul {
    line-height: 85px;
    display: flex;
    justify-content: space-around;
    background-color: #FF0000;
}

.tabs ul li a {
    color: #fff !important;
    font-size: 16px;
    font-family: 'realway-bold';
}

.tabs ul li.ui-state-active {
    position: relative;
}

.tabs ul li.ui-state-active:after {
    position: absolute;
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    bottom: -1px;
    left: calc(50% - 4px);
}

.tabs .tabsContent {
    padding: 30px 0;
    font-size: 16px;
    color: #000;
    width: 90vw;
    margin: 0 auto;
    font-family: 'realway-bold';
}

.tabs .tabsContent select {
    font-family: 'realway-bold';
    color: #000;
}

.tabs .tabsContent button {
    font-family: 'realway-bold';
    color: #fff;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: none;
    color: black;
    padding: 0 20px;
    height: 20px !important;
}

.singleTab .formBorder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid rgba(112, 112, 112, 0.2);
}

.singleTab form, .singleTab .vehicleForm {
    padding: 0;
}

.singleTab form a, .singleTab .vehicleForm a {
    display: inline-block;
    width: calc(100% / 3);
    margin: 20px 0;
    padding: 0 24px;
}

.singleTab form a:not(:last-child), .singleTab .vehicleForm a:not(:last-child) {
    border-right: 1px solid rgba(112, 112, 112, 0.2);
}

.singleTab form a:focus, .singleTab .vehicleForm a:focus {
    box-shadow: none;
}

.singleTab form button, .singleTab .vehicleForm button {
    font-size: 18px;
    border: none;
    background-color: #FF0000;
    color: #fff;
    height: 60px;
    width: 100%;
    margin-top: 20px;
}

#vehicle a span:first-child {
    display: none;
}

#vehicle a i {
    display: inline-block;
    margin: 4px 0;
    color: #FF0000;
}

#partNo .vehicleForm, #number .vehicleForm {
    position: relative;
}

#partNo input, #number input {
    height: 60px;
    font-size: 16px;
    font-family: 'realway-bold';
}

#partNo ::-webkit-input-placeholder, #number ::-webkit-input-placeholder {
    color: #000;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: none;
    background: transparent url(../images/down2.png) no-repeat calc(100% - 10px) !important;
    color: #fff;
    font-size: 16px !important;
    font-family: 'realway-bold';
    padding: 0 33px;
}

option {
    color: #000;
    border: 1px solid #101010;
}

.opacityDiv {
    z-index: 99;
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
}

.borderedText {
    display: flex;
    flex-wrap: wrap;
}

.borderedText .mainText {
    line-height: 1.2;
    width: 235px;
}

.borderedText .mainText p {
    display: inline-block;
    margin-bottom: 30px;
    font-family: 'realway-medium';
}

.borderedText .mainText p:after {
    width: 118px;
    height: 2px;
    bottom: -17px;
}

.borderedText .mainText h1 {
    padding-right: 18px;
    margin-bottom: 12px;
    color: #101010;
}

.borderedText .subText {
    max-width: 100%;
}

.chooseUs .imgContainer {
    margin-top: 50px;
}

.chooseUs img {
    margin-top: 50px;
}

.chooseUs .borderedText > p:first-of-type {
    font-family: 'realway-medium';
}

.chooseUs .borderedText > p:last-of-type {
    padding: 27px;
    background-color: #fff;
    font-family: 'realway-medium';
}

.commonBtn {
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 19px 5px;
    background-color: #FF0000;
    margin-bottom: 23px;
    border: none;
}

.bgText .subTxt {
    font-family: 'realway-regular';
}

.shopByBrand {
    min-height: 195px;
    background-size: cover;
    display: flex;
    align-items: center;
}

.shopByBrand h1 {
    padding: 20px 0;
    margin-bottom: 60px;
}

.shopByBrand .bgText {
    justify-content: space-between;
}

.shopByBrand .bgText h1 {
    width: auto;
}

.shopByBrand .twoButtons {
    float: right;
    width: 100%;
    z-index: 9;
    align-self: center;
}

.shopByBrand .basic a {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #FF0000;
    height: 60px;
    width: 100%;
}

.shopByBrand .basic a:hover {
    background-color: #FF0000;
    color: #fff;
}

.shopByBrand .cats .ui-selectmenu-button.ui-button {
    padding: 0 20px !important;
}

.twoButtons a {
    font-family: 'realway-bold';
    text-transform: uppercase;
    font-size: 18px;
    width: 183px;
}

.singleModel {
    width: 100%;
}

.popular {
    display: flex;
    flex-wrap: wrap;
    margin: 38px -10px 0;
}

.popular .singleModel {
    margin: 0 10px 20px;
    text-align: center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: top;
}

.popular .singleModel .imgContainer {
    height: 144px;
    background-position: bottom;
}

.popular .singleModel img {
    height: 105px;
    margin-top: 70px;
    width: auto;
}

.popular .singleModel .carDesc {
    padding-bottom: 42px;
}

.popular .singleModel .carDesc p {
    color: red;
    font-size: 22px;
    font-family: 'realway-bold';
}

.popular .singleModel .carDesc p:first-child {
    font-size: 26px;
    margin-top: 50px;
    color: #000;
    font-family: 'realway-medium';
}

.popular .commonBtn {
    font-family: 'realway-bold';
    color: #fff;
    margin: 30px 0 0;
    font-size: 18px;
}

.smallText {
    margin-top: 30px;
    font-family: 'realway-medium';
}

.swiper-button-prev:focus, .swiper-button-next:focus {
    outline: none;
}

.shopByCategory {
    background-color: #101010;
    padding-bottom: 33px;
}

.shopByCategory .categories {
    padding: 40px 0 50px;
    flex-wrap: wrap;
}

.shopByCategory .categories .swiper-slide {
    padding: 16px;
    background-color: #fff;
}

.shopByCategory .categories .swiper-slide .categoryDescription {
    align-self: center;
    border-left: 1px solid rgba(112, 112, 112, 0.2);
}

.shopByCategory .swiper-button-prev, .shopByCategory .swiper-button-next {
    background-image: none;
    color: #FF0000;
    top: auto;
    bottom: 10px;
}

.shopByCategory .swiper-button-prev {
    left: calc(50% - 43px);
}

.shopByCategory .swiper-button-next {
    right: calc(50% - 43px);
}

.shopByCategory .swiper-button-disabled {
    color: #fff;
    opacity: 1;
}

.shopByCategory .bgText {
    min-height: 90px;
}

.shopByCategory .bgText h1 {
    margin-top: 20px;
}

.shopByCategory .bgText .imgContainer {
    height: 70px;
    top: 20px;
}

.accessories {
    padding: 40px 0;
}

.accessories .ui-selectmenu-button.ui-button {
    justify-content: center !important;
}

.accessories .commonTabs > .ui-selectmenu-button.ui-button, .accessories .commonTabs > .ui-selectmenu-button.ui-button:hover {
    background-color: #FF0000 !important;
    color: #fff !important;
    margin-top: 20px;
}

.accessories .commonTabs > .ui-selectmenu-button.ui-button .ui-icon, .accessories .commonTabs > .ui-selectmenu-button.ui-button:hover .ui-icon {
    background-image: url("../images/down2.png") !important;
}

.accessories .forTabs .ui-selectmenu-button.ui-button, .accessories .forTabs .ui-selectmenu-button.ui-button:hover {
    background-color: #fff !important;
    margin-bottom: 20px;
    color: #000 !important;
}

.accessories .myContainer {
    overflow: hidden;
}

.accessories .commonTabs .ui-tabs-nav a {
    color: #fff !important;
}

.accessories .accessoriesForMobile {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 22px 0;
}

.accessories .accessoriesForMobile p {
    font-size: 18px;
    font-family: 'realway-bold';
}

.accessories .commonTabs {
    padding: 0;
}

.accessories .commonTabs .row {
    margin-bottom: 50px;
}

.accessories .commonTabs ul.secondList {
    background-color: #fff;
    padding: 35px 0;
    margin-bottom: 50px;
    justify-content: space-around;
}

.accessories .commonTabs ul.secondList a {
    color: #101010;
}

.accessories .commonTabs ul.secondList a:hover {
    color: #FF0000;
}

.accessories .commonTabs ul.firstList {
    padding: 0;
    height: 60px;
    background-color: #FF0000;
    margin: 50px 0 0;
    display: flex;
    justify-content: center;
}

.accessories .commonTabs ul.firstList li {
    align-self: center;
    padding: 20px 0;
}

.accessories .commonTabs ul.firstList li:first-child {
    margin-right: 110px !important;
}

.accessories .commonTabs ul.firstList li.ui-state-active {
    position: relative;
}

.accessories .commonTabs ul.firstList li.ui-state-active:after {
    position: absolute;
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    bottom: -1px;
    left: calc(50% - 8px);
}

.accessories .commonTabs ul.firstList li a {
    color: #fff;
}

.accessories .commonTabs ul li {
    display: inline-block;
    font-family: 'realway-semibold';
    font-size: 16px;
}

.accessories .commonTabs ul li.ui-state-active {
    color: #FF0000;
}

.accessories .commonTabs .commonBtn {
    color: #fff;
    font-family: 'realway-bold';
    font-size: 18px;
}

.accessories #accessoryTab ul {
    display: none;
}

.accessories .mainImage, .accessories .subImage {
    position: relative;
    margin-bottom: 20px;
}

.accessories .mainImage:hover .mainImgDescription, .accessories .subImage:hover .mainImgDescription {
    display: block;
}

.accessories .mainImgDescription {
    display: none;
    padding: 12px 16.5px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.accessories .mainImgDescription p {
    color: #101010;
}

.accessories .mainImgDescription p:first-child {
    font-size: 18px;
    color: #FF0000;
    padding-bottom: 11px;
    margin-bottom: 14px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.accessories .mainImgDescription p:last-child {
    font-size: 14px;
    font-family: 'realway-bold';
}

.accessory {
    width: calc(100% - 20px);
    margin: 0 10px;
}

.mainImage {
    height: 389px;
    overflow: hidden;
}

.subImage {
    height: 389px;
    overflow: hidden;
}

.subImage:first-child {
    margin-bottom: 20px;
}

.bgText {
    position: relative;
    min-height: 110px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 6px;
    color: #fff;
}

.bgText h1 {
    z-index: 9;
    width: 100%;
    color: #fff;
    align-self: center;
}

.bgText .imgContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    padding: 6px 0;
    background-clip: content-box;
    background-color: #101010;
}

.bgText .imgContainer:after {
    margin: -6px 0;
    bottom: 6px;
}

.bgText .imgContainer:before {
    top: 1px;
}

.bgText .imgContainer img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
}

.bgText .imgWrapper {
    height: calc(100% - 40px);
    overflow: hidden;
    margin: 15px 0;
}

.accessoriesSection {
    min-height: 100%;
}

.accessoriesSection .twoButtons {
    text-align: center;
    margin-top: 20px;
}

.accessoriesSection .twoButtons a {
    margin: 20px auto;
}

.accessoriesSection .text {
    background-color: #fff;
    padding: 25px;
    font-family: 'realway-medium';
}

.hover:hover {
    color: #FF0000;
}

.aroundFooter {
    padding-top: 40px;
    overflow: hidden;
}

footer {
    background-color: #101010;
    padding: 30px 0;
    position: relative;
}

footer .footerContent {
    width: 129px;
    margin: 0 auto;
}

footer .top {
    position: relative;
    margin-bottom: 50px;
}

footer .footerItem {
    color: #fff;
    margin-bottom: 40px;
}

footer .footerItem .logo {
    width: 90px;
    height: 31px;
}

footer .footerItem .head {
    font-size: 17px;
    font-family: 'realway-medium';
    margin-bottom: 15px;
}

footer .footerItem .head span:after {
    height: 2px;
    bottom: -11px;
}

footer .footerItem .head:after {
    width: 65px;
    height: 3px;
}

footer .footerItem .description {
    font-size: 12px;
    font-family: 'realway-semibold';
}

footer .footerItem .description a {
    display: block;
    margin-bottom: 14px;
}

footer .footerItem .description span {
    display: inline-block;
}

footer .bottom {
    font-size: 10px;
    height: 53px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer .bottom .myContainer {
    width: 100%;
}

footer .bottom .copyRight {
    font-family: 'realway-bold';
    height: 53px;
    background-color: #fff;
    width: calc(100% - 170px);
    float: left;
    padding: 20px;
}

footer .bottom .leaveMsg {
    height: 53px;
    background-color: #FF0000;
    width: 100%;
    float: left;
    font-family: 'realway-bold';
}

footer .bottom .leaveMsg a {
    padding: 20px 26px;
}

footer .bottom a {
    margin-right: -20px;
    color: #fff;
}

.scroll {
    position: absolute;
    right: 0;
    top: -52px;
    display: inline-block;
    padding: 8px 15px;
    font-size: 25px;
    background-color: #FF0000;
    color: #ffff;
    line-height: 1;
}

.sectionTitle {
    padding: 23px 0;
    color: #101010;
    text-align: center;
}

.mainButton {
    background-color: #fff;
    color: #FF0000 !important;
    font-family: 'realway-bold';
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.mainButton:hover, .mainButton .active {
    background-color: #FF0000;
    color: #fff !important;
}

.commonMargin {
    margin-bottom: 60px;
}

.accessoryText {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    color: #000;
    line-height: 1.8;
    font-family: 'realway-medium';
}

.marginBottom90 {
    margin-bottom: 50px;
}

.policyContent {
    padding: 30px 40px;
    background-color: #fff;
    font-family: 'realway-medium';
}

.policyContent .after {
    font-size: 18px;
    margin-bottom: 12px;
}

.policyContent .after:after {
    width: 63px;
    height: 3px;
    background-color: #FF0000;
}

.policyContent .content {
    line-height: 1.8;
    font-size: 16px;
}

.policyContent .singlePolicy {
    margin-bottom: 20px;
}

.policyContent .singlePolicy.different p {
    margin-bottom: 30px;
}

.policyContent .fbi span:first-child {
    font-size: 18px;
    font-family: 'realway-bold';
}

.policyContent .fbi span:last-child {
    font-size: 16px;
    font-family: 'realway-medium';
}

.registerStyle {
    width: 100%;
    background-color: #fff;
    padding: 19px 29px;
}

.registerStyle .form-group {
    margin-bottom: 20px !important;
}

.registerStyle .form-group input {
    height: 60px;
    border: 1px solid rgba(112, 112, 112, 0.2);
    border-radius: 0;
    font-size: 16px;
    font-family: 'realway-bold';
}

.signing {
    display: flex;
    flex-wrap: wrap;
}

.signing .register {
    align-self: flex-start;
    font-size: 16px;
    margin-bottom: 20px;
}

.signing .register p {
    margin-bottom: 30px;
}

.signing .register button {
    font-size: 16px;
    border: none;
    color: #fff;
    font-family: 'realway-bold';
    margin-bottom: 20px;
}

.signing .register ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.signing .register input[type=checkbox] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.signing .register .loginBtn {
    text-align: center;
}

.required input {
    padding-left: 25px;
}

.required ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.padding-rem {
    padding: 0 0.75rem !important;
}

.requiredSelect {
    margin-bottom: 20px;
}

.requiredSelect select {
    padding: 0 24px;
    color: #000;
}

.requiredSelect .star {
    font-size: 28px;
    font-family: 'realway-bold';
    left: 12px;
    top: 17px;
    z-index: 99;
}

.inCorrect {
    display: block;
    font-family: 'realway-medium';
    font-size: 12px;
    color: #FF0000;
    margin-bottom: 15px;
}

.required label {
    z-index: 99;
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 15px;
    top: 18px;
    font-size: 16px;
    font-family: 'realway-bold';
    padding-left: 8px;
}

.required label:before {
    position: absolute;
    content: '*';
    top: -2px;
    left: -4px;
    color: red;
    font-size: 28px;
}

.checkBox {
    margin-top: 20px;
    display: block;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    font-family: 'realway-medium';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkBox span {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #C1C1C1;
}

.checkBox input:checked ~ .checkMark:after {
    position: absolute;
    content: "";
    width: 9px;
    height: 5px;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    top: 4px;
    left: 3px;
    transform: rotate(-35deg);
}

.form-group {
    margin-bottom: 0 !important;
}

.searchText {
    font-family: 'realway-regular';
}

.searchText p:first-child {
    font-size: 24px;
}

.searchText p:last-child {
    font-size: 14px;
}

.form-control {
    border: none;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.customerInfo {
    padding: 18px 18px 18px 10px;
    order: 2;
}

.customerInfo p {
    font-size: 24px;
    margin-bottom: 18px;
}

.customerInfo input[type=radio] {
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.customerInfo .checkBox {
    margin-bottom: 18px;
}

.customerInfo .checkBox label {
    font-size: 16px;
}

.customerInfo .shippingAddress {
    margin: 25px 0 20px;
    font-size: 16px;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
}

.customerInfo .shippingAddress .title {
    font-family: 'realway-bold';
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 20px;
}

.customerInfo .shippingAddress .checkBox {
    margin: 0 0 20px;
    align-self: center;
    font-family: 'realway-regular';
}

.customerInfo select {
    margin-bottom: 20px;
    width: 100%;
    height: 60px !important;
    border: 1px solid rgba(112, 112, 112, 0.2);
    background: white url(../images/downBlack.png) no-repeat calc(100% - 20px) !important;
    color: rgba(0, 0, 0, 0.2);
    font-family: 'realway-bold';
}

.customerInfo select option {
    color: #000;
}

.customerInfo .vin {
    margin-bottom: 27px;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
    padding-top: 20px;
}

.customerInfo .vin .width-50 {
    width: calc(50% - 34px);
}

.customerInfo .vin .width-50 input {
    margin-bottom: 0;
}

.customerInfo .vin .or {
    width: 25px;
    align-self: center;
    margin-bottom: 20px;
}

.customerInfo .vin .or span {
    align-self: center;
    font-family: 'realway-bold';
    font-size: 16px;
}

.customerInfo .vinText {
    font-size: 16px;
}

.customerInfo textarea {
    height: 155px;
    padding: 15px;
    font-size: 16px;
}

.cartData {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.cartData .title {
    font-size: 16px;
    font-family: 'realway-bold';
}

.cartData .mainButton {
    font-size: 14px;
}

.cartData .subTotal span {
    font-size: 14px !important;
}

.cartData .singleRow {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cartData .singleRow:not(:last-child) {
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    padding: 20px 0;
}

.cartData .singleRow > div {
    width: 50%;
}

.cartData .singleRow .details {
    display: flex;
}

.cartData .singleRow .details span {
    text-align: center;
    display: block;
    width: calc(100% / 3);
}

.cartData .singleRow span {
    font-size: 10px;
    font-family: 'realway-medium';
}

.cartData .singleRow p {
    font-size: 14px;
    font-family: 'realway-bold';
    margin-bottom: 10px;
}

.cartData .singleRow p i {
    margin-right: 10px;
}

.cartData .singleRow .grid {
    width: calc(100% + 20px);
}

.cartData .singleRow button {
    border: 1px solid rgba(112, 112, 112, 0.2);
    margin-top: 20px;
    width: 100%;
}

.cartData .singleRow form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-family: 'realway-medium';
}

.cartData .singleRow form label, .cartData .singleRow form button {
    width: 25%;
}

.cartData .singleRow form input {
    height: 60px;
    width: calc(50% - 40px);
    margin: 0 20px;
    border: 1px solid rgba(112, 112, 112, 0.2);
}

.cartData .singleRow form button {
    margin-top: 0;
    height: 60px;
    color: #fff;
    background-color: #FF0000;
    font-size: 14px;
    font-family: 'realway-bold';
}

.cartData input[type="radio"] {
    display: none;
}

.cartData .checkBox {
    margin-top: 10px;
}

.cartData .checkBox span {
    top: 2px;
}

.cartData .checkBox label {
    font-size: 16px;
    font-family: 'realway-regular';
}

.cartData .shippingMethod > div:first-of-type {
    width: calc(55% - 20px);
    margin: 10px;
}

.cartData .shippingMethod .total {
    width: 100%;
    margin: 10px;
}

.cartData .shippingMethod .total span {
    font-size: 14px;
    font-family: 'realway-regular';
}

.cartData .shippingMethod .total span:first-of-type {
    width: 100px;
    margin-right: 10px;
}

textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2) !important;
    color: #000;
}

textarea {
    width: 100%;
    border: 1px solid rgba(112, 112, 112, 0.2);
    font-family: 'realway-bold';
}

.rightCart {
    width: 100%;
}

.shoppingCart {
    background-color: #fff;
    min-height: 136px;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.shoppingCart p {
    font-size: 16px;
    font-family: 'realway-bold';
}

.submitCart {
    padding: 18px 15px 32px 15px;
    background-color: #fff;
    margin-bottom: 38px;
    font-family: 'realway-medium';
}

.submitCart .commonBtn {
    font-size: 16px;
    font-family: 'realway-bold';
    color: #fff;
    margin: 20px 0 !important;
    width: 183px;
}

.submitCart .ip {
    margin-bottom: 20px;
}

.submitCart .note {
    font-size: 11px;
}

.grid {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
}

.grid .width-50 {
    width: calc(50% - 20px);
    margin: 0 10px;
}

.width-25 {
    width: calc(25% - 20px);
    margin: 0 10px;
}

.width-75 {
    width: calc(75% - 20px);
    margin: 0 10px;
}

.returnPolicy {
    background-color: #fff;
    padding: 22px;
}

.returnPolicy p {
    margin-bottom: 30px;
    font-family: 'realway-medium';
}

.returnPolicy p:first-child {
    font-size: 24px;
    padding-bottom: 10px;
}

.returnPolicy p:first-child:after {
    width: 62px;
    background-color: #FF0000;
    height: 2px;
    bottom: 0;
}

.returnPolicy p:not(:first-child) {
    font-size: 18px;
}

.results .shopByBrand .selectCategory {
    margin: 0 0 20px;
}

.results .bgText .grid {
    background-color: transparent;
    margin: 20px 0;
    color: #fff;
    width: 100%;
    z-index: 9;
}

.results .bgText .grid .width-50 {
    align-self: center;
}

.results .bgText .grid .width-50:first-of-type {
    padding-bottom: 32px;
}

.results .cats {
    align-self: flex-start;
}

.results .searchResults {
    margin-top: 60px;
    font-family: 'realway-bold';
    font-size: 14px;
}

.results .searchResults .singleModel {
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.results .searchResults .resultData {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}

.results .searchResults .resultData .searchImgContainer {
    width: 50%;
}

.results .searchResults .resultData .searchImgContainer img {
    height: 110px;
    margin-top: 0;
}

.results .searchResults .resultData .description {
    width: 50%;
}

.results .searchResults .resultData .description p {
    font-size: 14px;
}

.results .searchResults .resultData .description p:first-child {
    color: #FF0000;
    font-size: 18px;
}

.results .searchResults .prices {
    padding: 20px 0;
}

.results .searchResults .prices span:last-child {
    color: #FF0000;
}

.results .selectCategory {
    width: 100%;
}

.results .commonBtn {
    width: 100%;
    margin: 20px 10px 0;
}

.resultBtns {
    display: flex !important;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.resultBtns .searchResultBtn {
    width: 100%;
    margin: 0 10px;
    font-size: 14px;
}

.resultBtns .searchResultBtn:not(:last-child) {
    width: calc((100% / 2) - 20px);
    margin-bottom: 20px;
    font-size: 16px;
}

.searchResultBtn {
    height: 40px;
    font-size: 13px;
    font-family: 'realway-bold';
    color: #FF0000;
    border: 1px solid rgba(112, 112, 112, 0.2);
    background: #fff;
    flex-grow: 1;
}

.searchResultBtn:not(:last-child) {
    margin-right: 8px;
}

.searchResultBtn:hover {
    background: #FF0000;
    color: #fff;
}

.selectCategory {
    display: inline-block;
    width: 50%;
}

.selectCategory:last-child {
    margin-left: -4px;
}

.selectCategory:last-child select {
    border-left: 2px solid rgba(112, 112, 112, 0.2);
}

.selectCategory .form-group {
    padding: 20px 0;
    background-color: #fff;
}

.selectCategory select {
    width: 100%;
    background: white url(../images/down.png) no-repeat calc(100% - 20px) !important;
    color: #000;
}

.responsive .width-50 {
    width: 100%;
}

.itemDetails .width-32 .ui-selectmenu-button.ui-button {
    border-top: 1px solid rgba(112, 112, 112, 0.2);
    padding: 0 20px;
}

.itemDetails .width-32 .ui-selectmenu-button.ui-button:hover, .itemDetails .width-32 .ui-selectmenu-button.ui-button:focus, .itemDetails .width-32 .ui-selectmenu-button.ui-button:active {
    border-top: 1px solid rgba(112, 112, 112, 0.2) !important;
}

.itemDetails .width-32 .ui-selectmenu-button.ui-button > span {
    font-family: 'realway-semibold' !important;
}

.itemDetails .changeVehicle {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #FF0000;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: 'realway-medium';
    padding: 15px;
}

.itemDetails .pageHead {
    font-size: 18px;
    font-family: 'realway-medium';
    margin-bottom: 30px;
}

.itemDetails .itemImage {
    text-align: center;
    margin-bottom: 30px;
}

.itemDetails .itemImage div {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
}

.itemDetails .itemImage img {
    max-width: 300px;
    margin-top: 80px;
}

.itemDetails .itemImage p {
    text-align: center;
    font-size: 30px;
    font-family: 'realway-medium';
    margin-top: 60px;
}

.itemDetails .itemImage span {
    font-size: 24px;
    font-family: 'realway-bold';
    color: #FF0000;
}

.itemDetails .commonTabsDiff ul {
    font-size: 16px;
    font-family: 'realway-semibold';
}

.itemDetails .commonTabsDiff ul li {
    padding: 20px !important;
    border-top: 1px solid rgba(112, 112, 112, 0.1) !important;
    color: #101010;
}

.itemDetails .commonTabsDiff ul li.ui-tabs-active {
    color: #FF0000 !important;
}

.itemDetails .commonTabsDiff ul a:hover {
    color: #FF0000;
}

.itemDetails .width-32 {
    width: 100%;
    margin: 0 10px 20px;
    background-color: #fff;
    align-self: flex-start;
}

.itemDetails .width-68 {
    width: calc(100% - 20px);
    margin: 0 10px;
}

.itemDetails .width-68 > div {
    background-color: #fff;
    padding: 20px;
}

.itemDetails .width-68 .head {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.itemDetails .width-68 .head .left {
    display: flex;
    flex-wrap: wrap;
    font-family: 'realway-medium';
}

.itemDetails .width-68 .head .left p {
    width: 100%;
    font-size: 24px;
    color: #000;
}

.itemDetails .width-68 .head .left span {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'realway-semibold';
}

.itemDetails .width-68 .head .right {
    width: 100%;
}

.itemDetails .width-68 .head .right p {
    font-size: 18px;
    font-family: 'realway-medium';
    margin-bottom: 10px;
}

.itemDetails .width-68 .head select {
    height: 50px !important;
    width: 100%;
    color: #000;
    background: #fff url(../images/down.png) no-repeat calc(100% - 10px) !important;
    padding: 0 14px;
}

.itemDetails .width-68 .head .ui-selectmenu-button.ui-button, .itemDetails .width-68 .head .ui-selectmenu-button.ui-button:focus, .itemDetails .width-68 .head .ui-selectmenu-button.ui-button:active, .itemDetails .width-68 .head .ui-selectmenu-button.ui-button:hover {
    border: 1px solid rgba(112, 112, 112, 0.2) !important;
    padding: 0 20px !important;
}

.itemDetails .width-68 .head .ui-selectmenu-button.ui-button.ui-selectmenu-button-open, .itemDetails .width-68 .head .ui-selectmenu-button.ui-button:focus.ui-selectmenu-button-open, .itemDetails .width-68 .head .ui-selectmenu-button.ui-button:active.ui-selectmenu-button-open, .itemDetails .width-68 .head .ui-selectmenu-button.ui-button:hover.ui-selectmenu-button-open {
    border-bottom: none !important;
}

.itemDetails .changedSelect {
    margin: 0 !important;
    color: #000;
    background: #fff url(../images/downBlack.png) no-repeat calc(100% - 10px) !important;
}

.tabTitle {
    display: none;
}

.details2 .head .left {
    width: 100% !important;
}

.details2 .moreDetails {
    color: #000;
    font-size: 18px;
    font-family: 'realway-medium';
}

.details2 .moreDetails .detailsHead {
    font-family: 'realway-bold';
    margin-bottom: 20px;
    font-size: 18px;
}

.allCategories .singleCategory {
    display: flex;
    padding: 20px 0;
    align-items: center;
    font-size: 18px;
    color: #101010;
}

.allCategories .singleCategory:last-child {
    border-top: 1px solid rgba(112, 112, 112, 0.2);
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    margin-bottom: 20px;
}

.allCategories .singleCategory:not(:last-child) {
    border-top: 1px solid rgba(112, 112, 112, 0.2);
}

.allCategories .singleCategory img {
    width: 80px;
    margin-right: 20px;
}

.edition .head {
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.edition .grid {
    padding-top: 30px;
    margin-bottom: 10px;
}

.edition .mainButton {
    font-size: 16px;
    border: 1px solid rgba(112, 112, 112, 0.2);
    width: calc((100% / 2) - 20px);
    margin: 10px;
}

.edition p:not(:last-child) {
    margin-bottom: 30px;
}

.singleItemActions {
    padding: 20px 0 0;
    font-size: 16px;
    font-family: 'realway-bold';
    margin: 0 -10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.singleItemActions button {
    height: 60px;
    background-color: #fff;
    color: #FF0000;
    margin: 0 10px 20px 10px;
    border: 1px solid rgba(112, 112, 112, 0.2);
    width: calc(50% - 20px);
}

.singleItemActions button:hover {
    background: #FF0000;
    color: #fff;
}

.singleItemActions button:last-child:nth-child(odd) {
    width: 100%;
}

.singleDetails {
    border-top: 1px solid rgba(16, 16, 16, 0.1);
}

.singleDetails .singleItemDesc {
    padding: 40px 0 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-family: 'realway-semibold';
    color: #101010;
    border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}

.singleDetails .singleItemDesc > span {
    display: inline-block;
    margin-bottom: 20px;
}

.singleDetails .singleItemDesc .imgContainer {
    width: 50%;
}

.singleDetails .singleItemDesc .imgContainer > img {
    max-width: 270px;
}

.singleDetails .singleItemDesc .itemData {
    width: 50%;
    font-size: 14px;
    font-family: 'realway-bold';
}

.singleDetails .singleItemDesc .itemData p {
    margin-bottom: 20px;
}

.singleDetails .singleItemDesc .itemData span {
    display: block;
}

.singleDetails .singleItemDesc .itemData .itemName {
    font-size: 18px;
    font-family: 'realway-bold';
}

.singleDetails .singleItemDesc .itemData .changePlace p {
    font-size: 14px;
    font-family: 'realway-bold';
}

.singleDetails .singleItemDesc .itemData .changePlace p.newPrice {
    color: #FF0000;
}

.singleDetails .singleItemDesc .itemData .scrollContainer {
    position: relative;
}

.singleDetails .singleItemDesc .itemData .scrollContainer:after {
    position: absolute;
    content: "";
    background-color: rgba(112, 112, 112, 0.1);
    height: 100%;
    width: 2px;
    right: -18px;
    top: 0;
}

.subImages {
    margin: 20px -15px;
}

.subImages .subImgContainer {
    width: calc((100% / 3) - 30px);
    margin: 0 15px;
    flex: 1;
    align-self: flex-start;
}

.partDetails .singleItemDesc {
    padding: 20px 0;
    border-bottom: none;
}

.partDetails .imgContainer {
    width: 100% !important;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.partDetails .imgContainer span:first-of-type {
    display: inline-block;
    width: 48%;
}

.partDetails .imgContainer > img {
    width: calc(50% - 30px);
    max-width: initial !important;
    margin-right: 30px;
}

.partDetails .forOpacity {
    width: 100% !important;
}

.partDetails .forOpacity .itemData {
    width: 100%;
}

.partDetails .forOpacity .itemData .scrollContainer > div {
    display: flex;
    flex-wrap: wrap;
}

.partDetails .forOpacity .itemData .scrollContainer > div > div {
    width: 50%;
}

.partDetails .forOpacity .itemData .scrollContainer > div > div:first-of-type {
    display: flex;
    flex-wrap: wrap;
}

.partDetails .forOpacity .itemData .scrollContainer > div > div:first-of-type p {
    width: 100%;
}

.partDetails .forOpacity .itemData .scrollContainer > div > div:first-of-type span {
    align-self: flex-end;
}

.partDetails .forOpacity .itemData p {
    margin-bottom: 0 !important;
}

.partDetails .resultBtns {
    width: 100% !important;
    margin: 20px -5px 0;
}

.partDetails .resultBtns button {
    margin: 0 5px 10px;
}

.partDetails .resultBtns .searchResultBtn {
    font-size: 16px !important;
}

.partDetails .changedSelect {
    font-family: 'realway-semibold';
    padding: 0 20px;
}

.partDetails2 .width-32 .ui-selectmenu-button.ui-button {
    border-top: none !important;
}

.partDetails2 .width-32 .ui-selectmenu-button.ui-button:hover, .partDetails2 .width-32 .ui-selectmenu-button.ui-button:focus, .partDetails2 .width-32 .ui-selectmenu-button.ui-button:active {
    border-top: none !important;
}

.partDetails2 .width-32 .ui-selectmenu-button.ui-button > span {
    font-family: 'realway-bold' !important;
}

.partDetails2 .singleItemDesc {
    padding: 20px 0;
}

.partDetails2 .tabTitle {
    border: none;
}

.partDetails2 ul {
    padding: 0 !important;
}

.partDetails2 .singleDetails .singleItemActions {
    justify-content: flex-start;
}

.partDetails2 .moreDetails .detailsHead {
    margin-bottom: 10px;
    color: #FF0000;
    font-size: 24px;
    font-family: 'realway-medium';
}

.partDetails2 .moreDetails .subText {
    font-size: 18px;
}

.partDetails2 .imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.partDetails2 .changedSelect {
    border-top: none;
}

.contactUs .borderedText {
    margin-top: 18px;
    display: block;
    margin-bottom: 28px;
}

.contactUs .borderedText .after {
    margin-bottom: 26px;
    color: #101010;
}

.contactUs .borderedText .after:after {
    width: 75px;
    height: 2px;
    background-color: #FF0000;
}

.contactUs .borderedText .desc {
    font-family: 'realway-medium';
}

.contactUs .shopByBrand, .contactUs .contactWrapper {
    align-items: flex-start;
}

.contactUs .shopByBrand h1, .contactUs .contactWrapper h1 {
    padding: 0 !important;
}

.contactUs .shopByBrand .borderedText, .contactUs .contactWrapper .borderedText {
    width: 100%;
    z-index: 9;
    color: #fff !important;
}

.contactUs .shopByBrand .borderedText .after, .contactUs .contactWrapper .borderedText .after {
    color: #fff !important;
    align-self: center;
}

.contactUs .shopByBrand .borderedText .after:after, .contactUs .contactWrapper .borderedText .after:after {
    width: 0;
}

.contactUs .shopByBrand .borderedText .wrapper span, .contactUs .contactWrapper .borderedText .wrapper span {
    font-size: 24px;
}

.contactUs .registerStyle {
    width: 100%;
    margin-bottom: 20px;
}

.contactUs .requiredSelect .star {
    top: 3px;
}

.contactUs textarea {
    height: 100px;
    margin-bottom: 20px;
    position: relative;
    padding: 10px 27px;
}

.contactUs textarea:before {
    position: absolute;
    content: '*';
    top: 0;
    left: 0;
}

.contactUs button {
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-family: 'realway-bold';
}

.contactUs .wrapper {
    width: 100%;
}

.contactUs .connection {
    margin-top: 43px;
}

.contactUs i {
    margin-right: 20px;
}

.contactUs .mapWrapper {
    margin-top: 20px;
}

.contactUs .mapWrapper p {
    display: none;
}

.contactUs .mapWrapper #googleMap {
    height: 500px;
}

.orders {
    /*repeated*/
    /*repeated*/
}

.orders .commonTabs.selectBorder.catContaienr > .ui-selectmenu-button.ui-button {
    background-color: #fff !important;
    color: #FF0000;
    font-family: 'realway-semibold';
    border: none !important;
    margin: 20px 0;
    padding: 0 20px;
}

.orders .commonTabs.selectBorder.catContaienr > .ui-selectmenu-button.ui-button:focus, .orders .commonTabs.selectBorder.catContaienr > .ui-selectmenu-button.ui-button:active, .orders .commonTabs.selectBorder.catContaienr > .ui-selectmenu-button.ui-button:hover {
    color: #FF0000 !important;
}

.orders .commonTabs.selectBorder.catContaienr > .ui-selectmenu-button.ui-button > span {
    font-family: 'realway-semibold';
}

.orders .commonTabs ul {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'realway-semibold';
    padding: 40px;
    background-color: #fff;
}

.orders .commonTabs ul li {
    color: #101010;
    display: inline-block;
}

.orders .commonTabs ul li.ui-tabs-active {
    color: #FF0000 !important;
}

.orders .orderStatus {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.orders .orderStatus form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.orders .orderStatus span {
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
    font-family: 'realway-bold';
}

.orders .orderStatus .form-group {
    width: 100%;
}

.orders .orderStatus .form-group.vinNo {
    position: relative;
}

.orders .orderStatus .form-group.vinNo input {
    border: 1px solid rgba(112, 112, 112, 0.2);
    height: 60px;
    margin-bottom: 0;
}

.orders .orderStatus button {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    background-color: #FF0000;
    border: none;
    color: #fff;
    width: 60px;
    text-align: center;
}

.orders .tableHeader {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.orders .tableHeader p {
    margin-bottom: 20px;
    line-height: 1;
    font-size: 18px;
    font-family: 'realway-bold';
}

.orders .tableHeader span, .orders .tableHeader a {
    font-size: 16px;
    font-family: 'realway-bold';
}

.orders .totalOrders input[type="radio"] {
    display: none;
}

.orders .totalOrders .checkBox {
    display: inline-block;
}

.orders .totalOrders table {
    margin: auto;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    max-width: 100%;
}

.orders .totalOrders table tr {
    height: 60px;
}

.orders .totalOrders th, .orders .totalOrders td {
    min-width: 134px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    font-size: 16px;
    font-family: 'realway-semibold';
}

.orders .totalOrders th:nth-child(1), .orders .totalOrders td:nth-child(1) {
    min-width: 235px;
}

.orders .totalOrders th:nth-child(2), .orders .totalOrders td:nth-child(2) {
    min-width: 235px;
}

.orders .compose {
    color: #FF0000;
    font-family: 'realway-bold' !important;
    margin-right: 12px;
}

.orders #messageCenter th:nth-child(1) {
    min-width: 637px;
}

.orders #garage .tableHeader {
    padding: 0 0 20px;
    border: none;
}

.orders .messageContent {
    display: none;
    background: #fff;
    padding: 50px 40px;
}

.orders .messageContent .messageHeader {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.orders .messageContent .messageHeader p {
    font-size: 24px;
    font-family: 'realway-medium';
    margin-bottom: 20px;
}

.orders .messageContent .messageHeader .subHead span {
    font-size: 16px;
}

.orders .messageContent .messageHeader .subHead span:first-of-type {
    font-family: 'realway-bold';
}

.orders .messageContent .messageHeader .subHead span:last-of-type {
    font-family: 'realway-semibold';
}

.orders .messageContent input[type="file"] {
    width: 100%;
    font-size: 16px;
    font-family: 'realway-semibold';
}

.orders .messageContent .receiver {
    font-family: 'realway-semibold';
    margin-left: 10px;
}

.orders .orderBtn {
    color: #fff;
    margin-top: 20px;
    font-family: 'realway-bold';
    display: inline-block;
    width: 185px;
    font-size: 16px;
}

.orders .commonPadding {
    font-family: 'realway-bold';
    font-size: 16px;
    padding: 20px !important;
    background: #fff;
}

.orders #settings {
    padding: 50px 30px !important;
    background-color: #fff;
}

.orders #settings p {
    margin-bottom: 24px;
    font-size: 24px;
    font-family: 'realway-bold';
}

.orders #settings .ui-selectmenu-button.ui-button {
    margin-bottom: 20px;
}

.orders #settings select {
    margin-bottom: 20px;
    width: 100%;
    height: 60px !important;
    border: 1px solid rgba(112, 112, 112, 0.2);
    background: white url(../images/downBlack.png) no-repeat calc(100% - 20px) !important;
    color: rgba(0, 0, 0, 0.2);
    font-family: 'realway-bold';
}

.orders #settings select option {
    color: #000;
}

.orders input[type="text"], .orders input[type="password"], .orders textarea {
    height: 60px;
    border: 1px solid rgba(112, 112, 112, 0.2);
    border-radius: 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'realway-bold';
}

.orders textarea {
    height: 343px;
}

.orders ::-webkit-file-upload-button {
    background: transparent;
    border: none;
    color: #FF0000;
    font-family: 'realway-bold';
    font-size: 16px;
}

.orders ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.orders .vinContainer p {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'realway-bold';
}

.selectBorder.catContaienr .ui-selectmenu-button.ui-button {
    border: 1px solid rgba(112, 112, 112, 0.2);
    color: rgba(0, 0, 0, 0.2);
}

.selectBorder.catContaienr .ui-selectmenu-button.ui-button:hover, .selectBorder.catContaienr .ui-selectmenu-button.ui-button:active, .selectBorder.catContaienr .ui-selectmenu-button.ui-button:focus {
    border: 1px solid rgba(112, 112, 112, 0.2) !important;
}

.selectBorder.catContaienr .ui-selectmenu-button.ui-button.ui-selectmenu-button-open {
    border-bottom: none !important;
}

.catContaienr .ui-button .ui-icon {
    background-image: url("../images/downBlack.png") !important;
    padding-top: 25px;
}

.catContaienr .ui-selectmenu-button.ui-button {
    height: 60px !important;
    padding: 0 26px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.catContaienr .ui-selectmenu-button.ui-button > span {
    width: auto;
    display: inline-block;
    margin-bottom: 0 !important;
    padding-right: 0 !important;
    font-size: 16px !important;
    font-family: 'realway-bold';
}

.catContaienr .ui-selectmenu-button.ui-button .ui-icon {
    width: 16px;
}

.garageBlock {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
}

.garageBlock:not(:last-of-type) {
    padding: 20px 0;
}

.garageBlock:last-of-type {
    padding-top: 20px;
}

.garageBlock .text {
    display: flex;
    align-self: center;
    width: 100%;
    font-size: 16px !important;
    font-family: 'realway-medium';
    margin: 0 0 20px;
}

.garageBlock .text span {
    margin-right: 20px;
}

.garageBlock .text p {
    display: inline-block;
    font-size: 16px !important;
}

.garageBlock .actions {
    align-self: center;
    width: 100%;
    font-size: 16px;
}

.garageBlock .actions button {
    border: 1px solid rgba(112, 112, 112, 0.2);
    float: left;
    width: 100%;
}

header .cart {
    padding: 15px 0;
}

header .cart .cartLink {
    position: relative;
}

header .cart .cartLink:before {
    display: none;
    position: absolute;
    content: "";
    left: calc(50% - 10px);
    bottom: -7px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

header .cart:hover .cartLink:before {
    display: block;
}

header .cart:hover .cartPopup {
    display: block;
}

.cartPopup {
    display: none;
    background-color: #fff;
    position: absolute;
    width: 100vw;
    top: 100%;
    right: 0;
    font-size: 14px;
    font-family: 'realway-bold';
    color: #000;
    text-align: left;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.cartPopup .first {
    padding: 20px;
    position: relative;
}

.cartPopup p {
    font-size: 16px;
}

.cartPopup .head {
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.cartPopup .head p, .cartPopup .head span {
    padding-bottom: 10px;
}

.cartPopup .head span {
    display: inline-block;
    font-family: 'realway-semibold';
    font-size: 14px;
}

.cartPopup .actions {
    padding: 20px 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.cartPopup .actions p {
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.cartPopup .actions div {
    display: flex;
    float: right;
}

.cartPopup .actions button {
    min-width: 90px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    background-color: #FF0000;
    color: #fff;
    min-height: 40px;
    font-size: 16px;
    flex-grow: 1;
}

.cartPopup .actions button:not(:last-of-type) {
    margin-right: 10px;
}

.cartPopup .actions p {
    text-align: left;
    width: 190px;
    margin-bottom: 0;
}

.cartPopup .moreBtns {
    padding-top: 10px;
}

.cartPopup .moreBtns i {
    margin-right: 12px;
}

.cartPopup .moreBtns a:last-child {
    float: right;
}

.cartPopup.garage {
    transform: translate(0);
}

.cartPopup.garage .head {
    padding: 15px 0;
    border-top: 1px solid rgba(112, 112, 112, 0.2);
}

.cartPopup.garage .head .checkBox {
    display: inline-block;
    float: left;
    margin-top: 0;
}

.cartPopup.garage .head .checkBox input {
    display: none;
}

.cartPopup.garage .actions {
    border-bottom: none;
    padding: 20px 0 0;
}

.cartPopup.garage .actions div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.popupOpened {
    transition: 1.5s;
}

.popupOpened i {
    transform: rotate(180deg);
}

.messagePopup {
    transition: 0.5s;
    width: 170px;
    float: left;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}

.messagePopup .msgPopupContent {
    width: 100%;
    float: left;
    padding: 44px 14px 20px;
    background-color: #fff;
    font-family: 'realway-bold';
    font-size: 16px;
    color: #000;
}

.messagePopup .msgPopupContent p {
    word-break: break-word;
    margin-bottom: 65px;
    font-size: 16px;
    font-family: 'realway-semibold';
}

.messagePopup input, .messagePopup textarea {
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.messagePopup textarea {
    height: 65px;
}

.messagePopup ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.messagePopup button {
    width: 100%;
    color: #fff;
}

.differentColor {
    color: #656565;
}

.yearsContent {
    display: none;
}

.breadcrumb {
    background-color: transparent !important;
}

.commonPopup {
    width: 100%;
    min-height: 100%;
    z-index: 999;
    background-color: #F7F7F7;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.commonPopup .popupContainer {
    font-size: 16px;
    font-family: 'realway-bold';
}

.commonPopup .popupContainer .popupHeader {
    width: 100%;
    color: #fff;
    height: 74px;
    background: #FF0000;
    padding: 23px 30px;
}

.commonPopup .popupContainer .popupContent {
    background-color: #fff;
    padding: 50px 30px;
}

.commonPopup .popupContainer .popupContent .header {
    display: inline-block;
    font-size: 24px;
    font-family: 'realway-medium';
    margin-bottom: 50px;
}

.commonPopup .popupContainer .popupContent .header.differentMargin {
    margin-bottom: 20px;
}

.commonPopup .popupContainer .popupContent .header i {
    margin-right: 20px;
    color: #FF0000;
}

.commonPopup .popupContainer .popupContent button {
    font-family: 'realway-black';
    font-size: 16px;
    margin-left: 20px;
}

.commonPopup .popupContainer .popupContent.popup2 {
    width: 100%;
}

.commonPopup .popupContainer .popupContent.popup2 a {
    border: 1px solid rgba(112, 112, 112, 0.2);
}

.commonPopup .popupContainer .popupContent.popup2 .commonBtn {
    margin-left: 0;
    float: none;
}

.commonPopup .popupContainer .itemAdded .header {
    margin-bottom: 20px;
}

.commonPopup .popupContainer .itemAdded img {
    width: 150px;
    margin-right: 50px;
}

.commonPopup .popupContainer .itemAdded .itemContainer {
    margin-bottom: 40px;
}

.commonPopup .popupContainer .itemAdded .data {
    font-family: 'realway-bold';
    display: inline-block;
    font-size: 16px;
}

.commonPopup .popupContainer .itemAdded .data p {
    color: #FF0000;
    font-size: 16px;
}

.commonPopup .popupContainer .itemAdded .data span {
    font-size: 14px;
    display: block;
}

.commonPopup .popupContainer .itemAdded p {
    font-size: 16px;
}

.commonPopup .popupContainer .selectBox {
    width: 100%;
    padding: 20px 15px;
    border: 1px solid rgba(112, 112, 112, 0.2);
    display: inline-block;
    margin-bottom: 20px;
}

.commonPopup .popupContainer .selectBox span {
    width: 49%;
    display: inline-block;
}

.commonPopup .popupContainer .selectBox span:last-of-type {
    border-left: 1px solid rgba(112, 112, 112, 0.2);
    text-align: right;
}

.commonPopup .popupContainer .allYears .row > div, .commonPopup .popupContainer .allYears .grid > div, .commonPopup .popupContainer .Edition .row > div, .commonPopup .popupContainer .Edition .grid > div {
    min-width: 16.6%;
}

.commonPopup .popupContainer .allYears a, .commonPopup .popupContainer .Edition a {
    border: 1px solid rgba(112, 112, 112, 0.2);
    margin: 0 10px 20px;
}

.commonPopup .popupContainer button {
    color: #fff;
    float: right;
    width: 100%;
}

.commonPopup .special .mainButton {
    border: 1px solid rgba(112, 112, 112, 0.2);
    float: left;
    width: 230px;
    justify-content: center;
    align-self: center;
    margin-right: 20px;
}

.popupMargin {
    display: flex;
    flex-direction: column;
}

.popupMargin .buttons {
    order: 2;
    margin-top: 20px;
}

.popupMargin button:first-child {
    margin-left: 60px !important;
}

.notFound {
    min-height: 100vh;
    align-items: center;
    display: flex;
}

.notFound .notFoundImg {
    margin-bottom: 30px;
}

.notFound .notFoundImg p {
    margin-bottom: 60px;
    font-size: 32px;
    font-family: 'realway-bold';
}

.notFound .notFoundImg img {
    width: 50%;
    margin-top: -38px;
}

.notFound span {
    margin-top: 20px;
    display: block;
}

.notFound button {
    margin-top: 40px;
    font-size: 16px;
    font-family: 'realway-bold';
}

.notFound.server .serverContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notFound.server p {
    font-size: 25px;
}

.notFound.server span {
    font-size: 14px;
}

.singleHead {
    display: block;
}

.singleHead.opened .bars i {
    display: none;
}

.responsiveMenu.openResponsive {
    opacity: 1;
    visibility: visible;
}

.responsiveMenu {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
}

.responsiveMenu .menuContainer {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
}

.responsiveMenu .myContainer {
    padding: 0 7.5vw;
    width: 100vw;
}

.responsiveMenu .searchForm {
    border-top: 1px solid rgba(112, 112, 112, 0.2);
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.responsiveMenu .searchForm i {
    font-size: 24px;
}

.responsiveMenu form {
    padding: 20px 0;
}

.responsiveMenu form input {
    border: navajowhite;
    font-size: 24px;
}

.responsiveMenu form button {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
}

.responsiveMenu ::-webkit-input-placeholder {
    color: #000;
}

.responsiveMenu .mainList {
    padding: 42px 0;
    font-size: 30px;
}

.responsiveMenu .mainList li {
    margin-bottom: 42px;
}

.responsiveMenu .subData {
    position: absolute;
    width: 100%;
    bottom: 60px;
}

.responsiveMenu .subData a {
    font-size: 11px;
    font-family: 'realway-semibold';
}

.responsiveMenu .subData img {
    padding-bottom: 0;
}

.bars {
    display: inline-block;
    position: relative;
    height: 18px;
    width: 20px;
}

.bars.transform:after {
    bottom: 8px;
    left: -3px;
    transform: rotate(-45deg);
    transition: 0.5s;
}

.bars.transform:before {
    top: 7px;
    left: -2px;
    transform: rotate(45deg);
    transition: 0.5s;
}

.bars i {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #000;
    margin-top: 8px;
}

.bars:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background-color: #000;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.bars:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

body section:first-of-type {
    padding-top: 150px;
    margin-top: 0;
}

.categoryDescription p {
    font-size: 16px;
    font-family: 'realway-medium';
}

.categoryDescription:hover {
    color: #FF0000;
}

.allYears a, .Edition a {
    font-size: 18px;
}

.signingHeader {
    font-size: 24px;
    color: #101010;
}

.loadingContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.loadingContainer .imgContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.loadingContainer img {
    width: 230px;
}

.loadingContainer .loadingBar {
    height: 3px;
    background-color: #FF0000;
    width: 50%;
    float: left;
}

.loadingContainer p {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    font-size: 54px;
    font-family: 'realway-semibold';
}

.changedSelect {
    border-top: 1px solid rgba(112, 112, 112, 0.2);
    color: #FF0000;
    width: 100%;
    height: 60px !important;
    margin-top: 30px;
    background: #fff url(../images/down.png) no-repeat calc(100% - 10px) !important;
}

.forTabs > div:not(:first-of-type) {
    display: none;
}

.accessories .commonTabs > .changedSelect {
    background: #FF0000 url(../images/down2.png) no-repeat calc(100% - 40px) !important;
    font-size: 16px;
    color: #fff;
}

.accessories .commonTabs > .changedSelect option {
    color: #FF0000;
    background-color: #fff;
}

.accessories .commonTabs .forTabs .changedSelect {
    color: #000;
    font-size: 18px !important;
    font-family: 'realway-bold';
    border: 1px solid rgba(112, 112, 112, 0.2);
    background: #fff url(../images/downBlack.png) no-repeat calc(100% - 40px) !important;
    margin: 0 0 25px;
}

.scrollable .head {
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.scrollable .singleItemDesc .itemData {
    padding-right: 0 !important;
}

.partDetailsContainer .width-32 .ui-selectmenu-button.ui-button {
    border-top: 1px solid rgba(112, 112, 112, 0.2);
}

.partDetailsContainer .width-32 .ui-selectmenu-button.ui-button:hover, .partDetailsContainer .width-32 .ui-selectmenu-button.ui-button:focus, .partDetailsContainer .width-32 .ui-selectmenu-button.ui-button:active {
    border-top: 1px solid rgba(112, 112, 112, 0.2) !important;
}

.partDetailsContainer .moreDetails {
    font-family: 'realway-medium';
}

@media screen and (max-width: 481px) {
    .cartData .singleRow form label, .cartData .singleRow form input, .cartData .singleRow form button {
        width: 100%;
        margin: 0 0 20px;
    }

    .differentBox span {
        font-size: 14px !important;
    }

    .searchResults .resultData .searchImgContainer {
        width: 100% !important;
    }

    .singleDetails .singleItemDesc .imgContainer {
        width: 100%;
    }

    .singleDetails .singleItemDesc .itemData {
        width: 100%;
    }

    .singleTab .vehicleForm a {
        padding: 0 10px;
    }

    .customerInfo .vin .width-50 {
        width: 100%;
    }

    .customerInfo .vin .or {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .cartPopup.garage .first {
        padding: 40px 20px;
    }

    .scrollable .itemName {
        color: #FF0000 !important;
    }

    .cartPopup.garage .actions {
        margin: 0 -10px;
    }

    .cartPopup.garage .actions button {
        width: calc(50% - 20px);
        flex-grow: 0;
        margin: 0 10px;
    }

    .cartPopup.garage .actions button:nth-child(1) {
        order: 2;
    }

    .cartPopup.garage .actions button:nth-child(2) {
        width: 100%;
        margin-bottom: 20px;
        order: 1;
    }

    .cartPopup.garage .actions button:nth-child(3) {
        order: 3;
    }

    .allYears .row, .allYears .grid, .Edition .row, .Edition .grid {
        justify-content: center;
    }

    .allYears .row > div, .allYears .grid > div, .Edition .row > div, .Edition .grid > div {
        min-width: 50% !important;
    }

    .allYears .row > div:nth-child(odd):last-child, .Edition .row > div:nth-child(odd):last-child {
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100%;
    }

    .bgText p {
        font-size: 14px;
    }

    .contactWrapper .bgText .imgWrapper {
        height: calc(65% - 40px);
        overflow: hidden;
        margin: 0px 0;
    }

    .contactWrapper .connection p {
        font-size: 18px;
        font-family: 'realway-semibold';
    }

    .singleDetails .singleItemDesc {
        border-bottom: none;
        padding-bottom: 0 !important;
    }

    .singleDetails .singleItemDesc .imgContainer {
        align-self: flex-start;
    }

    .singleDetails .singleItemDesc .imgContainer > img {
        max-width: 143px;
    }

    .singleDetails .singleItemDesc .changePlace {
        width: calc(90vw - 40px);
        margin: 35px auto 0;
        float: right;
    }

    .singleDetails .singleItemDesc .changePlace div {
        padding-top: 20px;
        border-top: 1px solid rgba(16, 16, 16, 0.1);
    }

    .singleDetails .singleItemDesc .changePlace p {
        display: inline-block;
        margin-bottom: 0;
    }

    .singleDetails .singleItemDesc .changePlace p.oldPrice {
        float: left;
    }

    .singleDetails .singleItemDesc .changePlace p.newPrice {
        float: right;
    }

    .contactUs .required label {
        position: relative;
        top: 0;
        left: 0;
        padding-right: 0;
        color: #000;
        margin-bottom: 20px;
        display: block !important;
    }

    .contactUs .required label:before {
        content: '';
    }

    .shopByBrand {
        background-color: #101010;
    }

    .shopByBrand .after {
        top: -12px;
    }

    .shopByBrand .after:after {
        height: 0;
    }

    .shopByBrand .after:before {
        top: 2px;
        height: 4px;
    }

    .shopByBrand .bgText .imgContainer {
        height: 90px;
    }

    .shopByBrand .bgText .imgWrapper {
        height: 100%;
        margin: 0;
    }
}

.lightText {
    display: none !important;
    font-size: 10px;
    font-family: 'realway-semibold';
    color: rgba(16, 16, 16, 0.5);
}

.pt-20 {
    padding-top: 20px;
}

@media screen and (min-width: 769px) {
    .cartData .singleRow span {
        font-size: 16px;
    }

    .cartData .singleRow p {
        font-size: 18px;
    }

    .cartData .singleRow form button {
        font-size: 16px;
    }

    .cartData .subTotal span {
        font-size: 16px !important;
    }

    .cartData .mainButton {
        font-size: 16px;
    }

    .cartData .shippingMethod .total {
        width: calc(45% - 20px);
    }

    .partDetailsContainer .singleDetails .changePlace .oldPrice {
        font-size: 18px !important;
        font-family: 'realway-semibold' !important;
    }

    .partDetailsContainer .singleDetails .changePlace .newPrice {
        font-size: 18px !important;
    }

    /*.cats .selectCategory:first-of-type .ui-selectmenu-button.ui-button {*/
        /*border-right: 6px solid rgba(112, 112, 112, 0.2);*/
    /*}*/

    /*.cats .selectCategory:first-of-type .ui-button:hover, .cats .selectCategory:first-of-type .ui-button:focus {*/
        /*border-right: 6px solid rgba(112, 112, 112, 0.2) !important;*/
    /*}*/

    .imgContainer .lightText {
        display: block !important;
        margin-left: 20px;
    }

    .itemData .lightText {
        display: inline !important;
    }

    .tabTitle {
        border-top: 1px solid rgba(112, 112, 112, 0.2);
        padding: 20px;
        text-align: center;
        display: block;
        font-size: 16px;
        font-family: 'realway-bold';
    }

    .subImages .subImgContainer {
        width: calc((100% / 4) - 20px);
        margin: 0 10px;
    }

    .partDetails2 .width-32 {
        padding: 20px 0;
    }

    .partDetails2 .changePlace p {
        font-size: 18px !important;
    }

    .partDetails2 .corePrice {
        font-family: 'realway-semibold' !important;
    }

    .partDetails2 .moreDetails .detailsHead {
        margin-bottom: 20px;
        color: #000;
    }

    .partDetails .head .left {
        width: 100% !important;
    }

    .partDetails .singleItemDesc .imgContainer {
        margin-bottom: 0;
        border-bottom: none;
        width: 50% !important;
        padding-right: 40px;
    }

    .partDetails .singleItemDesc .imgContainer > img {
        max-width: 270px;
        width: 100%;
    }

    .partDetails .singleItemDesc .imgContainer span {
        width: 100%;
    }

    .partDetails .singleItemDesc .imgContainer span:first-of-type {
        display: block;
        margin-bottom: 15px;
    }

    .partDetails .singleItemDesc .forOpacity {
        width: 50% !important;
    }

    .partDetails .singleItemDesc .itemData {
        align-self: flex-start;
        padding-left: 0 !important;
    }

    .partDetails .singleItemDesc .itemData .scrollContainer > div {
        display: block;
        padding: 0 20px !important;
    }

    .partDetails .singleItemDesc .itemData .scrollContainer > div > div {
        width: 100%;
        display: block;
    }

    .partDetails .singleItemDesc .itemData p {
        margin-bottom: 20px !important;
    }

    .edition .mainButton {
        width: calc((100% / 3) - 20px);
    }

    .garageBlock .text {
        font-size: 24px !important;
        width: calc(36% - 12px);
        margin: 0 20px 0 0;
    }

    .garageBlock .text p {
        font-size: 24px !important;
    }

    .garageBlock .actions {
        width: 65%;
        margin: 0 -10px;
    }

    .garageBlock .actions button {
        width: calc((100% / 3) - 20px);
        margin: 0 10px;
    }

    .itemNumbers {
        right: -15px;
        top: 3px;
        width: 20px;
        height: 20px;
    }

    .tabSection {
        padding-top: 5px;
    }

    .tabSection .myContainer {
        width: 90vw;
    }

    .singleTab form a, .singleTab .vehicleForm a {
        margin: 16px 0;
    }

    .singleTab form button, .singleTab .vehicleForm button {
        font-size: 16px;
        margin-top: 0px;
    }

    #vehicle a span:first-child {
        display: inline;
    }

    .popupContainer .popupContent.popup2 {
        display: flex;
        justify-content: space-between;
    }

    .popupContainer .popupContent.popup2 div {
        display: flex;
    }

    .popupContainer .popupContent.popup2 div .mainButton {
        min-width: 240px;
    }

    .popupMargin {
        display: block;
    }

    .commonPopup .popupContainer .selectBox {
        width: 100%;
        padding: 20px 36px;
    }

    .commonPopup .popupContainer button {
        width: 156px;
    }

    .cartPopup {
        width: 532px;
        font-size: 16px;
        top: 85%;
        right: 20px;
        transform: translate(50%);
    }

    .cartPopup .actions p, .cartPopup .actions button {
        margin-bottom: 0;
    }

    .cartPopup .moreBtns a {
        width: auto;
    }

    .cartPopup .moreBtns a:first-child {
        float: left;
    }

    .cartPopup .moreBtns a:last-child {
        float: right;
    }

    .cartPopup.garage {
        right: auto;
        left: 0;
    }

    .messagePopup {
        width: 32%;
    }

    .bgText .subTxt {
        font-family: 'realway-medium';
    }

    .signingHeader {
        font-family: 'realway-medium';
    }

    p {
        font-size: 18px;
    }

    h1 {
        font-size: 48px;
    }

    .twoButtons a {
        font-size: 16px;
    }

    .searchText p:first-child {
        font-size: 48px;
    }

    .searchText p:last-child {
        font-family: 'realway-medium';
        font-size: 18px;
    }

    .allYears a, .Edition a {
        font-size: 16px;
    }

    .categoryDescription p {
        font-size: 24px;
    }

    .returnPolicy {
        padding: 44px 94px;
    }

    .notFound .notFoundImg p {
        margin-bottom: 0;
        font-size: 60px;
    }

    .notFound.server img {
        width: 179px;
    }

    .notFound.server p {
        font-size: 60px;
    }

    .notFound.server .serverContent {
        margin: 0 40px;
    }

    .notFound.server span {
        font-size: 18px;
    }

    .accessoriesSection .twoButtons {
        display: flex;
        justify-content: center;
    }

    .accessoriesSection .twoButtons a {
        margin: 0 0 0 20px;
    }

    .itemDetails .width-32 {
        width: calc(32% - 20px);
    }

    .itemDetails .width-68 {
        width: calc(68% - 20px);
    }

    .itemDetails .width-68 > div {
        padding: 40px;
    }

    .itemDetails .width-68 .head .left {
        width: 70%;
    }

    .itemDetails .width-68 .head .left span {
        margin-bottom: 0;
        font-size: 18px;
        font-family: 'realway-medium';
    }

    .itemDetails .width-68 .head .right {
        width: 30%;
    }

    .details2 .head .left p {
        margin-bottom: 20px;
    }

    .details2 .moreDetails .detailsHead {
        font-family: 'realway-medium';
        font-size: 24px;
    }

    .singleItemActions button {
        width: calc((100% / 3) - 20px) !important;
    }

    .singleDetails .singleItemDesc {
        font-size: 18px;
        font-family: 'realway-medium';
    }

    .singleDetails .singleItemDesc .imgContainer {
        border-right: 1px solid rgba(16, 16, 16, 0.1);
    }

    .singleDetails .singleItemDesc .itemData {
        padding-left: 90px;
        font-size: 18px;
        font-family: 'realway-semibold';
    }

    .singleDetails .singleItemDesc .itemData .itemName {
        font-size: 30px;
    }

    .singleDetails .singleItemDesc .itemData .changePlace {
        font-size: 18px;
    }

    .singleDetails .singleItemDesc .itemData .changePlace .oldPrice {
        font-family: 'realway-semibold';
        margin-top: 20px;
    }

    .singleDetails .singleItemDesc .itemData .changePlace .newPrice {
        font-family: 'realway-bold';
        color: #FF0000;
    }

    .chooseUs .borderedText > p:first-of-type {
        padding-left: 18px;
        width: 64%;
    }

    .chooseUs .borderedText .mainText p {
        margin-bottom: 0;
    }

    .subData li {
        font-size: 16px;
    }

    .results .shopByBrand .selectCategory {
        margin: 0 -4px 0;
    }

    .results .bgText .grid .width-50 {
        padding-bottom: 0;
    }

    .results .cats {
        align-self: flex-start;
    }

    .results .selectCategory {
        width: 50%;
    }

    .results .searchResults .resultData .description p:first-child {
        font-size: 16px;
    }

    .results .searchResults .commonBtn {
        width: 183px;
        margin: 0 auto;
    }

    .accessory {
        width: calc((100% - 60px) / 3);
        margin: 0 10px;
    }

    .shopByBrand .bgText .imgContainer {
        height: 100%;
    }

    .shopByBrand h1 {
        padding: 0;
        margin-bottom: 0;
    }

    .shopByBrand .twoButtons {
        margin-right: 100px;
    }

    .shopByBrand .twoButtons a:first-child {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .shopByBrand .basic {
        display: flex;
    }

    .shopByBrand .basic a {
        width: 185px;
        margin-bottom: 0;
    }

    .commonPopup .special .mainButton {
        width: 320px;
    }

    .orders .orderStatus {
        padding: 26px 40px;
    }

    .orders .commonPadding {
        padding: 40px !important;
    }

    .orders #settings {
        padding: 50px 100px !important;
    }

    .orders #settings p {
        font-family: 'realway-medium';
    }

    .orders .orderStatus .form-group {
        margin-bottom: 0 !important;
        width: calc(50% - 10px);
    }

    .orders .orderStatus .form-group.vinNo {
        margin-left: 20px;
    }

    .orders .orderStatus span {
        margin-bottom: 0;
        font-size: 24px;
        font-family: 'realway-medium';
        padding-right: 60px;
    }

    .orders .fileContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .orders .messageContent button {
        margin-top: 0;
    }

    .orders .tableHeader p {
        margin-bottom: 0;
        font-size: 24px;
        font-family: 'realway-medium';
    }

    .orders .vinContainer p {
        font-size: 24px;
        font-family: 'realway-medium';
    }

    .vinContainer {
        display: flex;
    }

    .vinContainer p {
        margin-right: 75px;
    }

    .vinContainer form {
        flex-grow: 1;
    }

    .contactUs .borderedText {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        margin-top: 0;
    }

    .contactUs .borderedText .after {
        max-width: 330px;
        line-height: 1;
        margin-bottom: 0;
    }

    .contactUs .borderedText .after:after {
        display: none;
    }

    .contactUs .borderedText .desc {
        border-left: 2px solid #FF0000;
        width: calc(100% - 330px);
        padding-left: 20px;
    }

    .contactUs .borderedText .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .contactUs .borderedText .wrapper span {
        font-size: 48px !important;
    }

    .contactUs .registerStyle {
        margin-bottom: 50px;
    }

    .contactUs .connection {
        font-family: 'realway-medium';
        margin-top: 20px;
    }

    .contactUs .mapWrapper {
        margin-top: 50px;
    }

    .contactUs .mapWrapper p {
        margin: 50px 0;
        text-align: center;
        display: block;
        font-size: 48px;
    }

    .contactUs .contactWrapper .borderedText {
        margin-top: 50px;
        padding-right: 100px;
    }

    .responsive .width-50 {
        width: calc(50% - 20px);
    }

    .mainImage {
        height: 600px;
    }

    .subImage {
        height: 290px;
    }

    .accessories {
        padding: 50px 0 70px;
    }

    .accessories .accessoriesForMobile {
        display: none;
    }

    .accessories #accessoryTab ul {
        display: flex;
    }

    .accessories .mainImgDescription {
        padding: 22px 37px;
    }

    .accessories .mainImgDescription p:first-child {
        font-size: 24px;
        padding-bottom: 15.5px;
        margin-bottom: 22.5px;
    }

    .accessories .mainImgDescription p:first-child:last-child {
        font-size: 18px;
        font-family: 'realway-medium';
    }

    .accessories .mainImgDescription p:last-child {
        font-size: 18px;
        font-family: 'realway-medium';
    }

    .accessories .commonBtn {
        margin-top: 30px;
    }

    .accessories .commonBtn {
        font-size: 16px !important;
    }

    .submitCart {
        padding: 50px 100px;
    }

    .customerInfo p {
        font-size: 24px;
        font-family: 'realway-medium';
    }

    .customerInfo .shippingAddress {
        display: flex;
        justify-content: space-between;
        border-top: none;
        border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    }

    .customerInfo .shippingAddress .title {
        margin-top: 0;
        font-size: 24px;
        font-family: 'realway-medium';
    }

    .customerInfo .vin {
        margin-bottom: 20px;
    }

    .customerInfo .vin .or span {
        font-family: 'realway-medium';
        font-size: 14px;
    }

    .customerInfo textarea {
        height: 96px;
    }

    .loginBtn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .registerStyle {
        padding: 50px 103px;
    }

    .signing .register p {
        font-family: 'realway-medium';
        font-size: 24px;
    }

    .signing .register a {
        font-size: 16px;
        font-family: 'realway-bold';
    }

    .signing .register label {
        font-size: 16px;
    }

    .marginBottom90 {
        margin-bottom: 90px;
    }

    .popular {
        margin: 50px -10px 0;
    }

    .popular .singleModel .carDesc p {
        font-size: 24px !important;
    }

    .popular .commonBtn {
        font-size: 16px;
    }

    .policyContent {
        padding: 50px;
    }

    .policyContent .after {
        font-size: 24px;
    }

    .policyContent .content {
        font-size: 18px;
    }

    .policyContent .singlePolicy:nth-child(2) .content p {
        margin-bottom: 0 !important;
    }

    .policyContent .fbi {
        margin: 43px 0 0;
    }

    .policyContent .fbi span {
        font-size: 24px;
        font-family: 'realway-medium';
    }

    .policyContent .fbi span:first-child {
        padding-right: 10px;
        margin-right: 12px;
        border-right: 2px solid #FF0000;
    }

    .commonMargin {
        margin-bottom: 83px;
    }

    .scroll {
        top: -125px;
        padding: 26px 31px;
    }

    .bgText {
        min-height: 189px;
    }

    .bgText .imgContainer {
        height: 100%;
    }

    .bgText .imgWrapper {
        height: 100%;
        margin: 0;
    }

    .accessoryText {
        margin-top: 30px;
    }

    body section:first-of-type {
        padding-top: 170px;
        margin-top: 0;
    }

    header {
        position: fixed;
    }

    header .cart {
        position: relative;
    }

    header .cart .cartLink:before {
        bottom: -5px;
        left: 50%;
    }

    header .logo {
        width: 90px;
        height: 31px;
        margin: 0 35px;
    }

    .homeSlider {
        padding: 170px 0 60px 0 !important;
    }

    .homeSlider .bgImg {
        top: 34%;
    }

    .homeSlider .swiper-slide .mainText {
        padding-bottom: 15px;
        margin-bottom: 25px;
    }

    .tabs {
        margin-top: -42px;
        display: block;
    }

    .tabs .formBorder {
        width: calc(100% - 60px);
    }

    .tabs .tabsContent {
        width: 100%;
    }

    .tabs .tabsContent button {
        width: 60px !important;
    }

    .tabs .threeCols {
        width: calc(100% / 3);
    }

    .borderedText .mainText {
        width: 36%;
    }

    .borderedText .mainText h1 {
        border-right: 2px solid #FF0000;
    }

    .borderedText .mainText p:after {
        display: none;
    }

    .borderedText .subText {
        padding-left: 18px;
        width: 64%;
    }

    .shopByCategory {
        padding-bottom: 90px;
    }

    .shopByCategory .bgText {
        min-height: 180px;
    }

    .shopByCategory .bgText h1 {
        margin-top: 0px;
    }

    .shopByCategory .bgText .imgContainer {
        height: 100%;
        top: 0px;
    }

    .shopByCategory .swiper-button-prev, .shopByCategory .swiper-button-next {
        bottom: 90px;
    }

    .shopByCategory .categories {
        padding: 40px 0 140px;
    }

    .shopByBrand .twoButtons {
        width: auto;
    }

    .commonBtn {
        width: 185px;
        margin-bottom: 0 !important;
    }

    .singleModel {
        width: calc((100% - 40px) / 2);
        margin: 0 10px 26px;
    }

    footer {
        padding: 85px 0;
    }

    footer:before {
        position: absolute;
        content: "";
        top: -4px;
        left: 0;
        width: 58%;
        height: 4px;
        background-color: #FF0000;
    }

    footer .footerContent {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    footer .footerItem {
        margin-bottom: 0;
        width: 182px;
    }

    footer .footerItem .description {
        font-size: 16px;
    }

    footer .footerItem .head {
        font-size: 24px;
        margin-bottom: 25px;
    }

    footer .footerItem .head:after {
        width: 85px;
    }

    footer .bottom {
        height: 85px;
        font-size: 16px;
    }

    footer .bottom .myContainer {
        width: 90vw;
    }

    footer .bottom .copyRight {
        height: 85px;
        padding: 30px 0 30px 60px;
    }

    footer .bottom .leaveMsg {
        height: 85px;
    }

    footer .bottom .leaveMsg a {
        padding: 30px 50px;
    }

    .sectionTitle {
        padding: 50px 0;
    }
}

@media screen and (min-width: 992px) {
    .tabs .type {
        padding: 0;
    }

    .commonPopup .popupContainer .selectBox {
        width: 465px;
        margin-left: 50px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1260px) {
    .contactUs .shopByBrand .borderedText {
        margin: 0;
    }

    .contactUs .connection {
        display: flex;
        justify-content: space-between;
    }

    .contactUs .connection p {
        display: inline-block;
    }

    .responsiveMenu {
        opacity: 0 !important;
        visibility: hidden !important;
    }

    .singleHead {
        display: none;
    }

    .orders .orderStatus span {
        width: auto;
    }

    .orders .orderStatus .form-group {
        min-width: 290px;
        width: calc(27% - 10px);
    }

    .orders .orderStatus .form-group.vinNo {
        max-width: 600px;
        margin-left: 20px;
        flex: 1;
    }

    .customerInfo {
        order: 1;
    }

    .rightCart {
        order: 2;
        width: calc(42% - 10px);
    }

    .half {
        width: 50%;
        float: left;
    }

    .homeSlider {
        height: 914px;
        padding-top: 120px;
    }

    .homeSlider .swiper-slide {
        align-items: center;
        padding-bottom: 0;
    }

    .homeSlider .bgImg {
        width: 50%;
        top: calc(50% - 33px);
    }

    .homeSlider .bgImg img {
        height: 200px;
    }

    .homeSlider .bgImg.left {
        display: block;
    }

    .homeSlider .half img {
        width: 100%;
    }

    .homeSlider .half:first-child {
        order: 2;
    }

    .homeSlider .half:last-child {
        order: 1;
    }

    .homeSlider .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 55px;
    }

    .homeSlider .subText {
        width: 60%;
    }

    header .whiteBg {
        display: flex;
        width: 75%;
        height: inherit;
        justify-content: space-around;
        padding: 0;
    }

    header .myContainer {
        margin: 0 auto;
        height: 125px;
        display: flex;
        width: 90vw;
        padding: 0;
        flex-wrap: nowrap;
    }

    header .subData {
        position: relative;
        width: auto;
        height: inherit;
        padding: 0 28px;
    }

    header .subData img {
        width: 29px;
    }

    header .subData .subDataImage {
        height: 30px;
    }

    header .navLinks, header .search {
        display: block;
    }

    header .navIcon {
        display: none;
    }

    header .cart {
        position: initial;
    }

    header .cart .cartLink:before {
        bottom: -15px;
    }

    .cartPopup {
        right: 20px !important;
        transform: translate(0) !important;
        left: auto !important;
    }

    .singleModel {
        width: calc((100% - 60px) / 3);
    }

    .registerStyle {
        width: calc(58% - 10px);
    }

    .registerStyle.register {
        width: calc(50% - 10px);
    }

    .registerStyle:first-child {
        margin-right: 20px;
    }

    .signing .register {
        margin-bottom: 0;
    }

    .signing .register p {
        margin-bottom: 20px;
    }

    .shopByBrand .twoButtons {
        margin-right: 209px;
    }
}

@media screen and (min-width: 1440px) {
    header .navLinks {
        padding: 0 38px;
    }

    header .navLinks li {
        min-width: 103px;
    }

    header .search {
        margin: 0 37px;
    }

    header .logo {
        margin: 0 42px;
    }
}

.ui-widget.ui-widget-content {
    border: none;
    background-color: transparent;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    border: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0;
    padding-bottom: 0;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0 !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: none;
    background-color: transparent;
}

.ui-tabs .ui-tabs-panel {
    padding: 0;
}

.ui-selectmenu-button.ui-button {
    width: 100% !important;
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 16px;
    font-family: 'realway-bold';
    padding: 0 30px;
}

.ui-button:active, .ui-button:hover, .ui-button:focus, .ui-state-active, .ui-widget-content .ui-state-active {
    color: #000 !important;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
}

.ui-button .ui-icon {
    background-image: url(../images/down.png) !important;
}

.ui-icon-triangle-1-s {
    background-position: 0 !important;
}

.ui-menu-item {
    padding: 10px 0;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-family: 'realway-bold';
}

.ui-menu-item:hover .ui-state-active {
    color: #FF0000 !important;
}

.ui-menu-item:not(:last-of-type) {
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: inherit;
}

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
    margin: 0 !important;
}

.ui-selectmenu-menu .ui-menu .ui-menu-item:first-of-type, .ui-selectmenu-menu .ui-menu .ui-menu-item:first-of-type {
    border-top: 1px solid rgba(112, 112, 112, 0.2);
}

.ui-selectmenu-menu .ui-menu::-webkit-scrollbar {
    display: none;
}

.ui-selectmenu-menu .ui-menu {
    max-height: 227px;
    background: #fff;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: transparent rgba(112, 112, 112, 0.2) rgba(112, 112, 112, 0.2) rgba(112, 112, 112, 0.2) !important;
    padding: 0 20px;
}

.commonTabs.ui-widget.ui-widget-content {
    border: none !important;
}

.commonTabs .forTabs .ui-tabs-panel {
    padding: 0 !important;
}

.commonTabs .ui-tabs-nav li {
    border: none !important;
    background-color: transparent !important;
}

.commonTabs .ui-tabs-nav a {
    color: inherit !important;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 0 !important;
}

.ui-selectmenu-menu .opacityDiv {
    height: 50px;
}

.ui-widget.ui-widget-content.twoSidesBorder {
    border-right: transparent !important;
    border-left: transparent !important;
}

.ui-widget.ui-widget-content.noBorder {
    border: none !important;
}

.opacityDiv.two {
    height: 40px;
    width: 99%;
    bottom: 2px;
    left: 4px;
}

.formToHide {
    display: none;
    position: absolute;
    top: -8px;
    width: 100%;
    left: 0;
    caret-color: #FF0000;
}

.formToHide input {
    height: 42px;
    padding: 20px;
    font-size: 16px;
    font-family: 'realway-regular';
    color: #000;
}

.formToHide input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.formToHide ::-webkit-input-placeholder {
    color: #000;
}

/*# sourceMappingURL=main.css.map */
