header .popupContainer {
    width: 100%;
}

header .commonPopup .myContainer {
    height: auto;
}

header .commonPopup .popupContent {
    text-align: left;
}

header .popupContainer .header {
    color: #000;
}

header .commonPopup .popupContainer .popupContent .header li {
    font-size: 24px!important;
}

.cartPopup .head {
    margin-right: 15px;
}

.cartPopup .first ul {
    position: relative;
}

.cartPopup .first ul:after{
    position: absolute;
    content: "";
    background-color: rgba(112, 112, 112, 0.1);
    height: 100%;
    width: 2px;
    right: -18px;
    top: 0;
}


.cartPopup .first .ul{
    padding-right: 20px;
    max-height: 190px;
    position: relative;
}

.cartPopup.garage .first .ul{
    max-height: 200px;
}

.subData > li > div:first-of-type {
    cursor: pointer;
}