<div class="cartData">
  <p class="title">ITEM INFORMATION</p>
  <div>
    <div class="singleRow">
      <div>
        <span>DESCRIPTION  </span>
      </div>
      <div class="details">
        <span>Price</span>
        <span>Quantity</span>
        <span>Total</span>
      </div>
    </div>
      {% for product in products %}
        <div class="singleRow">
          <div>
            <p>
              <a style="cursor:pointer" href="javascript:void(0)" onclick="cart.remove.call(this,'{{ product.cart_id }}');"><i class="fas fa-times red"></i></a>
                {{ product.name }}
            </p>
            <span>Part Number: {{ product.mpn }} </span>
          </div>
          <div class="details">
            <span>{{ product.price }}</span>
            <span>{{ product.quantity }}</span>
            <span>{{ product.total }}</span>
          </div>
        </div>
      {% endfor %}
    <div class="singleRow">
      <span>{{ subtotal }}</span>
      <div class="grid">
        <div class="width-50">
          <button class="mainButton" onclick="location.href = '{{ continue }}'">
            Continue Shopping
          </button>
        </div>
        <div class="width-50">
          <button class="mainButton" onclick="cart.clear()">
            Empty Cart
          </button>
        </div>
      </div>
    </div>
    {{ coupon }}
  </div>
</div>
