{{ header }}

<section class="marginBottom90" id="firstSection">
    <div class="myContainer">
        <div class="signing">
            <div class="customerInfo registerStyle">
                <form action="{{ action }}" id="checkout-form" method="post">
                    <p class="uppercase">{{ heading_title }}</p>
                    <div class="checkBox">
                        <label>
                            I am a new customer
                            <input type="radio" name="radio">
                            <span class="checkMark"></span>
                        </label>
                    </div>
                    <div class="checkBox">
                        <label>
                            I am a returning customer
                            <input type="radio" name="radio">
                            <span class="checkMark"></span>
                        </label>
                    </div>

                    {{ payment_address }}

                    {{ shipping_address }}

                    <div class="grid vin">
                        <div class="width-50">
                            <div class="form-group position-relative required">
                                <input type="text" id="vin" name="vin" required="required"
                                       class="form-control toChange"
                                       placeholder="VIN Number"
                                       pattern="[a-zA-Z0-9]{17}" />
                                <label for="vin" class="star"></label>
                            </div>
                        </div>
                        <div class="or">
                            <span>OR</span>
                        </div>
                        <div class="width-50">
                            <div class="form-group position-relative requiredSelect catContaienr selectBorder">
                                <span class="red position-absolute star">*</span>
                                <select name="selectVin" id="selectVin" class="cat">
                                    <option value="" disabled selected>Select VIN</option>
                                    {% for vin in vins %}
                                        <option value="{{ vin.id }}">{{ vin.vin }}</option>
                                    {%  endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <p class="realway-medium vinText">
                        We use the VIN number to make sure the parts will fit your vehicle and improve order accuracy.
                    </p>

                    <textarea name = 'comment'placeholder=" Add note to seller"></textarea>
                    <button type="submit" style="display: none" id="button-submit"></button>
                </form>
            </div>
            <div class="rightCart">
                {{ cart }}
                <div class="submitCart">
                    <p>
                        By placing an order, you agree with our Terms and Conditions
                    </p>
                    <button type="submit" class="commonBtn d-block" onclick="$('#button-submit')[0].click();">
                        Submit
                    </button>
                    <p class="ip">
                        Your IP Address is stored as :
                    </p>

                    <p>PLEASE READ:</p>
                    <p>SHIPPING COSTS ARE ESTIMATES ONLY. THE
                        ACTUAL COST WILL BE DETERMINED BY WEIGHT AND PACKAGE SIZE. BUYERS FROM PUERTO RICO AND CANADA
                        PLEASE SELECT
                        THE SHIPPING METHOD WITH YOUR COUNTRIES NAME BY IT
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript"><!--
$(document).on('change', 'input[name=\'account\']', function() {
	if ($('#collapse-payment-address').parent().find('.panel-heading .panel-title > *').is('a')) {
		if (this.value == 'register') {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="fa fa-caret-down"></i></a>');
		} else {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
		}
	} else {
		if (this.value == 'register') {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_account }}');
		} else {
			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_address }}');
		}
	}
});

{% if not logged %}
$(document).ready(function() {
    $.ajax({
        url: 'index.php?route=checkout/login',
        dataType: 'html',
        success: function(html) {
           $('#collapse-checkout-option .panel-body').html(html);

			$('#collapse-checkout-option').parent().find('.panel-heading .panel-title').html('<a href="#collapse-checkout-option" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_option }} <i class="fa fa-caret-down"></i></a>');

			$('a[href=\'#collapse-checkout-option\']').trigger('click');
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
{% else %}
$(document).ready(function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_address',
        dataType: 'html',
        success: function(html) {
            $('#collapse-payment-address .panel-body').html(html);

			$('#collapse-payment-address').parent().find('.panel-heading .panel-title').html('<a href="#collapse-payment-address" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');

			$('a[href=\'#collapse-payment-address\']').trigger('click');
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
{% endif %}


//--></script>
{{ footer }}