<p>BILLING INFORMATION</p>

<div class="grid">
  <div class="width-50">
    <div class="form-group position-relative required">
      <input type="text" id="firstName" name="billing_firstname" required="required"
             class="form-control toChange"
             placeholder="First Name"
             pattern="^[A-Za-z -]+$" maxlength="20" value="{{ billing.firstname }}"/>
      <label for="billing_firstname" class="star"></label>
    </div>
  </div>
  <div class="width-50">
    <div class="form-group position-relative required">
      <input type="text" id="lastName" name="billing_lastname" required="required"
             class="form-control toChange"
             placeholder="Last Name"
             pattern="^[A-Za-z -]+$" maxlength="20" value="{{ billing.lastname }}"/>
      <label for="billing_lastname" class="star"></label>
    </div>
  </div>
</div>
<div class="form-group position-relative required">
  <input type="email" id="email" name="billing_email" required="required"
         class="form-control toChange"
         placeholder="Email Address"
         value="{{ email }}"
  />
  <label for="billing_email" class="star"></label>
</div>

<div class="form-group position-relative requiredSelect catContaienr selectBorder">
  <span class="red position-absolute star">*</span>
  <select class="country_select cat" data-zone="billing_state" name="billing_country_id" id="country">
      {% for country in countries %}
        <option value="{{ country.country_id }}" {% if country.country_id == billing.country_id %} selected="selected" {% endif %}>{{ country.name }}</option>
      {% endfor %}
  </select>
</div>

<div class="grid">
  <div class="width-50">
    <div class="form-group position-relative required">
      <input type="text" id="line1" name="billing_line1" required="required"
             class="form-control toChange"
             placeholder="Address Line1"
             pattern="^[A-Za-z -]+$"
             maxlength="20" value="{{ billing.address_1 }}"/>
      <label for="billing_line1" class="star"></label>
    </div>
  </div>
  <div class="width-50">
    <div class="form-group position-relative required">
      <input type="text" id="line2" name="billing_line2" required="required"
             class="form-control toChange"
             placeholder="Address Line2"
             pattern="^[A-Za-z -]+$"
             maxlength="20"  value="{{ billing.address_2 }}"/>
      <label for="billing_line2" class="star"></label>
    </div>
  </div>
</div>


<div class="form-group position-relative required">
  <input type="text" id="city" name="billing_city" required="required"
         class="form-control toChange"
         placeholder="City"
         pattern="^[A-Za-z -]+$"
         maxlength="20"  value="{{ billing.city }}"/>
  <label for="billing_city" class="star"></label>
</div>


<div class="form-group position-relative requiredSelect catContaienr selectBorder">
  <span class="red position-absolute star">*</span>
  <select name="billing_zone_id" id="billing_state" class="cat">
      {% for state in states %}
        <option value="{{ state.zone_id }}" {% if state.zone_id == billing.zone_id %} selected="selected" {% endif %}>{{ state.name }}</option>
      {% endfor %}
  </select>
</div>

<div class="form-group position-relative required">
  <input type="text" id="zip" name="billing_zip" required="required"
         class="form-control toChange"
         placeholder="Zip"
         pattern="^[A-Za-z -]+$" maxlength="20"  value="{{ billing.postcode }}"/>
  <label for="billing_zip" class="star"></label>
</div>

<script>
  $(document).ready(function(){
      $('.country_select').on('change', function() {
          var self=this;
          $.ajax({
              url: 'index.php?route=account/account/country&country_id=' + this.value,
              dataType: 'json',
              beforeSend: function() {
                  $(self).prop('disabled', true);
              },
              complete: function() {
                  $(self).prop('disabled', false);
              },
              success: function(json) {

                  html = '<option value=""> Select State </option>';

                  if (json['zone'] && json['zone'] != '') {
                      for (i = 0; i < json['zone'].length; i++) {
                          html += '<option value="' + json['zone'][i]['zone_id'] + '"';

                          if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
                              html += ' selected="selected"';
                          }

                          html += '>' + json['zone'][i]['name'] + '</option>';
                      }
                  } else {
                      html += '<option value="0" selected="selected">{{ text_none }}</option>';
                  }
                  var id = $(self).data('zone');
                  $('#'+id).html(html);
              },
              error: function(xhr, ajaxOptions, thrownError) {
                  alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
              }
          });
      });
  });
</script>