<div class="shippingAddress">
    <span class="title">
        SHIPPING ADDRESS
    </span>
    <div class="checkBox">
        <label>
          Shipping same as billing?
          <input type="checkbox" placeholder="shipping Address" name="shipping_same">
          <span class="checkMark"></span>
        </label>
    </div>





</div>
<div class="shipping-data">

    <div class="grid">
        <div class="width-50">
            <div class="form-group position-relative required">
                <input type="text" id="firstName" name="shipping_firstname"
                       class="form-control toChange"
                       placeholder="First Name"
                       pattern="^[A-Za-z -]+$" maxlength="20" value="{{ shipping.firstname }}"/>
                <label for="shipping_firstname" class="star"></label>
            </div>
        </div>
        <div class="width-50">
            <div class="form-group position-relative required">
                <input type="text" id="lastName" name="shipping_lastname"
                       class="form-control toChange"
                       placeholder="Last Name"
                       pattern="^[A-Za-z -]+$" maxlength="20" value="{{ shipping.lastname }}"/>
                <label for="shipping_lastname" class="star"></label>
            </div>
        </div>
    </div>
    <div class="form-group position-relative required">
        <input type="email" id="email" name="shipping_email" 
               class="form-control toChange"
               placeholder="Email Address"
               value="{{ email }}"
        />
        <label for="shipping_email" class="star"></label>
    </div>

    <div class="form-group position-relative requiredSelect catContaienr selectBorder">
        <span class="red position-absolute star">*</span>
        <select name="shipping_country_id" id="country" class="cat">
            {% for country in countries %}
                <option value="{{ country.country_id }}" {% if country.country_id == shipping.country_id %} selected="selected" {% endif %}>{{ country.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="grid">
        <div class="width-50">
            <div class="form-group position-relative required">
                <input type="text" id="line1" name="shipping_line1" 
                       class="form-control toChange"
                       placeholder="Address Line1"
                       pattern="^[A-Za-z -]+$"
                       maxlength="20" value="{{ shipping.address_1 }}"/>
                <label for="line1" class="star"></label>
            </div>
        </div>
        <div class="width-50">
            <div class="form-group position-relative required">
                <input type="text" id="line2" name="shipping_line2" 
                       class="form-control toChange"
                       placeholder="Address Line2"
                       pattern="^[A-Za-z -]+$"
                       maxlength="20"  value="{{ shipping.address_2 }}"/>
                <label for="line2" class="star"></label>
            </div>
        </div>
    </div>


    <div class="form-group position-relative required">
        <input type="text" id="city" name="shipping_city" 
               class="form-control toChange"
               placeholder="City"
               pattern="^[A-Za-z -]+$"
               maxlength="20"  value="{{ shipping.city }}"/>
        <label for="line2" class="star"></label>
    </div>


    <div class="form-group position-relative requiredSelect catContaienr selectBorder">
        <span class="red position-absolute star">*</span>
        <select name="shipping_zone_id" id="state" class="cat">
            {% for state in states %}
                <option value="{{ state.zone_id }}" {% if state.zone_id == shipping.zone_id %} selected="selected" {% endif %}>{{ state.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group position-relative required">
        <input type="text" id="zip" name="shipping_zip" 
               class="form-control toChange"
               placeholder="Zip"
               pattern="^[A-Za-z -]+$" maxlength="20"  value="{{ shipping.postcode }}"/>
        <label for="zip" class="star"></label>
    </div>

</div>


<script>
    $('input[name=\'shipping_same\']').on('change',function(){
        $('.shipping-data').toggle(250);
    });
</script>