{{ header }}

<section class="marginBottom90 contactUs" id="firstSection">
    <div class="myContainer">
        <div class="borderedText">
            <h1 class="after">{{ heading_title }}</h1>
            <p class="desc">
                {{ text_description }}
            </p>
        </div>

        <div class="registerStyle">
            <form action="{{ action }}" method="post" >
                <div class="form-group position-relative required">
                    <label for="name" class="star">{{ entry_name }}</label>

                    <input type="text" id="name" name="name" required="required" class="form-control toChange"
                           pattern="^[A-Za-z -]+$" maxlength="20"/>
                    {% if error_name %}
                        <div class="text-danger">{{ error_name }}</div>
                    {% endif %}
                </div>

                <div class="form-group position-relative required">
                    <label for="phone" class="star">{{ text_telephone }}</label>

                    <input type="text" id="phone" name="phone" required="required" class="form-control toChange"
                           pattern="[0-9]*" maxlength="11"/>
                    {% if error_telephone %}
                        <div class="text-danger">{{ error_telephone }}</div>
                    {% endif %}
                </div>

                <div class="form-group position-relative required">
                    <label for="email" class="star">{{ entry_email }}</label>

                    <input type="email" id="email" name="email" required="required" class="form-control toChange"/>
                    {% if error_email %}
                        <div class="text-danger">{{ error_email }}</div>
                    {% endif %}
                </div>

                <div class="required position-relative">
                    <label for="note" class="star">{{ text_comment }}</label>

                    <textarea id="note" class="toChange" name="comment"></textarea>
                </div>

                <div class="form-group position-relative required">
                    <label for="vin" class="star">{{ text_vin }}</label>

                    <input type="text" id="vin" name="vin" required="required" class="form-control toChange"
                           pattern="[0-9]*" maxlength="11"/>
                </div>

                <div class="required position-relative">
                    <label for="itemNeeded" class="star">{{ text_item }}</label>

                    <textarea id="itemNeeded" class="toChange"></textarea>
                </div>


                <button type="submit" class="commonBtn">
                    {{ button_submit }}
                </button>
            </form>
        </div>

    </div>


    <div class="contactWrapper">
        <div class="myContainer bgText">
            <div class="myContainer bgText">
                <div class="borderedText">
                    <div class="wrapper">
                        <span class="after">{{ text_location }}</span>
                        <div class="desc align-self-center">
                            <p>{{ address }}</p>
                            <div class="connection">
                                <p>
                                    <i class="fas fa-phone"></i>
                                    {{ phone }}
                                </p>
                                <p>
                                    <i class="fas fa-envelope"></i>
                                    {{ email }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="after after-78 before before-89 imgContainer">
                <div class="imgWrapper">
                    <img src=catalog/view/theme/carspare/image/coloredImg.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="myContainer">
        <div class="mapWrapper">

            <div id="googleMap">

            </div>
        </div>

    </div>

</section>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('googleMap'), {
            zoom: 8,
            center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder, map);
    }

    function geocodeAddress(geocoder, resultsMap) {
        var address = `{{ address }}`;
        geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpdXhN4XIvpxMLoRwBhj5Vrx68XWonncQ&callback=initMap">
</script>
{{ footer }}
