{{ header }}

<section class="commonMargin">
  <div class="myContainer">
    <div class="returnPolicy">

      <p class="after">
          {{ heading_title }}
      </p>

        {{ description }}

    </div>
  </div>
</section>
{{ footer }}