{{ header }}

<section id="firstSection" class="shippingPolicy marginBottom90">
    <div class="myContainer">
        <div class="policyContent">
            {% for policy in policies %}
            <div class="singlePolicy">
                <p class="after">
                    {{ policy.title }}
                </p>

                <div class="content">
                    {{ policy.description }}

                </div>
            </div>
            {% endfor %}
            <div class="fbi">
                <p class="">
                    <span>FBI - </span>
                    <span>{{ fbi }}</span>
                </p>

            </div>
        </div>
    </div>
</section>

{{ footer }}