@font-face {
  src: url("../fonts/Raleway-Black/Raleway-Black.svg") format('svg'),
  url("../fonts/Raleway-Black/Raleway-Black.eot") format('embeded-opentype'),
  url("../fonts/Raleway-Black/Raleway-Black.ttf") format('truetype'),
  url("../fonts/Raleway-Black/Raleway-Black.woff") format('woff');
  font-family: 'realway-black';
}

@font-face {
  src: url("../fonts/Raleway-Bold/Raleway-Bold.svg") format('svg'),
  url("../fonts/Raleway-Bold/Raleway-Bold.eot") format('embeded-opentype'),
  url("../fonts/Raleway-Bold/Raleway-Bold.ttf") format('truetype'),
  url("../fonts/Raleway-Bold/Raleway-Bold.woff") format('woff');
  font-family: 'realway-bold';
}

@font-face {
  src: url("../fonts/Raleway-Medium/Raleway-Medium.svg") format('svg'),
  url("../fonts/Raleway-Medium/Raleway-Medium.eot") format('embeded-opentype'),
  url("../fonts/Raleway-Medium/Raleway-Medium.ttf") format('truetype'),
  url("../fonts/Raleway-Medium/Raleway-Medium.woff") format('woff');
  font-family: 'realway-medium';
}
@font-face {
  src: url("../fonts/Raleway-Regular/Raleway-Regular.svg") format('svg'),
  url("../fonts/Raleway-Regular/Raleway-Regular.eot") format('embeded-opentype'),
  url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format('truetype'),
  url("../fonts/Raleway-Regular/Raleway-Regular.woff") format('woff');
  font-family: 'realway-regular';
}
@font-face {
  src: url("../fonts/Raleway-SemiBold/Raleway-SemiBold.svg") format('svg'),
  url("../fonts/Raleway-SemiBold/Raleway-SemiBold.eot") format('embeded-opentype'),
  url("../fonts/Raleway-SemiBold/Raleway-SemiBold.ttf") format('truetype'),
  url("../fonts/Raleway-SemiBold/Raleway-SemiBold.woff") format('woff');
  font-family: 'realway-semibold';
}
@font-face {
  src: url("../fonts/Raleway-Light/Raleway-Light.svg") format('svg'),
  url("../fonts/Raleway-light/Raleway-Light.eot") format('embeded-opentype'),
  url("../fonts/Raleway-Light/Raleway-Light.ttf") format('truetype'),
  url("../fonts/Raleway-Light/Raleway-Light.woff") format('woff');
  font-family: 'realway-light';
}
.realway-light {
  font-family: 'realway-light'!important;
}
.reaway-black {
  font-family: 'realway-black';
}

.realway-medium {
  font-family: 'realway-medium';
}

.realway-bold {
  font-family: 'realway-bold';
}

.realway-semibold {
  font-family: 'realway-semibold';
}

$red: #FF0000;
.red {
  color: $red!important;
}

.white {
  color: #fff;
}

body, html {
  min-height: 100%;
}
body {
  overflow: hidden;
  font-family: 'realway-regular';
  color: #000;
}

.font-18 {
  font-size: 18px;
}

.font-21 {
  font-size: 21px;
}

.font-24 {
  font-size: 24px;
}

.font-30 {
  font-size: 30px;
}

.font-48 {
  font-size: 48px;
}

.before {
  position: relative;
  margin: 6px 0;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    height: 6px;
    background-color: $red;
  }
  &.smallHeight {
    &:before {
      height: 3px;
    }
  }
}

.before-89 {
  &:before {
    width: 89%;
  }
}

.before-60 {
  &:before {
    width: 60%;
  }
}

.after {
  position: relative;
  margin: 6px 0;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 6px;
    background-color: $red;
  }
  &.right {
    &:after{
      right: 0;
      left: auto;
    }
  }
}

.after-78 {
  &:after {
    width: 78%;
  }
}

.after-50 {
  &:after {
    width: 50%;
  }
}

.after-60 {
  &:after {
    width: 60%;
  }
}


.padding-50 {
  padding: 50px 0;
}

.margin-50 {
  margin: 50px 0;
}

.center-img {
  img {
    min-width: 100%;
    min-height: 100%;
    margin: 0 -100%;
  }
}

.fill-img {
  img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 769px) {
  .font-16 {
    font-size: 16px;
  }
  .font-18 {
    font-size: 16px;
  }
  .font-24 {
    font-size: 22px;
  }
  .font-30 {
    font-size: 26px;
  }
  .font-48 {
    font-size: 24px;
  }
}