
@font-face {
  font-family: 'Raleway-Regular';
  src: url('Raleway-Regular.eot?#iefix') format('embedded-opentype'),  url('Raleway-Regular.woff') format('woff'), url('Raleway-Regular.ttf')  format('truetype'), url('Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
