<div class="swiper-container home">
    <div class="swiper-wrapper">
        {% for banner in banners %}
            <div class="swiper-slide clearfix">
                <div class="half">
                    <img src="{{ banner.image }}" alt="">
                </div>
                <div class="half">
                    <p class="mainText font-48 after">{{ banner.title1 }}
                        {% if banner.title2  %}
                        <span class="red realway-bold">{{ banner.title2 }}</span>
                        {% endif %}
                        {{ banner.title3 }}</p>
                    <p class="subText">
                        {{ banner.description }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>

