{% for banner in banners %}
    <div class="swiper-slide clearfix">
        <div class="half">
            <img src="{{ banner.image }}" alt="">
        </div>
        <div class="half">
            <p class="mainText font-48 after">
        {{ banner.title }}
            </p>
            <p class="subText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </p>
        </div>
    </div>
{% endfor %}