{{ header }}
<section class="notFound">
    <div class="myContainer text-center">
        <div class="notFoundImg">
            <p>Oops!</p>
            <img src="catalog/view/theme/carspare/image/404.png" alt="">
        </div>
        <p class="font-48 darkGray">
            {{ heading_title }}
        </p>
        <span class="font-18 realway-medium">
            {{ text_error }}
        </span>
        <button class="commonBtn white" onclick="location.href = '{{ home }}';">
            GO HOME
        </button>
    </div>
</section>
{{ footer }}

