
<div class="width-32 catContaienr twoSides">

    {{ change_vehicle }}
    <ul>
        {% for category in categories %}
            <li {% if category.is_active %}class="ui-tabs-active" {% endif %}><a  href="{{ category.href }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>


</div>