{{ header }}
<section class="marginBottom90 details2 popupSection" id="firstSection">
    <!-- will be shred with item details 1 and item details 2 -->
    <div class="myContainer itemDetails">
        <div class="grid commonTabsDiff">
           {{ sidebar }}

            <div class="width-68">
                <div id="itemAudio">
                    <div class="head">
                        <div class="left">
                            <p>{{ product.year }} {{ product.manufacturer }} {{ product.model }} {{ product.category }} {{ product.sub_category }} {{ product.name }}- OEM {{ product.manufacturer }} Accessories</p>
                            <span>Home / {{ product.manufacturer }} Accessories / {{ product.year }} / {{ product.model }} / {{ product.category }} {{ product.sub_category }} </span>
                        </div>
                    </div>
                    <div class="singleDetails">
                        <div class="singleItemDesc">
                            <div class="imgContainer">
                                <img src="{{ product.image }}" alt="">
                            </div>
                            <div class="itemData">
                                <p class="itemName">{{ product.name }}</p>
                                <span>BRAND : {{ product.manufacturer }}</span>
                                <span>Part Number : {{ product.mpn }}</span>
                                <div class="changePlace">
                                    <div class="clearfix">
                                        {% if product.special %}
                                            <p class="oldPrice">List Price:
                                                <del> {{ product.price }}</del>
                                            </p>
                                            <p class="newPrice">Our Price: {{ product.special }}</p>
                                        {% else %}
                                            <p class="oldPrice">
                                            </p>
                                            <p class="newPrice">Our Price: {{ product.price }}</p>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="singleItemActions">
                            <button onclick="cart.add({{ product_id }})">ADD TO CART</button>
                            <button>BUY NOW</button>
                            <button>SHOP MORE</button>
                        </div>
                    </div>
                    <div class="moreDetails">
                        <p class="detailsHead">
                            Part Description:
                        </p>
                        <p>
                            {{ product.description }}
                        </p>

                        {% if product.filters %}
                        <div class="singleItemActions">
                            {% for filter in product.filters %}
                                <button> {{ filter.name }}</button>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <p>
                            {{ description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END OF IT-->
</section>
{{ footer }}