{{ header }}


<section class="marginBottom90 popupSection" id="firstSection">
    <!-- will be shred with item details 1 and item details 2 -->
    <div class="myContainer itemDetails">
        <div class="grid commonTabsDiff">
            {{ view }}
            <div class="width-68">
                <div>

                    <div class="head">
                        <div class="left">
                            <p>{{ car_year }} {{ car_manufacturer }} {{ car_name }} Accessories</p>
                            <span>Home / {{ car_manufacturer }} Accessories / {{ car_year }} / {{ car_name }} / {{ edition_name }}</span>
                        </div>
                        <div class="right">
                            <p>Sort By: </p>
                            <div class="form-group position-relative required catContaienr">
                                <select id="sort" name="category" class="cat">
                                    {% if sort %}
                                        {% if sort_high %}
                                            <option value="high">Price high to Low</option>
                                            <option value="low">Price Low to high</option>
                                        {% elseif sort_low %}
                                            <option value="low">Price Low to high</option>
                                            <option value="high">Price high to Low</option>
                                        {% endif %}
                                    {% else %}
                                        <option value="low">Price Low to high</option>
                                        <option value="high">Price high to Low</option>
                                    {% endif %}

                                </select>
                            </div>
                        </div>
                    </div>
                    {% for accessory in accessories %}
                        <div class="singleDetails">
                            <div class="singleItemDesc">
                                <div class="imgContainer">
                                    <img src="{{ accessory.image }}" alt="">
                                </div>
                                <div class="itemData">
                                    <p class="itemName">{{ accessory.name }}</p>
                                    <span>BRAND : {{ accessory.brand }}</span>
                                    <span>Part Number : {{ accessory.part_number }}</span>
                                    <div class="changePlace">
                                        <div class="clearfix">
                                            {%  if accessory.special %}
                                                <p class="oldPrice">List Price:
                                                    <del> {{ accessory.price }}</del>
                                                </p>
                                                <p class="newPrice">Our Price: {{ accessory.special }}</p>
                                            {% else %}
                                                <p class="oldPrice"></p>
                                                <p class="newPrice">Our Price: {{ accessory.price }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="singleItemActions">
                                <button><a onclick="view.add({{ accessory.id }})" href="{{ accessory.href }}">DETAILS</a></button>
                                <button onclick="cart.add({{ accessory.id }})">ADD TO CART</button>
                                <button>CHECK OUT</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('#sort').on('change', function () {
        url = "{{ sort_url }}";
        window.location.href = url + $(this).val();
    })
</script>
{{ footer }}
