{{ header }}
<section class="marginBottom90 details2 popupSection" id="firstSection">
    <!-- will be shred with item details 1 and item details 2 -->
    <div class="myContainer itemDetails">
        <div class="grid">
            <div class="width-32">
                {{ change_vehicle }}
            </div>


            <div class="width-68 forTabs">
                <div>
                    <div class="head">
                        <div class="left">
                            <p>{{ car_year }} {{ car_manufacturer }} {{ car_name }} parts - OEM Toyota Parts</p>
                            <span>Home / {{ car_manufacturer }} Parts / {{ car_year }} / {{ car_name }} / {{ edition_name }} Parts</span>
                        </div>
                    </div>

                    <div class="moreDetails">

                        <div class="allCategories">
                            {% for category in categories %}
                                <div class="singleCategory">
                                    <img src="{{ category.image }}" alt="">
                                    <div class="">
                                        <a href="{{ category.href }}" class="hover realway-bold">
                                            {{ category.name }}
                                        </a>
                                        <p class="realway-semibold">
                                            {% for part in category.top_parts %}{% set x = loop.index %}{% if x != 1 %}, {% endif %}{{ part.name }}{% endfor %}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <p>
                            Genuine {{ car_year }} {{ car_manufacturer }} {{ car_name }} Base parts and accessories packaged and ready to ship. Does you {{ car_year }} {{ car_manufacturer }} {{ car_name }} have a GAS 1.5 L 4? Many sites don't carry the replacement parts or charge you an
                            incredibly high price. Don't get ripped off! ToyotaPartsEStore has millions of OEM parts in
                            stock at the lowest prices on the web. No matter what engine or transmission, we will take
                            care of all your {{ car_manufacturer }} {{ car_name }} part needs! Drive a {{ car_name }} with a Transaxle Automatic 3? Order today
                            and let us keep your car running like new.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ footer }}