{{ header }}

<section class="marginBottom90 details2 popupSection" id="firstSection">
    <!-- will be shred with item details 1 and item details 2 -->
    <div class="myContainer itemDetails">
        <div class="grid">
            <div class="width-32">
                {{ change_vehicle }}
            </div>

            <div class="width-68 edition">
                <div>
                    <div class="head">
                        <div class="left">
                            <p>{{ car_year }} {{ car_manufacturer }} {{ car_name }} {{ ptype }} -
                                OEM {{ car_manufacturer }} {{ ptype }}</p>
                            <span>Home / {{ car_manufacturer }} {{ ptype }} / {{ car_year }} / {{ car_name }}
                                / {{ ptype }}</span>
                        </div>
                    </div>

                    <div class="moreDetails">
                        <div class="grid">
                            {% for edition in editions %}
                                <button class="mainButton" onclick="garage.add('{{ car_id }}','{{ edition.edition_id }}');location.href='{{ edition.href }}'" >
                                        {{ edition.name }}
                                </button>
                            {% endfor %}
                        </div>
                        <div>
                            <p>Need a replacement part for for your {{ car_year }} {{ car_manufacturer }} {{ car_name }}</p>
                            <p>
                                Buy from ToyotaPartsEStore and we'll ship Genuine Factory {{ car_manufacturer }} replacement parts to
                                your front door at a price that won't break the bank. No matter how old or what model
                                you drive, we stock millions of Parts and Accessories for that {{ car_year }} {{ car_manufacturer }} {{ car_name }} you
                                rely on so much every day. Avoid the Dealership and purchase online today!
                            </p>
                            <p>
                                Do you want a warranty on your {{ car_manufacturer }} Replacement part? Enter the VIN number when making
                                your online order and you'll receive a Warranty certificate valid at every single Toyota
                                dealership in the US.
                            </p>
                            <p>
                                Order your {{ car_year }} {{ car_manufacturer }} {{ car_name }} part today!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END OF IT-->
</section>

{{ footer }}