{{ header }}

<section id="firstSection">
    <div class="myContainer bgText">
        <h1 class="white">Auto Items</h1>
        <p class="subTxt">Home / Select Items</p>
        <div class="after after-78 before before-89 imgContainer">
            <div class="imgWrapper">
                <img src="catalog/view/theme/carspare/image/coloredImg.png" alt="">
            </div>
        </div>
    </div>


</section>

<section class="accessoriesSection commonMargin">
    <div class="myContainer">
        <div class="sectionTitle">
            <h1 class="text-center">Factory OEM Items</h1>
            <div class="twoButtons">
                {% for p in ptype %}
                    <a href="{{ p.href }}" class="mainButton">
                        {{ p.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="text">
            <p>
                No matter what type of you drive, whether its brand new or no longer in production, We have trained
                specialists waiting to help you place an order online today! we have all the replacement parts you need for
                your vehicle so place your order online 24 hours a day 7 days a week!
            </p>
        </div>
    </div>
</section>

{{ footer }}