{{ header }}
<section id="firstSection" class="marginBottom90">
    <div class="myContainer">
        <h1 class="darkGray">{{ year }} {{ car_manufacturer }} {{ ptype }} - OEM {{ car_manufacturer }} {{ ptype }}</h1>
        <p class="realway-medium">Home / {{ car_manufacturer }} {{ ptype }} / {{ year }} {{ car_manufacturer }} {{ ptype }}</p>

        <div class="popular">
            {% for model in models %}
            <div class="singleModel" >
                <div class="imgContainer" style="background-image: url('catalog/view/theme/carspare/image/carBg.png')">
                    <a href="{{ model.url }}"><img src="{{ model.image }}" alt=""></a>
                </div>
                <div class="carDesc">
                    <p>{{ car_manufacturer }} {{ model.name }}</p>
                    <p>{{ year }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
        <p class="smallText">
            Buy from ToyotaPartsEStore and we'll ship Genuine Factory [make] replacement parts to your front door at a
            price that will not break the bank. No matter how old or what model you drive, we stock millions of Parts
            and Accessories for that [year] [make] [model] that you rely on so much every day. Avoid the Dealership and
            purchase online today!
        </p>
    </div>
</section>

{{ footer }}