{{ header }}

<section class="marginBottom90 details2" id="firstSection">
    <div class="myContainer itemDetails">
        <div class="grid commonTabsDiff partDetails2">
            <!--Left Column-->

            <div class="width-32 catContaienr twoSides">
                <span class="tabTitle"> OTHER CATEGORIES</span>
                <ul>
                    <li class="d-none"><a class="hide" href="#subCategory1" data-attr="subCategory1"> OTHER CATEGORIES</a></li>
                    {% for other in others %}
                        <li {% if other.is_active %}class="ui-tabs-active"{% endif %}><a href="{{ other.href }}">{{ other.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!--End Of Left Column-->

            <!--Right Column-->
            <div class="width-68 forTabs">
                <div id="itemAudio">
                    <div class="head">
                        <div class="left">
                            <p>{{ car_year }} {{ car_manufacturer }} {{ car_name }} {{ category }} Parts - OEM Toyota
                                Parts</p>
                        </div>
                    </div>
                    <div class="singleDetails">
                        <div class="singleItemDesc">
                            <div class="imgContainer">
                                <img src="{{ image }}" alt="">
                                <span class="lightText">Part can be found as Reference No#1 in Illustration</span>
                            </div>
                            <div class="itemData">
                                <p class="itemName">{{ name }}</p>
                                <span>BRAND : {{ car_manufacturer }}</span>
                                <span>Part Number : {{ mpn }}</span>
                                <div class="changePlace">
                                    <div class="clearfix">
                                        {% if special %}
                                            <p class="oldPrice">List Price:
                                                <del> {{ price }}</del>
                                            </p>
                                            <p class="newPrice">Our Price: {{ special }}
                                                <span class="lightText">( Save {{ save }}% )</span>
                                            </p>
                                        {% else %}
                                            <p class="oldPrice">
                                            </p>
                                            <p class="newPrice">Our Price: {{ price }}</p>

                                        {% endif %}
                                    </div>
                                    <p class="corePrice">Core Price: {{ core }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="singleItemActions">
                            <button onclick="cart.add({{ part_id }})">ADD TO CART</button>
                            <button>BUY NOW</button>
                        </div>
                    </div>
                    <div class="moreDetails">
                        <p class="detailsHead">
                            Part Description:
                        </p>
                        <p class="subText">
                            {{ description }}
                        </p>

                        <div class="singleItemActions">
                           {% for filter in filters %}
                               <button>{{ filter.name }}</button>
                            {% endfor %}
                        </div>
                        <p>
                            Genuine 2015 Toyota Avalon XL Factory Parts. Have a faulty Alternator? Having a hard time
                            finding Alternator Parts And Components alternator replacements? Regardless of the engine or
                            transmission, we will have the part you need ready to ship to you in the click of a button!
                            In the rare circumstance that we don't have the part in stock, we have access to all Toyota
                            Parts distribution centers around the world and will work with you to make sure you get what
                            you need. Is your Avalon equipped with a GAS 3.5 V 6? WE HAVE THOSE PARTS IN STOCK! ORDER
                            TODAY!

                        </p>
                    </div>
                </div>
            </div>
            <!--End of Right Column-->
        </div>
    </div>
</section>

{{ footer }}