{{ header }}

<section class="marginBottom90 popupSection partDetailsContainer" id="firstSection">
    <div class="myContainer itemDetails">
        <div class="grid commonTabsDiff">

            <!--Left Column-->
           {{ sidebar }}
            <!--End of LEft column-->

            <!--Right Column-->
            <div class="width-68 forTabs">
                <div id="carrier">
                    <!--item with scrollbar new Div -->
                    <div class="partDetails">
                        <div class="head">
                            <div class="left">
                                <p>{{ category }}</p>
                                <span>Home / {{ car_manufacturer }} Parts / {{ car_year }} / {{ car_name }} / {{ edition }} / {{ top_name }}</span>
                            </div>
                        </div>
                        <div class="singleDetails ">
                            <div class="singleItemDesc">
                            <span>Mouse over the highlighted numbers to view the part details or browse the list below to
                                view parts for this specific category.
                            </span>
                                <div class="imgContainer">
                                    <img src="{{ image }}" alt="" class="imgToReplace">
                                    <span>Other illustrations Associated with </span>
                                    <span class="d-block">(Select to change main illustration view)</span>
                                    <div class="subImages grid">
                                        {% for illustrator in illustrators %}
                                        <div class="subImgContainer">
                                            <a href="{{ illustrator.href }}"><img style="max-width: 85px; max-height: 65px" src="{{ illustrator.image }}" alt=""></a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="position-relative forOpacity">
                                    <div class="itemData">
                                        <div class="scrollContainer">
                                            {% for child in children %}
                                            <div>
                                                <div class="">
                                                    <p class="itemName">image "Call-out" list</p>
                                                    <span><span
                                                                class="red d-inline-block">{{ child.value }} </span> {{ child.name }}</span>
                                                </div>
                                                <div class="">
                                                    <span>P/N:{{ child.mpn }}</span>
                                                    {% if child.special %}
                                                        <span>List Price: <del>{{ child.price }}</del></span>
                                                        <span class="red realway-bold">Our Price: {{ child.special }}</span>

                                                    {% else %}
                                                        <span class="red realway-bold">Our Price: {{ child.price }}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="resultBtns">
                                                    <button class="searchResultBtn">CART</button>
                                                    <button class="searchResultBtn">BUY</button>
                                                    <button class="searchResultBtn"><a onclick="view.add({{ child.product_id }})" href="{{ child.href }}">DETAILS</button></a>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                    <div class="opacityDiv"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of item with scrollbar-->

                    <!--new item single details common between other pages-->
                    <div class="singleDetails scrollable">
                        <div class="head pt-20 align-items-center">
                            <div class="left">
                                <span>Full Part List 2016 Toyota Avalon - Carrier</span>
                            </div>
                            <div class="right">
                                <div class="form-group position-relative required catContaienr selectBorder">
                                    <select name="category" class="cat">
                                        <option value="">Filter</option>
                                        <option value="">Price high to Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        {% for child in children %}
                        <div class="singleItemDesc">
                            <div class="imgContainer">
                                <img src="{{ child.image }}" alt="">
                            </div>
                            <div class="itemData">
                                <p class="itemName">{{ child.name }}</p>
                                <span>BRAND : {{ child.manufacturer }}</span>
                                <span>Part Number : {{ child.mpn }}</span>
                                <div class="changePlace">
                                    <div class="clearfix">
                                        {% if child.special %}
                                            <p class="oldPrice">List Price:
                                                <del> {{ child.price }}</del>
                                            </p>
                                            <p class="newPrice">Our Price: {{ child.special }}</p>
                                        {% else %}
                                            <p class="oldPrice">
                                            </p>
                                            <p class="newPrice">Our Price: {{ child.price }}</p>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="singleItemActions">
                            <button><a onclick="view.add({{ child.product_id }})"  href="{{ child.href }}">DETAILS</a></button>
                            <button onclick="cart.add({{ child.product_id }})">ADD TO CART</button>
                            <button>CHECK OUT</button>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="moreDetails">
                        <p>
                            We have an overstock of Toyota replacement parts in our warehouse and we have been approved
                            to liquidate our stock to the direct public at wholesale prices. All OEM 2016 Toyota Avalon
                            XLE replacement parts and accessories are at the lowest prices ever! Do you own a GAS 3.5 V
                            6 Transaxle Automatic 3 Toyota Avalon? No matter what Body, Glass And Molding Parts carrier
                            & components part you need, we can get you the replacement part straight to your home with
                            the click of a button.
                        </p>
                    </div>
                </div>
            </div>
            <!--End of Right Column-->
        </div>
    </div>
</section>

{{ footer }}