<div class="width-32 catContaienr twoSides">
    {{ change_vehicle }}
    <span class="tabTitle">SUBCATEGORY</span>
    <!--ul of sub categories-->

    <ul>
        <li class="d-none"><a class="hide"> SUBCATEGORY</a></li>
        {% for top in top_parts %}
            <li {% if top.is_active %}class="ui-tabs-active"{% endif %}><a href="{{ top.href }}">{{ top.name }}</a></li>
        {% endfor %}
    </ul>
    <!--End -->
    <span class="tabTitle"> OTHER CATEGORIES</span>
    <!--ul of others categories-->
    <ul>
        <li class="d-none"><a class="hide" href="#subCategory1" data-attr="subCategory1"> SUBCATEGORY</a></li>
        {% for other in others %}
            <li {% if other.is_active %}class="ui-tabs-active"{% endif %}><a href="{{ other.href }}">{{ other.name }}</a></li>
        {% endfor %}
    </ul>
    <!--End-->
    {{ popup }}
</div>