{{ header }}

<section id="firstSection" class="marginBottom90">
    <div class="myContainer">
        <h1 class="darkGray">Popular Models</h1>
        <p class="realway-medium">Home / Popular Models</p>

        <div class="popular">

            {% for product in products %}
            <div class="singleModel">
                <div class="imgContainer" style="background-image: url('catalog/view/theme/carspare/image/carBg.png')">
                    <a href="{{ product.url }}"><img src="{{ product.image }}" alt=""></a>
                </div>
                <div class="carDesc">
                    <p>{{ product.manufacturer }} {{ product.name }}</p>
                    <p>{{ product.year }}</p>
                </div>
            </div>
            {%  endfor %}
        </div>
        <p class="smallText">
            Buy from ToyotaPartsEStore and we'll ship Genuine Factory [make] replacement parts to your front door at a
            price that will not break the bank. No matter how old or what model you drive, we stock millions of Parts
            and Accessories for that [year] [make] [model] that you rely on so much every day. Avoid the Dealership and
            purchase online today!
        </p>
    </div>
</section>

{{ footer }}