{{ header }}
<section class="marginBottom90 results">
    <div class="shopByBrand">
        <div class="myContainer bgText">
            <div class="grid responsive">
                <div class="width-50 searchText">
                    <p>{{ total }} Search Results for</p>
                    <p>"{{ search }}"</p>
                </div>
                <div class="width-50 cats">
                    <div class="selectCategory float-right">
                        <div class="form-group position-relative required">
                            <select name="category_id" class="cat ">
                                <option value="0">{{ text_category }}</option>
                                {% for category_1 in categories %}
                                    {% if category_1.category_id == category_id %}
                                        <option value="{{ category_1.category_id }}"
                                                selected="selected">{{ category_1.name }}</option>
                                    {% else %}
                                        <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="after after-78 before before-89 imgContainer">
                <div class="imgWrapper">
                    <img src="catalog/view/theme/carspare/images/coloredImg.png" alt="">
                </div>
            </div>
        </div>

    </div>

    <div class="myContainer">
        {% if products %}
            <div class="popular searchResults">
                {% for product in products %}
                    <div class="singleModel">
                        <div class="resultData">
                            <div class="searchImgContainer">
                                <img src="{{ product.thumb }}" alt="">
                            </div>
                            <div class="description">
                                <p>{{ product.name }}</p>
                                <p>Part#: {{ product.mpn }}</p>
                                <p>{{ product.manufacturer }} > {{ product.year }} > {{ product.edition }}</p>
                            </div>
                        </div>

                        <div class="prices clearfix">
                            <span class="float-left">List: $371.36</span>
                            <span class="float-right">Our Price: $288.77</span>
                        </div>

                        <div class="resultBtns">
                            <button class="searchResultBtn" onclick="cart.add({{ product.product_id }})">ADD TO CART</button>
                            <button class="searchResultBtn">BUY NOW</button>
                            <button class="searchResultBtn">MORE INFO</button>
                        </div>
                    </div>
                {% endfor %}
                {% if results >= 3 %}
                <a href="#" id="more" class="commonBtn">
                    More
                </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>

<script type="text/javascript"><!--
    offset = 0;
    $(document).on('click', '#more', function (e) {
        e.preventDefault();
        $('#more').hide();
        offset += 3;
        quote = "{{ quote }}";
        url = "index.php?route=product/search&search={{ search }}";
        if(quote == "1") url = "index.php?route=product/search/quote&search={{ quote_search }}&quote="+quote;
        var category_id = $('[name=\'category_id\']').prop('value');
        if (category_id > 0) {
            url += '&category_id=' + encodeURIComponent(category_id);
        }
        $.ajax({
            url: url,
            type: "post",
            data: {"offset": offset },
            success: function (data) {
                if (data.view) {
                    $(data.view).insertBefore("#more").hide().fadeIn(1000, function () {
                    });
                    if (data.total >= 3) $('#more').fadeIn(1000);
                }
            }
        })
    })
    $(document).ready(function () {
        $('[name="category_id"]').change(function () {
            var url = $('base').attr('h') + 'index.php?route=product/search';
            window.location = url + "&search={{ search }}&category_id=" + this.value;
        })
    })

    $('#button-search').bind('click', function () {
        url = 'index.php?route=product/search';

        var search = $('#content input[name=\'search\']').prop('value');

        if (search) {
            url += '&search=' + encodeURIComponent(search);
        }

        var category_id = $('[name=\'category_id\']').prop('value');

        if (category_id > 0) {
            url += '&category_id=' + encodeURIComponent(category_id);
        }

        var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

        if (sub_category) {
            url += '&sub_category=true';
        }

        var filter_description = $('#content input[name=\'description\']:checked').prop('value');

        if (filter_description) {
            url += '&description=true';
        }

        location = url;
    });

    $('#content input[name=\'search\']').bind('keydown', function (e) {
        if (e.keyCode == 13) {
            $('#button-search').trigger('click');
        }
    });

    $('select[name=\'category_id\']').on('change', function () {
        if (this.value == '0') {
            $('input[name=\'sub_category\']').prop('disabled', true);
        } else {
            $('input[name=\'sub_category\']').prop('disabled', false);
        }
    });

    $('select[name=\'category_id\']').trigger('change');
    --></script>


{{ footer }}

