{% for product in products %}
    <div class="singleModel">
        <div class="resultData">
            <div class="searchImgContainer">
                <img src="{{ product.thumb }}" alt="">
            </div>
            <div class="description">
                <p>{{ product.name }}</p>
                <p>Part#: {{ product.mpn }}</p>
                <p>{{ product.manufacturer }} > {{ product.year }} > {{ product.edition }}</p>
            </div>
        </div>

        <div class="prices clearfix">
            <span class="float-left">List: $371.36</span>
            <span class="float-right">Our Price: $288.77</span>
        </div>

        <div class="resultBtns">
            <button class="searchResultBtn" onclick="cart.add({{ product.product_id }})">ADD TO CART</button>
            <button class="searchResultBtn">BUY NOW</button>
            <button class="searchResultBtn">MORE INFO</button>
        </div>
    </div>
{% endfor %}