{{ header }}

<section id="firstSection">
    <div class="myContainer bgText">
        <h1>{{ car_manufacturer }} Auto {{ ptype }}</h1>
        <p class="subTxt">Home / {{ car_manufacturer }} {{ ptype }}</p>
        <div class="after after-78 before before-89 imgContainer">
            <div class="imgWrapper">
                <img src="catalog/view/theme/carspare/image/coloredImg.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="allYears commonMargin">
    <div class="myContainer">
        <h1 class="sectionTitle">Factory OEM {{ car_manufacturer }} {{ ptype }}</h1>
        <div class="row">
            {% for year in years %}
            <div class="col-6 col-md-4 col-lg-2">
                <a href="{{ year.url }}" class="mainButton">
                    {{ year.year }}
                </a>
            </div>
            {% endfor %}

        </div>
        <p class="accessoryText">
            Our prices are so low, so near cost that wholesale clients are ordering from us directly! We beat wholesale
            prices! Did you know dealerships mark up Scion Parts up to 300% of their cost!? Never step foot inside a
            dealership again! Order all your Scion replacement parts today! To ensure you get the correct part input
            your VIN number. Parts orders without a VIN number will be shipped as ordered.
        </p>
    </div>
</section>
