{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-option" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                            class="fa fa-reply"></i></a></div>
            <h1>Quotations</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid"> {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-option"
                      class="form-horizontal">
                    <fieldset>
                        <legend>{{ text_option }}</legend>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label">Quotation Number</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text" name="quote_name" value="{{ quote_name }}" placeholder="enter name"
                                           class="form-control"/>
                                </div>
                                {% if error_name %}
                                    <div class="text-danger">{{ error_name }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Parts</label>
                            <div class="form-group">
                                {% set children = 0 %}
                                {% for product in products %}
                                    {% set children = loop.index %}
                                    <div id="child{{ children }}" name="countChildren" class="form-group">
                                        <div class="col-sm-3 col-sm-offset-2">
                                            <input type="text" name="product" id="producttext-{{ children }}"
                                                   value="{{ product.name }}" placeholder="Part"
                                                   class="{% if not(product.product_id) %} alert-danger {% endif %}form-control"/>
                                            <input type="hidden" id="product{{ children }}" name="products[]"
                                                   value="{{ product.product_id }}"
                                                   class="form-control"/>
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-danger" name="{{ children }}" id="remove"><i
                                                        class="fa fa-remove"></i></button>
                                        </div>
                                    </div>
                                {% endfor %}

                                <button type="button" class="btn btn-primary col-lg-offset-11" name="add"><i
                                            class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript"><!--
        children = {{ children }}

            $(document).ready(function () {

                $('input[name="product"]').autocomplete({
                    'source': function (request, response) {
                        $.ajax({
                            url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request) + "&ptype=parts&top=0",
                            dataType: 'json',
                            success: function (json) {
                                response($.map(json, function (item) {
                                    return {
                                        label: item['name'],
                                        value: item['product_id']
                                    }
                                }));
                            }
                        });
                    },
                    'select': function (item) {
                        child = ($(this).attr("id").split("-")[1]);
                        $('#producttext-' + child).val(item['label']);
                        $('#product' + child).val(item['value']);
                    }
                });

                $(document).on('click', '[name="add"]', function (e) {
                    e.preventDefault();
                    children++;
                    s = '<div id="child' + children + '" name="countChildren" class="form-group">\n' +
                        '                                    <div class="col-sm-3 col-sm-offset-2">\n' +
                        '                                        <input type="text" name="product" id="producttext-' + children + '" value="" placeholder="Part"\n' +
                        '                                                class="form-control"/>\n' +
                        '                                        <input type="hidden" id="product' + children + '" name="products[]" value=""\n' +
                        '                                                class="form-control"/>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-sm-2">\n' +
                        '                                        <button class="btn btn-danger" name="' + children + '" id="remove" ><i\n' +
                        '                                                    class="fa fa-remove"></i></button>\n' +
                        '                                    </div>\n' +
                        '                                </div>';
                    $(s).insertBefore('[name="add"]');
                    $('input[name="product"]').autocomplete({
                        'source': function (request, response) {
                            $.ajax({
                                url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request) + "&ptype=parts&top=0",
                                dataType: 'json',
                                success: function (json) {
                                    response($.map(json, function (item) {
                                        return {
                                            label: item['name'],
                                            value: item['product_id']
                                        }
                                    }));
                                }
                            });
                        },
                        'select': function (item) {
                            child = ($(this).attr("id").split("-")[1]);
                            $('#producttext-' + child).val(item['label']);
                            $('#product' + child).val(item['value']);
                        }
                    });
                });

                $(document).on('click', '#remove', function (e) {
                    e.preventDefault();
                    $('#child'+$(this).attr('name')).remove();

                })
            });

        //--></script>
</div>
{{ footer }} 