{{ header }}
<section class="orders marginBottom90" id="firstSection">
    <div class="myContainer">
        <p class="font-24 darkGray">
            <span>Welcome</span>
            <span class="realway-bold">{{ username }}</span>
        </p>

        <div class="commonTabs selectBorder change deleteBorder deleteBorder">
            <ul>
                <li><a href="#myOrders" name="orders" data-attr="myOrders">My Orders</a></li>
                <li><a href="#garage" name="garage" data-attr="garage">Garage</a></li>
                <li><a href="#vins" name="vins" data-attr="vins">My VIN(S)</a></li>
                <li><a href="#settings" name="settings" data-attr="settings">Settings</a></li>
                <li><a href="#" onclick="location.href='{{ logout }}'">Logout</a></li>
            </ul>
            <div class="forTabs">

                {{ order_list }}

                {{ garage }}

                {{ my_vins }}

                {{ setting }}
            </div>
        </div>
    </div>
</section>
{% if tab_id %}
<script>
    $(document).ready(function(){
        $("a[name='{{ tab_id }}']").click();
    });
</script>
{% endif %}
{{ footer }}