<div id="settings" class="commonPadding responsive">

    <p>GENERAL </p>


    <form action="{{ action }}" method = "POST">
        <div class="grid">
            <div class="width-50">
                <div class="form-group position-relative required catContaienr">
                    <input type="text" id="firstName" name="firstname" required="required"
                           class="form-control toChange" value="{{ firstname }}"
                           pattern="^[A-Za-z -]+$" maxlength="20"
                           placeholder="First Name"/>
                    <label for="firstName" class="star"></label>
                    {% if error_firstname %}
                    <span class="inCorrect">{{ error_firstname }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="width-50">
                <div class="form-group position-relative required">
                    <input type="text" id="lastName" name="lastname" required="required"
                           class="form-control toChange" value="{{ lastname }}"
                           placeholder="Last Name"
                           pattern="^[A-Za-z -]+$" maxlength="20"/>
                    <label for="lastName" class="star"></label>
                    {% if error_lastname %}
                        <span class="inCorrect">{{ error_lastname }}</span>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="grid">
            <div class="width-50">
                <div class="form-group position-relative required">
                    <input type="text" id="address1" name="general_address" required="required"
                           class="form-control toChange" value="{{ general_address }}"
                           placeholder="Address 1:"
                           maxlength="20"/>
                    <label for="address1" class="star"></label>
                    {% if error_general_address %}
                        <span class="inCorrect">{{ error_general_address }}</span>
                    {% endif %}
                </div>
            </div>

            <div class="width-50">
                <div class="form-group position-relative required">
                    <input type="text" id="apt" name="general_apt" required="required"
                           class="form-control toChange" value="{{ general_apt }}" pattern="[0-9]*"
                           placeholder="Apt/Suite #:"
                           maxlength="20"/>
                    <label for="apt" class="star"></label>
                    {% if error_general_apt %}
                        <span class="inCorrect">{{ error_general_apt }}</span>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="grid">
            <div class="width-50">
                <div class="form-group position-relative required">
                    <input type="text" id="city" name="general_city" required="required"
                           class="form-control toChange" value="{{ general_city }}"
                           placeholder="City:"
                           maxlength="20"/>
                    <label for="city" class="star"></label>
                    {% if error_general_city %}
                        <span class="inCorrect">{{ error_general_city }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="width-50">
                <div class="form-group position-relative required">
                    <input type="text" id="zip" name="general_postcode" required="required"
                           class="form-control toChange" value="{{ general_postcode }}"
                           placeholder="ZIP"
                           pattern="[0-9]*" maxlength="20"/>
                    <label for="zip" class="star"></label>
                    {% if error_general_postcode %}
                        <span class="inCorrect">{{ error_general_postcode }}</span>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="grid">
            <div class="width-50">

                <div class="form-group position-relative requiredSelect catContaienr selectBorder">
                    <span class="red position-absolute star">*</span>
                    <select id="country" name="general_country_id" class="country_select cat" data-zone="state">
                        {% for country in countries %}
                            <option value="{{ country.country_id }}" {% if country.country_id == general_country_id %} selected="selected" {% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                    {% if error_general_country %}
                        <span class="inCorrect">{{ error_general_country }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="width-50">
                <div class="form-group position-relative requiredSelect catContaienr selectBorder">
                    <span class="red position-absolute star">*</span>
                    <select id="state" name="general_zone_id" class="cat">
                        {% for state in general_states %}
                            <option value="{{ state.zone_id }}" {% if state.zone_id == general_zone_id %} selected="selected" {% endif %}>{{ state.name }}</option>
                        {% endfor %}
                    </select>
                    {% if error_general_state %}
                        <span class="inCorrect">{{ error_general_state }}</span>
                    {% endif %}
                </div>
            </div>
        </div>


        <p>
            BILLING ADDRESS
        </p>


        <div class="grid">
            <div class="width-50">
                <div class="form-group position-relative required">
                    <input type="text" id="billingDaddress1" name="billing_address" required="required"
                           placeholder="Address 1:"
                           class="form-control toChange" value="{{ billing_address }}"
                           maxlength="20"/>
                    <label for="billingDaddress1" class="star"></label>
                    {% if error_billing_address %}
                        <span class="inCorrect">{{ error_billing_address }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="width-50">
                <div class="form-group position-relative required">
                    <input type="text" id="billingApt" name="billing_apt" required="required"
                           placeholder="Apt/Suite #:"
                           class="form-control toChange" value="{{ billing_apt }}" pattern="[0-9]*"
                           maxlength="20"/>
                    <label for="billingApt" class="star"></label>
                    {% if error_billing_apt %}
                        <span class="inCorrect">{{ error_billing_apt }}</span>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="grid">
                <div class="width-50">
                    <div class="form-group position-relative required">
                        <input type="text" id="billingCity" name="billing_city" required="required"
                               placeholder="City:"
                               class="form-control toChange" value="{{ billing_city }}"
                               maxlength="20"/>
                        <label for="billingCity" class="star"></label>
                        {% if error_billing_city %}
                            <span class="inCorrect">{{ error_billing_city }}</span>
                        {% endif %}
                    </div>
                </div>

            <div class="width-50">
                <div class="form-group position-relative required">
                    <input type="text" id="billingZip" name="billing_postcode" required="required"
                           placeholder="ZIP"
                           class="form-control toChange" value="{{ billing_postcode }}"
                           pattern="[0-9]*" maxlength="20"/>
                    <label for="billingZip" class="star"></label>
                    {% if error_billing_postcode %}
                        <span class="inCorrect">{{ error_billing_postcode }}</span>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="grid">
            <div class="width-50">

                <div class="form-group position-relative requiredSelect catContaienr selectBorder">
                    <span class="red position-absolute star">*</span>
                    <select id="billing_country" name="billing_country_id" class="country_select cat" data-zone="billingState">
                        {% for country in countries %}
                            <option value="{{ country.country_id }}" {% if country.country_id == billing_country_id %} selected="selected" {% endif %}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                    {% if error_billing_country %}
                        <span class="inCorrect">{{ error_billing_country }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="width-50">
                <div class="form-group position-relative requiredSelect catContaienr selectBorder">
                    <span class="red position-absolute star">*</span>
                    <select name="billing_zone_id" id="billingState" class="cat">
                        {% for state in billing_states %}
                            <option value="{{ state.zone_id }}" {% if state.zone_id == billing_zone_id %} selected="selected" {% endif %}>{{ state.name }}</option>
                        {% endfor %}
                    </select>
                    {% if error_billing_state %}
                        <span class="inCorrect">{{ error_billing_state }}</span>
                    {% endif %}
                </div>
            </div>
        </div>


        <p>SIGN IN INFORMATION</p>


        <div class="form-group position-relative required">
            <input type="text" id="email" name="email" required="required"
                   class="form-control toChange"
                   placeholder="Email Address"
                   maxlength="20"  value="{{ email }}"/>
            <label for="email" class="star"></label>
            {% if error_email %}
                <span class="inCorrect">{{ error_billing_address }}</span>
            {% endif %}
        </div>



        <div class="form-group position-relative required">
            <input type="password" id="oldPassword" name="old_password"
                   class="form-control toChange"
                   placeholder="Old Password:"
                   maxlength="20"/>
            <label for="oldPassword" class="star"></label>
            {% if error_old_password %}
                <span class="inCorrect">{{ error_old_password }}</span>
            {% endif %}
        </div>


        <div class="form-group position-relative required">
            <input type="password" id="newPassword" name="password"
                   placeholder="New Password:"
                   class="form-control toChange"
                   maxlength="20"/>
            <label for="newPassword" class="star"></label>
            {% if error_password %}
                <span class="inCorrect">{{ error_password }}</span>
            {% endif %}
        </div>



        <div class="form-group position-relative required">
            <input type="password" id="confirmPassword" name="confirm"
                   class="form-control toChange"
                   placeholder="Confirm New Password:"
                   maxlength="20"/>
            <label for="confirmPassword" class="star"></label>
            {% if error_confirm %}
                <span class="inCorrect">{{ error_confirm }}</span>
            {% endif %}
        </div>


        <button type="submit" class="commonBtn white">Save</button>

    </form>


</div>






<script type="text/javascript">
    $(document).ready(function(){
        $('.country_select').on('change', function() {
            var self=this;
            $.ajax({
                url: 'index.php?route=account/account/country&country_id=' + this.value,
                dataType: 'json',
                beforeSend: function() {
                    $(self).prop('disabled', true);
                },
                complete: function() {
                    $(self).prop('disabled', false);
                },
                success: function(json) {

                    html = '<option value=""> Select State </option>';

                    if (json['zone'] && json['zone'] != '') {
                        for (i = 0; i < json['zone'].length; i++) {
                            html += '<option value="' + json['zone'][i]['zone_id'] + '"';

                            if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
                                html += ' selected="selected"';
                            }

                            html += '>' + json['zone'][i]['name'] + '</option>';
                        }
                    } else {
                        html += '<option value="0" selected="selected">{{ text_none }}</option>';
                    }
                    var id = $(self).data('zone');
                    $('#'+id).html(html);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        $('#oldPassword').on('keyup',function(){
           if($(this).val().length){
               $('#newPassword').prop('required',true);
               $('#confirmPassword').prop('required',true);
           }
           else{
               $('#newPassword').prop('required',false);
               $('#confirmPassword').prop('required',false);
           }
        });
    });

</script>