<div id="garage" >
    <div class="commonPadding">

    <div class="tableHeader clearfix">
        <p class="float-left">My Garage</p>
        <a href="#" class="float-right">
            <i class="fas fa-plus red"></i>
            ADD A VEHICLE
        </a>
    </div>

    {% for car in cars %}
    <div class="garageBlock">
        <div class="text">
            <span>{{ loop.index }}.</span>
            <p>{{ car.year }} {{ car.manufacturer }} {{ car.name }}</p>
        </div>
        <div class="actions clearfix">
            <button class="mainButton" onclick="location.href='{{ car.accessories_href }}'">
                BROWSE ACCESSORIES
            </button>
            <button class="mainButton" onclick="location.href='{{ car.parts_href }}'">
                BROWSE PARTS
            </button>
            <button class="mainButton">
                REMOVE
            </button>
        </div>
    </div>
    {% endfor %}

</div>
</div>