<div id="vins">
    <div  class="commonPadding">

    <div class="vinContainer">
        <p>Add New VIN:</p>
        <form action="{{ action }}" method="POST">
            <div class="form-group position-relative required">
                <input type="text" id="vin1" name="vin1"
                       class="form-control toChange"/>
                <label for="vin1" class="star">VIN 1.</label>
            </div>
            <div class="form-group position-relative required">
                <input type="text" id="vin2" name="vin2"
                       class="form-control toChange"/>
                <label for="vin2" class="star">VIN 2.</label>
            </div>
            <div class="form-group position-relative required">
                <input type="text" id="vin3" name="vin3"
                       class="form-control toChange"/>
                <label for="vin3" class="star">VIN 3.</label>
            </div>
            <div class="form-group position-relative required">
                <input type="text" id="vin4" name="vin4"
                       class="form-control toChange"/>
                <label for="vin4" class="star">VIN 4.</label>
            </div>
            <div class="text-center clearfix">
                <button type="submit" class="commonBtn orderBtn">Update</>
            </div>

        </form>
    </div>

</div>
</div>
