<div id="myOrders">
    <div class="orderStatus">
        <form action="{{ search_action }}" method="POST">
            <span>Order Status:</span>
            <div class="form-group catContaienr selectBorder">
                <select name="status_id" id="orderStatus" class="cat">
                    <option value="-1">All</option>
                    {% for status in statuses %}
                        <option value="{{ status.id }}" {% if status.selected %} selected="selected"{% endif %}>{{ status.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group vinNo">
                <input type="text" placeholder="Enter VIN NO." class="form-control" name="vin">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="totalOrders commonPadding">
        <div class="clearfix tableHeader">
            <p class="float-left">Total Order Amount</p>
            <span class="float-right">1 - 0 of 0 [ ]</span>
        </div>

        <table>
            <thead>
            <tr>
                <th>Name/Email</th>
                <th>Make</th>
                <th>Type</th>
                <th>Total</th>
                <th>Status</th>
                <th>Date</th>
                <th>Ref#</th>
            </tr>
            </thead>

            <tbody>

            {% for order in orders %}
            <tr>
                <td>{{ order.name }}</td>
                <td>{{ order.maker }}</td>
                <td>{{ order.type }}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.date_added }}</td>
                <td>{{ order.view }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
