{{ header }}
<section class="marginBottom90" id="firstSection">
    <div class="myContainer">
        <div class="signing">
            <div class="register registerStyle">
                <p class="signingHeader">SIGN IN</p>
                <form action="{{ login_action }}" method="post" enctype="multipart/form-data">
                    <div class="form-group position-relative required">
                        <input type="email" name="email" value="{{ email }}" id="input-email"
                               placeholder="Email Address"
                                required="required" class="form-control toChange"/>
                        <label for="email" class="star"></label>
                    </div>
                    <div class="form-group position-relative required">
                        <input type="password" id="password" name="password" required="required"
                               placeholder="Password" class="form-control toChange"/>
                        <label for="password" class="star"></label>
                    </div>
                    {% if error_warning %}
                    <span class="inCorrect">{{ error_warning }}</span>
                    {% endif %}
                    <div class="loginBtn">
                        <button type="submit" class="commonBtn">
                            Login
                        </button>
                        <a href="#">Forgot your Password?</a>
                    </div>
                    {% if redirect %}
                        <input type="hidden" name="redirect" value="{{ redirect }}" />
                    {% endif %}
                </form>
            </div>
            <div class="register registerStyle">
                <p class="signingHeader">SIGN UP</p>
                <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">

                    <div class="form-group position-relative required">
                        <input type="text" name="firstname" value="{{ firstname }}"  id="input-firstname"
                               required="required" class="form-control toChange"
                               placeholder="First Name"
                               pattern="^[A-Za-z -]+$" maxlength="20"/>
                        {% if error_firstname %}
                            <span class="inCorrect">{{ error_firstname }}</span>
                        {% endif %}
                        <label for="firstName" class="star"></label>
                    </div>

                    <div class="form-group position-relative required">
                        <input type="text" name="lastname" value="{{ lastname }}"
                               pattern="^[A-Za-z -]+$" maxlength="20"
                               placeholder="Last Name"
                               id="input-lastname" class="form-control toChange" />
                        {% if error_lastname %}
                            <span class="inCorrect">{{ error_lastname }}</span>
                        {% endif %}
                        <label for="lastName" class="star"></label>
                    </div>

                    <div class="form-group position-relative required">
                        <input type="email" name="email" value="{{ email }}"
                               id="input-email"  required="required"
                               class="form-control toChange"
                               placeholder="Email Address"
                               maxlength="40"/>
                        {% if error_email %}
                            <span class="inCorrect">{{ error_email }}</span>
                        {% endif %}
                        <label for="emailRegister" class="star"></label>
                    </div>

                    <div class="form-group position-relative required">
                        <input type="password" id="input-password" name="password" value="{{ password }}" required="required"
                               placeholder="Password"
                               class="form-control toChange" maxlength="20"/>
                        {% if error_password %}
                            <span class="inCorrect">{{ error_password }}</span>
                        {% endif %}
                        <label for="passwordRegister" class="star"></label>
                    </div>

                    <div class="form-group position-relative required">
                        <input type="password" name="confirm" value="{{ confirm }}"
                               id="input-confirm" required="required"
                               placeholder="Confirm Password"
                               class="form-control toChange" maxlength="20"/>
                        {% if error_confirm %}
                            <span class="inCorrect">{{ error_confirm }}</span>
                        {% endif %}
                        <label for="confirmPassword" class="star"></label>
                    </div>

                    <button type="submit" class="commonBtn">
                        Register Me
                    </button>
                    <div class="">
                        <div class="checkBox">
                            <label>
                                Speed your way through the checkout.
                                <input type="checkbox">
                                <span class="checkMark"></span>
                            </label>
                        </div>
                        <div class="checkBox">
                            <label>
                                Track your orders easily.
                                <input type="checkbox">
                                <span class="checkMark"></span>
                            </label>
                        </div>
                        <div class="checkBox">
                            <label>
                                Keep a record of all your purchases.
                                <input type="checkbox">
                                <span class="checkMark"></span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript"><!--
// Sort the custom fields
$('#account .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
		$('#account .form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#account .form-group').length) {
		$('#account .form-group:first').before(this);
	}
});

$('input[name=\'customer_group_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
		dataType: 'json',
		success: function(json) {
			$('.custom-field').hide();
			$('.custom-field').removeClass('required');

			for (i = 0; i < json.length; i++) {
				custom_field = json[i];

				$('#custom-field' + custom_field['custom_field_id']).show();

				if (custom_field['required']) {
					$('#custom-field' + custom_field['custom_field_id']).addClass('required');
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('input[name=\'customer_group_id\']:checked').trigger('change');
//--></script> 
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script> 
{{ footer }} 