<section class="padding-50 chooseUs">
    <div class="myContainer">
        <div class="borderedText">
            <div class="mainText">
                <h1>{{ title }}</h1>

                <p class="red after">{{ meta_description }}</p>
            </div>

            {{ description }}

        </div>
    </div>
</section>