<section class="accessories popupSection">
    <div class="myContainer">
        <h1 class="darkGray">
            Featured Accessories
        </h1>

        <div class="commonTabs catContaienr ">
            <div class="d-none">
                {% for sicon_category in accessory_scion %}
                <div id="{{ sicon_category.id }}" onclick="car_pop.index.call(this,'accessories', {{ sicon_category.id }}); car_pop.manufacturer.call(this,{{ sicon_category.manu_id }})" id="{{ sicon_category.id }}" class="openPopup">
                    {{ sicon_category.name }}
                </div>
                {% endfor %}
            </div>
            <ul class="firstList">
                {% for manufacturer in manufacturers %}
                    <li><a href="#{{ manufacturer.name1 }}"
                           data-attr="{{ manufacturer.name1 }}">{{ manufacturer.name }}</a></li>
                {% endfor %}
            </ul>
            <div class="forTabs">
                <div id="scion" class="catContaienr selectBorder">
                    <ul class="secondList d-flex">
                        {% for sicon_category in accessory_scion %}
                            <li><a id="{{ sicon_category.id }}" onclick="car_pop.index.call(this,'accessories', {{ sicon_category.id }}); car_pop.manufacturer.call(this,{{ sicon_category.manu_id }})"
                                   href="javascript:void(0)" class="openPopup" data-attr="audio"> {{ sicon_category.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <div>
                        <div class="grid">

                            {% for scion_product in scion_products %}
                                {% if loop.index == 1 or loop.index == 4 %}
                                    <div class="accessory">
                                        <div class="mainImage fill-img">
                                            <img src="{{ scion_product.thumb_large }}" alt="">
                                            <a onclick="garage.add({{ scion_product.car_id }}, {{ scion_product.edition }})" href="{{ scion_product.href }}">
                                            <div class="mainImgDescription">
                                                <p class="realway-bold">

                                                    {{ scion_product.name }}

                                                </p>
                                                <p class="clearfix">
                                                    <span class="float-left">{{ scion_product.year }} {{ scion_product.manufacturer }} {{ scion_product.model }}</span>
                                                    <span class="float-right">
                                        <span class="red">Our Price:</span>
                                        <span>{{ scion_product.price }}</span>
                                    </span>
                                                </p>
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if loop.index == 2 %}
                                    <div class="accessory">
                                    <div class="subImage fill-img">
                                        <img src="{{ scion_product.thumb_small }}" alt="">
                                        <a onclick="garage.add({{ scion_product.car_id }}, {{ scion_product.edition }})" href="{{ scion_product.href }}">
                                        <div class="mainImgDescription">
                                            <p class="realway-bold">
                                                {{ scion_product.name }}
                                            </p>
                                            <p class="clearfix">
                                                <span class="float-left">{{ scion_product.year }} {{ scion_product.manufacturer }} {{ scion_product.model }}</span>
                                                <span class="float-right">
                                        <span class="red">Our Price:</span>
                                        <span>{{ scion_product.price }}</span>
                                    </span>
                                            </p>
                                        </div>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if loop.index == 3 %}
                                    <div class="subImage fill-img">
                                        <img src="{{ scion_product.thumb_small }}" alt="">
                                        <a onclick="garage.add({{ scion_product.car_id }}, {{ scion_product.edition }})" href="{{ scion_product.href }}">
                                        <div class="mainImgDescription">
                                            <p class="realway-bold">
                                                {{ scion_product.name }}
                                            </p>
                                            <p class="clearfix">
                                                <span class="float-left">{{ scion_product.year }} {{ scion_product.manufacturer }} {{ scion_product.model }}</span>
                                                <span class="float-right">
                                        <span class="red">Our Price:</span>
                                        <span>{{ scion_product.price }}</span>
                                    </span>
                                            </p>
                                        </div>
                                        </a>
                                    </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-center col-12 p-0">
                            <a href="#" class="commonBtn">All Models</a>
                        </div>
                    </div>

                </div>

                <div id="toyota"  class="catContaienr selectBorder">

                    <div class="d-none">
                        {% for toyota_category in accessory_toyota %}
                            <div id="{{ toyota_category.id }}" onclick="car_pop.index.call(this,'accessories', {{ toyota_category.id }}); car_pop.manufacturer.call(this,{{ toyota_category.manu_id }})" id="{{ toyota_category.id }}" class="openPopup">
                                {{ sicon_category.name }}
                            </div>
                        {% endfor %}
                    </div>

                    <ul class="secondList d-flex">
                        {% for toyota_category in accessory_toyota %}
                            <li><a id="{{ toyota_category.id }}" onclick="car_pop.index.call(this,'accessories',{{ toyota_category.id }}) ; car_pop.manufacturer.call(this,{{ toyota_category.manu_id }})"
                                   href="javascript:void(0)" class="openPopup"
                                   data-attr="audio"> {{ toyota_category.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <div>
                        <div class="grid">

                            {% for toyota_product in toyota_products %}
                                {% if loop.index == 1 or loop.index == 4 %}
                                    <div class="accessory">
                                        <div class="mainImage fill-img">
                                            <img src="{{ toyota_product.thumb_large }}" alt="">
                                            <a onclick="garage.add({{ toyota_product.car_id }}, {{ toyota_product.edition }})" href="{{ toyota_product.href }}">
                                            <div class="mainImgDescription">
                                                <p class="realway-bold">
                                                    {{ toyota_product.name }}
                                                </p>
                                                <p class="clearfix">
                                                    <span class="float-left">{{ toyota_product.year }} {{ toyota_product.manufacturer }} {{ toyota_product.model }}</span>
                                                    <span class="float-right">
                                        <span class="red">Our Price:</span>
                                        <span>{{ toyota_product.price }}</span>
                                    </span>
                                                </p>
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if loop.index == 2 %}
                                    <div class="accessory">
                                    <div class="subImage fill-img">
                                        <img src="{{ toyota_product.thumb_small }}" alt="">
                                        <a onclick="garage.add({{ toyota_product.car_id }}, {{ toyota_product.edition }})" href="{{ toyota_product.href }}">
                                        <div class="mainImgDescription">
                                            <p class="realway-bold">
                                                {{ toyota_product.name }}
                                            </p>
                                            <p class="clearfix">
                                                <span class="float-left">{{ toyota_product.year }} {{ toyota_product.manufacturer }} {{ toyota_product.model }}</span>
                                                <span class="float-right">
                                        <span class="red">Our Price:</span>
                                        <span>{{ toyota_product.price }}</span>
                                    </span>
                                            </p>
                                        </div>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if loop.index == 3 %}
                                    <div class="subImage fill-img">
                                        <img src="{{ toyota_product.thumb_small }}" alt="">
                                        <a onclick="garage.add({{ toyota_product.car_id }}, {{ toyota_product.edition }})" href="{{ toyota_product.href }}">
                                        <div class="mainImgDescription">
                                            <p class="realway-bold">
                                                {{ toyota_product.name }}
                                            </p>
                                            <p class="clearfix">
                                                <span class="float-left">{{ toyota_product.year }} {{ toyota_product.manufacturer }} {{ toyota_product.model }}</span>
                                                <span class="float-right">
                                        <span class="red">Our Price:</span>
                                        <span>{{ toyota_product.price }}</span>
                                    </span>
                                            </p>
                                        </div>
                                        </a>
                                    </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="d-flex justify-content-center col-12 p-0">
                            <a href="#" class="commonBtn">All Models</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ pop_up }}
</section>
