<li class="position-relative">
  <div>
    <div class="subDataImage" id="cart-number">
      <img src="catalog/view/theme/carspare/image/Cart.svg" alt="">
      <div class="itemNumbers">
          {{ count }}
      </div>
    </div>
    <a href="{{ cart }}">
      CART
    </a>
  </div>

</li>