<section class="shopByCategory before before-60 after after-60 right popupSection resetPopup">

    <div class="myContainer bgText">
        <h1 class="white">Shop By Category</h1>
        <div class="imgContainer">
            <img src="catalog/view/theme/carspare/image/coloredImg.png" alt="">
        </div>
    </div>

    <div class="myContainer">
        <div class="swiper-container categories">
            <div class="swiper-wrapper">
                {% for category in categories %}
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-4">
                                <img src="{{ category.image }}" alt="">
                            </div>
                            <div class="col-8 categoryDescription">
                                <p>
                                    <a onclick="car_pop.index.call(this,'parts',{{ category.id }})" href="javascript:void(0)" class="openPopup">
                                        {{ category.name }} Parts
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="swiper-button-prev forCategories">
            <i class="fas fa-arrow-left font-30"></i>
        </div>
        <div class="swiper-button-next forCategories">
            <i class="fas fa-arrow-right font-30"></i>
        </div>
    </div>
    {{ pop_up }}
</section>