<a href="javascript:void(0)" onclick="vehicle.index('change')" class="changeVehicle openPopup">
    Change Vehicle +
</a>
<div class="itemImage">
    <div class="" style="background-image: url('catalog/view/theme/carspare/image/item.png');">
        <img src="{{ image }}" alt="">

    </div>
    <p>{{ brand }} {{ model }}</p>
    <span>{{ year }}</span>
</div>
{{ pop_up }}