<footer class="position-relative">
  <div class="myContainer top">
    <a href="javascript:void(0)" class="scroll">
      <i class="fas fa-angle-up"></i>
    </a>
    <div class="footerContent">
      <div class="footerItem">
        <a href="{{ home }}">
          <img src="{{ logo }}" alt="" class="logo">
        </a>
      </div>
      <div class="footerItem">
        <div class="head after">
          HOURS OF
          OPERATION
        </div>
        <div class="description">
                {{ open }}
        </div>
      </div>
      <div class="footerItem">
        <div class="head after">
          CUSTOMER SERVICE
        </div>
        <div class="description">
          <a href="{{ account }}" class="hover">
            My Account
          </a>
          <a href="{{ contact }}" class="hover">
            Contact Support
          </a>
          <a href="{{ policies }}" class="hover">
            Store Policies
          </a>
        </div>
      </div>
        <div class="footerItem">
            <div class="head after">
                INFORMATION
            </div>
            <div class="description">
                <a href="{{ order }}" class="hover">
                    Order History
                </a>
                {% for info in informations %}
                <a href="{{ info.href }}" class="hover">
                    {{ info.title }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
  </div>
  <div class="bottom">
    <div class="myContainer">
      <div class="clearfix position-relative">
        <div class="copyRight">
            {{ powered }}
        </div>
        {{ message }}

      </div>
    </div>
  </div>
</footer>

