<li class="cart popupSection resetPopup">
    <div class="cartLink">
        <div class="subDataImage" id="garage-number">
            <img src="catalog/view/theme/carspare/image/Garage.svg" alt="">
            <div class="itemNumbers">
                {{ count }}
            </div>
        </div>
        GARAGE
    </div>
    <div class="cartPopup">

        <div class="first">
            <div class="head">
                <p>Selected Vehicle History</p>
                <span>Easily navigate the latest vehicles selected</span>
            </div>
            <div class="ul">
                <ul id="garage" >
                    {% if garages %}
                        {% for garage in garages %}
                            <li class="actions clearfix">
                                <p style="color: #000;">{{ garage.year }} {{ garage.manufacturer }} {{ garage.name }} {{ garage.edtion_name }}</p>
                                <div class="">
                                    {% if loop.index0 < length %}
                                        <button onclick="garage.remove( {{ garage.id }} )">Remove</button>
                                    {% else %}
                                        <button onclick="garage.save( {{ garage.id }} )">SAVE</button>
                                    {% endif %}
                                    <button>BROWSE CATALOG</button>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="actions clearfix">
                            <p>{{ empty }}</p>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="moreBtns clearfix">
                <a href="javascript:void(0)" class="openPopup">
                    <i class="fas fa-plus red"></i>
                    ADD A VEHICLE
                </a>

                <a onclick="garage.clear()" href="javascript:void(0)">
                    <i class="fas fa-times red"></i>
                    CLEAR HISTORY
                </a>

            </div>
        </div>

    </div>

    {{ pop_up }}
</li>