<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="catalog/view/theme/carspare/stylesheet/bootstrap.min.css">
  <link rel="stylesheet" href="catalog/view/theme/carspare/stylesheet/fontawesome-all.min.css">
  <link rel="stylesheet" href="catalog/view/theme/carspare/stylesheet/jquery-ui.min.css">
  <link rel="stylesheet" href="catalog/view/theme/carspare/stylesheet/swiper.min.css">
  <link rel="stylesheet" href="catalog/view/theme/carspare/stylesheet/perfect-scrollbar.css">
  <link rel="stylesheet" href="catalog/view/theme/carspare/stylesheet/reset.css">
  <link rel="stylesheet" href="catalog/view/theme/carspare/stylesheet/shared.css">
  <link rel="stylesheet" href="catalog/view/theme/carspare/stylesheet/main.css">
  <link rel="stylesheet" href="catalog/view/theme/carspare/stylesheet/popup.css">
  <link rel="stylesheet" href="catalog/view/theme/carspare/stylesheet/site.css">
  <title>{{ title }}</title>
  <script src="catalog/view/theme/carspare/js/jquery-3.3.1.min.js"></script>
  <script src="catalog/view/theme/carspare/js/jquery-ui.min.js"></script>
  <script src="catalog/view/theme/carspare/js/bootstrap.min.js"></script>
  <script src="catalog/view/theme/carspare/js/swiper.min.js"></script>
  <script src="catalog/view/theme/carspare/js/main.js"></script>
  <script src="catalog/view/theme/carspare/js/perfect-scrollbar.min.js"></script>
  <script src="catalog/view/javascript/common.js"></script>
  <script src="catalog/view/javascript/popup.js"></script>
<title>{{ title }}</title>
  <base h="{{ base }}" />
<style>
  .itemData {
    padding-right: 20px;
    max-height: 450px;
    position: relative;
    /*overflow-y: hidden;*/
    /*direction: ltr;*/
  }
</style>
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
  <div class="myContainer clearfix">
    <div class="whiteBg d-flex align-items-center">
      <div class="logo">
        <a href="{{ home }}">
          <img src="{{ logo }}" alt="">
        </a>
      </div>
      <div class="singleHead openMenu">
        <i class="bars"><i></i></i>
      </div>
      <div class="navLinks position-relative">
        <ul>
          {{ menu }}
        </ul>
          <div class="formToHide">
              <form action="" id="search-form">
                  <input type="text" name="search" placeholder="Search" class="form-control">
              </form>
          </div>
      </div>
      <div class="search">
        <a href="javascript:void(0)"><img src="catalog/view/theme/carspare/image/search.svg" alt=""></a>
      </div>
    </div>

    <ul class="subData d-flex align-items-center">
      {{ view }}
     {{ garage }}
      {{ cart }}
    </ul>
  </div>
</header>
<div class="responsiveMenu">
  <div class="menuContainer">
    <div class="searchForm">
      <div class="myContainer">
        <form action="">
          <div class="form-group position-relative">
            <input type="text" placeholder="Search">
            <button>
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="myContainer">
      <ul class="mainList">
          {{ menu }}
      </ul>
    </div>
    <ul class="subData d-flex align-items-center">
      <li>

        <a href="#">
          <img src="catalog/view/theme/carspare/image/Viewd.svg" alt=""><br>
          VIEWED
        </a>
      </li>
      <li>
        <a href="#">
          <img src="catalog/view/theme/carspare/image/Garage.svg" alt=""><br>
          GARAGE
        </a>
      </li>
      <li class="cart position-relative">
        <a href="#" class="cartLink">
          <img src="catalog/view/theme/carspare/image/Cart.svg" alt=""><br>
          CART
        </a>
      </li>
    </ul>
  </div>
</div>

<script>
    $('.search a').click(function (e) {
        $('.formToHide').css('display', 'block')
    });

    $('body').click(function () {
        $('.formToHide').css('display', 'none')
    });

    $('.search, .formToHide input').click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        if($(this).hasClass('search'))
        {
            search = $("#search-form input[name='search']").val();
            if (search) {
                $('#search-form').submit()
            }
        }
    });

</script>