

{{ header }}
<section id="firstSection" class="homeSlider">
  <div class="bgImg">
    <img src="catalog/view/theme/carspare/image/bars.png" alt="">
  </div>
  <div class="bgImg left">
    <img src="catalog/view/theme/carspare/image/bars.png" alt="">
  </div>
  <div class="myContainer">
    {{ content_top }}
  </div>
</section>
{{ select_vehicle }}
{{ about }}
<section class="shopByBrand">
  <div class="myContainer bgText">
    <h1 class="white">Shop By Brand</h1>
    <div class="twoButtons basic">
      {% for manufacture in manufacturers %}
      <a href="{{ manufacture.url }}">
        {{ manufacture.name }} Parts
      </a>
      {% endfor %}
    </div>
    <div class="after after-78 before before-89 imgContainer">
      <div class="imgWrapper">
        <img src="catalog/view/theme/carspare/image/coloredImg.png" alt="">
      </div>
    </div>
  </div>

</section>

<section class="padding-50">
  <div class="myContainer">
    <h1 class="darkGray">
      Popular Models
    </h1>
    <div class="popular">
      {% for p in popular_products %}
      <div class="singleModel">
        <div class="imgContainer" style="background-image: url('catalog/view/theme/carspare/image/carBg.png')">
          <a href="{{ p.url }}"><img src="{{ p.image }}" alt=""></a>
        </div>
        <div class="carDesc">
          <p>{{ p.manufacturer }} {{ p.name }}</p>
          <p>{{ p.year }}</p>
        </div>
      </div>
      {% endfor %}
      <div class="d-flex justify-content-center col-12">
        <a href="{{ all_models }}" class="commonBtn">All Models</a>

      </div>
    </div>
  </div>
</section>

{{ category }}

{{ accessories_slide }}

{{ footer }}