<li {% if home.is_active %} class="active" {% endif %}><a class="uppercase" href="{{ home.href }}">HOME</a></li>
{% if categories %}
    {% for category in categories %}
        <li {% if category.is_active %} class="active" {% endif %}>
            <a class="uppercase"href="{{ category.href }}">{{ category.name }}</a>
        </li>
    {% endfor %}
{% endif %}
<li {% if contact.is_active %} class="active" {% endif %}><a class="uppercase" href="{{ contact.href }}">Contact</a></li>
<li {% if login.is_active %} class="active" {% endif %}><a class="uppercase" href="{{ login.href }}">Login</a></li>
