<div class="messagePopup clearfix">
    <div class="leaveMsg">
        <a href="javascript:void(0)" class="d-block clearfix">
            <span class="float-left"> {{ heading_title }}</span>
            <span class="float-right"><i class="fas fa-angle-down"></i></span>
        </a>
    </div>

    <div class="msgPopupContent">
        <p> {{ text_no_agents }} </p>
        <form action="{{ action }}" id="csp_contact_message">
            <input type="text" placeholder="{{ entry_name }}" class="form-control" name="name">
            <input type="email" placeholder="{{ entry_email }}" class="form-control" name="email">
            <textarea placeholder="{{ entry_message }}..." class="form-control" cols="5" name="message"></textarea>
            <button class="commonBtn">{{ text_submit }}</button>
        </form>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#csp_contact_message').on('submit',function(e){
            e.preventDefault();
            $("#csp_success").html('');
            var height = $('.msgPopupContent p').height();
            var url = $(this).attr('action');
            var data = {
                'name':$(this).find('[name="name"]').first().val(),
                'message':$(this).find('[name="message"]').first().val(),
                'email':$(this).find('[name="email"]').first().val()
            };

            $.ajax({
                url: url,
                data: data,
                type: 'POST',

                success: function (response) {
                    console.log(response);
                    if(response) {

                        $(".msgPopupContent p").html(response);
                        if(!$(".msgPopupContent p").hasClass('text-success')){
                            $(".msgPopupContent p").addClass('text-success');
                            $('.msgPopupContent p').height(height);
                        }
                    }
                }
            });
        });
    });
</script>