<div class="commonPopup">
    <div class="myContainer">
        <div class="popupContainer">
            <div class="popupHeader clearfix">
                <span class="float-left">SELECT YOUR VEHICLE</span>
                <a href="javascript:void(0)" class="float-right closePopup">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <div class="popupContent popup2 makePopup">
                <p class="header align-self-center m-0">
                    Make
                </p>

                <div id="man">
                  {#  {% for popup_manufacturer in popup_manufacturers %}
                        <a onclick="car_pop.manufacturer.call(this,{{ popup_manufacturer.id }})" href="javascript:void(0)" class="mainButton">
                            {{ popup_manufacturer.name }}
                        </a>
                    {% endfor %}#}
                </div>

                <button class="commonBtn closePopup">
                    Close
                </button>
            </div>

            <div class="popupContent clearfix yearsContent">

                <nav aria-label="breadcrumb" class="header differentMargin">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)" class="Year">Year</a></li>
                    </ol>
                </nav>


                <div class="allYears allYears1 Year">
                    <div class="row">


                    </div>
                </div>

                <div id="model" class="allYears model Model">
                    <div class="row">


                    </div>
                </div>

                <div class="allYears model Edition">
                    <div class="row">


                    </div>
                </div>

                <button class="commonBtn closePopup">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>