<section class="tabSection popupSection">
    <div class="myContainer">
        <div class="tabs commonTabs catContaienr p-0">
            <ul>
                <!-- add class popup -->
                <li>
                    <a href="#vehicle" data-attr="vehicle">
                        SELECT VEHICLE
                    </a>
                </li>
                <li><a href="#partNo" data-attr="partNo">SEARCH PART NUMBER & VIN</a></li>
                <li><a href="#number" data-attr="number">ENTER A QUOTE NUMBER</a></li>
            </ul>
            <div class="tabsContent">
                <div class="forTabs">
                    <div id="vehicle" class="singleTab">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="vehicleForm d-flex flex-wrap">
                                    <div class="formBorder">
                                        <a onclick="car_pop.index.call(this,'parts')" href="javascript:void(0)" class="clearfix openPopup">
                                            <span>Select</span>
                                            <span> Make</span>
                                            <i class="fas fa-angle-down float-right"></i>
                                        </a>
                                        <a onclick="car_pop.index.call(this,'parts')" href="javascript:void(0)" class="clearfix openPopup">
                                            <span>Select</span>
                                            <span> Model</span>
                                            <i class="fas fa-angle-down float-right"></i>
                                        </a>
                                        <a onclick="car_pop.index.call(this,'parts')" href="javascript:void(0)" class="clearfix openPopup">
                                            <span>Select</span>
                                            <span>Year</span>
                                            <i class="fas fa-angle-down float-right"></i>
                                        </a>
                                    </div>
                                    <button>
                                        GO
                                    </button>
                                </div>
                            </div>
                            <div class="type col-12 col-lg-4">
                                <a href="javascript:void(0)" onclick="car_pop.index.call(this,'parts')" class="openPopup">
                                    SHOP BY BRAND
                                </a>
                                <a href="javascript:void(0)" onclick="car_pop.index.call(this,'parts')" class="openPopup">
                                    SHOP BY MODEL
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="partNo" class="singleTab">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <form action="" id="vin-form">
                                    <div class="vehicleForm d-flex flex-wrap">
                                        <div class="formBorder">
                                            <input type="text" placeholder="Enter VIN NO." name="vin_number" class="form-control " pattern="[a-zA-Z0-9]{17}" required>
                                        </div>
                                        <button>
                                            GO
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <script>
                                $('#vin-form').on('submit', function (e) {
                                    e.preventDefault();
                                        window.location = $('base').attr('h')+"index.php?&route=product/search/vin&vin_number="+$('[name="vin_number"]').val()
                                })
                            </script>

                            <div class="type col-12 col-lg-4">
                                <a href="javascript:void(0)" onclick="car_pop.index.call(this,'parts')" class="openPopup">
                                    SHOP BY BRAND
                                </a>
                                <a href="javascript:void(0)" onclick="car_pop.index.call(this,'parts')" class="openPopup">
                                    SHOP BY MODEL
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="number" class="singleTab">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <form action="" id="quote-form">
                                    <div class="vehicleForm d-flex flex-wrap">
                                        <div class="formBorder">
                                            <input type="text" name="quote" placeholder="Quote No. search" class="form-control ">
                                        </div>
                                        <button>
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <script>
                                $('#quote-form').on('submit', function (e) {
                                    e.preventDefault();
                                    window.location = $('base').attr('h')+"index.php?&route=product/search/quote&search="+$('[name="quote"]').val()
                                })
                            </script>

                            <div class="type col-12 col-lg-4">
                                <a href="javascript:void(0)" onclick="car_pop.index.call(this,'parts')" class="openPopup">
                                    SHOP BY BRAND
                                </a>
                                <a href="javascript:void(0)" onclick="car_pop.index.call(this,'parts')" class="openPopup">
                                    SHOP BY MODEL
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ pop_up }}
</section>