<li class="cart ">

    <div class="cartLink">
        <div class="subDataImage" id="view-number">
            <img src="catalog/view/theme/carspare/image/Viewd.svg" alt="">
            <div class="itemNumbers">
                {{ count }}
            </div>
        </div>
        VIEWED
    </div>
    <div class="cartPopup garage">
        <div class="first">
            <form action="" id="view-cart">
                <div class="ul">
                    <ul id="view">
                        {% if views %}
                            {% for view in views %}
                                <li class="head">
                                    <div class="clearfix">
                                        <div class="checkBox">
                                            <label>
                                                <input type="checkbox" value="{{ view.id }}">
                                                <span class="checkMark"></span>
                                            </label>
                                        </div>
                                        <p class="float-left">{{ view.name }}</p>
                                        <p class="float-right">${{ view.price }}</p>
                                    </div>
                                    <span class="realway-light">{{ view.mpn }}</span>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="head">
                                <div class="clearfix">
                                    <p>{{ empty }}</p>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </form>
                <div class="actions clearfix">
                    <div>
                        <button onclick="view.clear()">CLEAR</button>
                        <button onclick="cart.more()">ADD SELECTED TO CART</button>
                        <button>BUY</button>
                    </div>
                </div>

        </div>
    </div>

</li>